{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: 'Listado de ITE',
} %}
    {% block header %}
        {% from 'macros/buttons.html.twig' import tableActionButton2,tableActionButton3 %}

        <div>
            {{ tableActionButton3(path('app_ite_new'), 'bi:plus-lg', 'Nuevo', 'Nuevo ITE', stimulusAction('twig/card/card', 'newElement:prevent', null, {url:path('app_ite_new')})) }}
        </div>
    {% endblock %}

    {% block body %}
        {% component 'Table:Table' with {
            paginator: paginator,
        } %}

            {% block tableHead %}
                <tr>
{#                    <th>Id</th>#}
                    <th>Type</th>
                    <th>Quality</th>
                    <th>Min</th>
                    <th>Max</th>
                    <th>Unidad de Medida</th>
                    <th>Fuente</th>
                    <th>YearReference</th>
                    <th>Ciudad</th>
                    <th>País</th>
                    <th>Tipo de proyecto</th>
{#                    <th>Comment</th>#}
{#                    <th>SourceAccess</th>#}
                    <th></th>
                </tr>
            {% endblock %}

            {% block tableBody %}
                {% from 'macros/buttons.html.twig' import tableActionButton, deleteFormButton, deleteFormButton2, tableActionButton2, tableActionButton3 %}

                {% for ite in paginator.getData() %}
                    <tr {{ stimulusController('delete-form-container') }}>
{#                        <td>{{ ite.id }}</td>#}
                        <td>{{ ite.type.getLabelFrom(ite.type) }}</td>
                        <td>{{ ite.quality.getLabelFrom(ite.quality) }}</td>
                        <td>{{ ite.min }}</td>
                        <td>{{ ite.max }}</td>
                        <td>{{ ite.measurementUnit.code }}</td>
                        <td>{{ ite.source.name }}</td>
                        <td>{{ ite.yearReference }}</td>
                        <td>{{ ite.city.name }}</td>
                        <td>{{ ite.city.country.name }}</td>
                        <td>{{ ite.projectType.name }}</td>
{#                        <td>{{ ite.comment }}</td>#}
{#                        <td>{{ ite.sourceAccess }}</td>#}
                        <td class="text-end">
                            {{ tableActionButton3(path('app_ite_show', {'id': ite.id}), 'bi:eye', '', 'Detalle del ITE', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_ite_show', {'id': ite.id})}), 'btn-link') }}
                            {{ tableActionButton3(path('app_ite_edit', {'id': ite.id}), 'fa:edit', '', 'Editar ITE', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_ite_edit', {'id': ite.id})}), 'btn-link') }}

                            {{ component('DeleteForm', {
                                path: path('app_ite_delete', {'id': ite.id}),
                                confirm: 'Está seguro que desea eliminar el ITE?',
                                token: 'delete' ~ ite.id,
                                title: 'Eliminar ITE',
                                icon: 'bi:trash',
                                cssClass: 'btn-link text-danger'
                            }) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">No se encontraron ITE.</td>
                    </tr>
                {% endfor %}
            {% endblock %}

        {% endcomponent %}

    {% endblock %}

{% endcomponent %}
