{% use "bootstrap_5_layout.html.twig" %}

{# Labels #}

{% block form_label -%}
    {%- if label is same as(false) -%}
        <div class="{{ block('form_label_class') }}"></div>
    {%- else -%}
        {%- set row_class = row_class|default(row_attr.class|default('')) -%}
        {%- if 'form-floating' not in row_class and 'input-group' not in row_class -%}
            {%- if expanded is not defined or not expanded -%}
                {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' col-form-label')|trim}) -%}
            {%- endif -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ block('form_label_class'))|trim}) -%}
        {%- endif -%}
        {{- parent() -}}
    {%- endif -%}
{%- endblock form_label %}

{% block form_label_class -%}
    col-sm-2 col-form-label-sm fw-bold
{%- endblock form_label_class %}

{# Rows #}

{% block form_row -%}
    {%- if expanded is defined and expanded -%}
        {{ block('fieldset_form_row') }}
    {%- else -%}
        {%- set widget_attr = {attr: {'class': 'form-control-sm'}} -%}
        {%- if help is not empty -%}
            {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
        {%- endif -%}
        {%- set row_class = row_class|default(row_attr.class|default('mb-3')) -%}
        {%- set row_key = row_key|default(row_attr['data-key']|default('')) -%}
        {%- set is_form_floating = is_form_floating|default('form-floating' in row_class) -%}
        {%- set is_input_group = is_input_group|default('input-group' in row_class) -%}
        {%- set is_input_collection = is_input_collection|default('input-collection' in row_class) -%}
        {#- Remove behavior class from the main container -#}
        {%- set row_class = row_class|replace({'form-floating': '', 'input-group': ''}) -%}
        <div{% with {attr: row_attr|merge({class: (row_class ~ ' row' ~ ((not compound or force_error|default(false)) and not valid ? ' is-invalid'))|trim})} %}{{ block('attributes') }}{% endwith %}>
            {%- if is_form_floating or is_input_group -%}
                <div class="{{ block('form_label_class') }}"></div>
                <div class="{{ block('form_group_class') }}">
                    {%- if is_form_floating -%}
                        <div class="form-floating">
                            {{- form_widget(form, widget_attr) -}}
                            {{- form_label(form) -}}
                        </div>
                    {%- elseif is_input_group -%}
                        <div class="input-group">
                            {{- form_label(form) -}}
                            {{- form_widget(form, widget_attr) -}}
                            {#- Hack to properly display help with input group -#}
                            {{- form_help(form) -}}
                        </div>
                    {%- endif -%}
                    {%- if not is_input_group -%}
                        {{- form_help(form) -}}
                    {%- endif -%}
                    {{- form_errors(form) -}}
                </div>
            {%- elseif is_input_collection -%}
                {{- form_label(form) -}}
                <div class="{% if label_attr.class is defined and label_attr.class == 'col-sm-4' %}col-sm-8{% else %}{{ block('form_group_class') }}{% endif %}">
                    <div class="input-group">
                        {{- form_widget(form, widget_attr) -}}
{#                        <button#}
{#                                class="btn btn_detail btn-outline-secondary"#}
{#                                type="button"#}
{#                                data-action="live#action"#}
{#                                data-live-action-param="removeItem"#}
{#                                data-live-index-param="{{ row_key }}"#}
{#                        >#}
{#                            {{ ux_icon('bi:trash', {class:'bi', style:'color:white'}) }}#}
{#                        </button>#}
{#                        {% dump(form.vars) %}#}
{#                        {{ form_widget(form.vars.button_delete, { label: 'X', attr: { class: 'btn btn-outline-danger' } }) }}#}
                    </div>
                    {{- form_help(form) -}}
                    {{- form_errors(form) -}}
                </div>
            {%- else -%}
                {{- form_label(form) -}}
                <div class="{% if label_attr.class is defined and label_attr.class == 'col-sm-4' %}col-sm-8{% else %}{{ block('form_group_class') }}{% endif %}">
                    {{- form_widget(form, widget_attr) -}}
                    {{- form_help(form) -}}
                    {{- form_errors(form) -}}
                </div>
            {%- endif -%}
            {# #}</div>
    {%- endif -%}
{%- endblock form_row %}

{% block fieldset_form_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <fieldset{% with {attr: row_attr|merge({class: row_attr.class|default('mb-3')|trim})} %}{{ block('attributes') }}{% endwith %}>
        <div class="row{% if (not compound or force_error|default(false)) and not valid %} is-invalid{% endif %}">
            {{- form_label(form) -}}
            <div class="{{ block('form_group_class') }}">
                {{- form_widget(form, widget_attr) -}}
                {{- form_help(form) -}}
                {{- form_errors(form) -}}
            </div>
        </div>
    </fieldset>
{%- endblock fieldset_form_row %}

{% block submit_row -%}
    <div{% with {attr: row_attr|merge({class: (row_attr.class|default('mb-3') ~ ' row')|trim})} %}{{ block('attributes') }}{% endwith %}>{#- -#}
        <div class="{{ block('form_label_class') }}"></div>{#- -#}
        <div class="{{ block('form_group_class') }}">
            {{- form_widget(form) -}}
        </div>{#- -#}
    </div>
{%- endblock submit_row %}

{% block reset_row -%}
    <div{% with {attr: row_attr|merge({class: (row_attr.class|default('mb-3') ~ ' row')|trim})} %}{{ block('attributes') }}{% endwith %}>{#- -#}
        <div class="{{ block('form_label_class') }}"></div>{#- -#}
        <div class="{{ block('form_group_class') }}">
            {{- form_widget(form) -}}
        </div>{#- -#}
    </div>
{%- endblock reset_row %}

{% block button_row -%}
    <div{% with {attr: row_attr|merge({class: (row_attr.class|default('mb-3') ~ ' row')|trim})} %}{{ block('attributes') }}{% endwith %}>{#- -#}
        <div class="{{ block('form_label_class') }}"></div>{#- -#}
        <div class="{{ block('form_group_class') }}">
            {{- form_widget(form) -}}
        </div>{#- -#}
    </div>
{%- endblock button_row %}

{% block checkbox_row -%}
    <div{% with {attr: row_attr|merge({class: (row_attr.class|default('mb-3') ~ ' row')|trim})} %}{{ block('attributes') }}{% endwith %}>{#- -#}
        <div class="{{ block('form_label_class') }}"></div>{#- -#}
        <div class="{{ block('form_group_class') }}">
            {{- form_widget(form) -}}
            {{- form_help(form) -}}
            {{- form_errors(form) -}}
        </div>{#- -#}
    </div>
{%- endblock checkbox_row %}

{% block form_group_class -%}
    col-sm-10
{%- endblock form_group_class %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
            <div class="invalid-feedback d-block">{{ error.message }}</div>
        {%- endfor -%}
    {%- endif %}
{%- endblock form_errors %}

{#{%- block live_collection_widget -%}#}
{#    {%- if button_add is defined and not button_add.rendered -%}#}
{#        {{ form_row(button_add) }}#}
{#    {%- endif -%}#}
{#    {{ block('form_widget') }}#}
{#{%- endblock -%}#}

{#{%- block live_collection_entry_row -%}#}
{#    <div>#}
{#        {{ block('form_row') }}#}
{#        {%- if button_delete is defined and not button_delete.rendered -%}#}
{#            {{ form_row(button_delete) }}#}
{#        {%- endif -%}#}
{#    </div>#}
{#{%- endblock -%}#}

{% block live_collection_button_add_widget %}
{#    {% set attr = attr|merge({'class': attr.class|default('btn btn-ghost')}) %}#}
{#    {% set translation_domain = false %}#}
    {% set label_html = true %}
{#    {%- set label -%}#}
{#        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">#}
{#            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>#}
{#        </svg>#}
{#        {{ 'form.collection.button.add.label'|trans({}, 'forms') }}#}
{#    {%- endset -%}#}
    {{ block('button_widget') }}
{% endblock live_collection_button_add_widget %}

{#{%- block live_collection_widget -%}#}
{#    <table class="table table-borderless form-no-mb">#}
{#        <thead>#}
{#        <tr>#}
{#            {% for child in form|last %}#}
{#                <td>{{ form_label(child) }}</td>#}
{#            {% endfor %}#}
{#            <td></td>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {{ block('form_widget') }}#}
{#        </tbody>#}
{#    </table>#}
{#    {%- if skip_add_button|default(false) is same as(false) and button_add is defined and not button_add.rendered -%}#}
{#        {{ form_widget(button_add, { label: '+ Add Item', attr: { class: 'btn btn-outline-primary' } }) }}#}
{#    {%- endif -%}#}
{#{%- endblock -%}#}

{#{%- block live_collection_entry_row -%}#}
{#    <tr>#}
{#        {% for child in form %}#}
{#            <td>{{- form_row(child, { label: false }) -}}</td>#}
{#        {% endfor %}#}
{#        <td>#}
{#            {{- form_row(button_delete, { label: 'X', attr: { class: 'btn btn-outline-danger' } }) -}}#}
{#        </td>#}
{#    </tr>#}
{#{%- endblock -%}#}
