{% extends 'login.html.twig' %}

{% from 'macros/flashes.html.twig' import flashes, flash %}

{% block title %}Entrar al sistema!{% endblock %}

{% block content %}
{#    <form method="post">#}
{#        {% if error %}#}
{#            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#        {% endif %}#}

{#        {% if app.request.query.get('inactive') == 1 %}#}
{#            <div class="alert alert-danger">Aun no han activado el usuario en el sistema</div>#}
{#        {% endif %}#}

{#        {% if app.user %}#}
{#            <div class="mb-3">#}
{#                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#            </div>#}
{#        {% endif %}#}

{#        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>#}
{#        <label for="username">Username</label>#}
{#        <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="username" required autofocus>#}
{#        <label for="password">Password</label>#}
{#        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>#}

{#        <input type="hidden" name="_csrf_token"#}
{#               value="{{ csrf_token('authenticate') }}"#}
{#        >#}

{#        #}{##}
{#            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
{#            See https://symfony.com/doc/current/security/remember_me.html#}

{#            <div class="checkbox mb-3">#}
{#                <input type="checkbox" name="_remember_me" id="_remember_me">#}
{#                <label for="_remember_me">Remember me</label>#}
{#            </div>#}
{#        #}

{#        <button class="btn btn-lg btn-primary" type="submit">#}
{#            Sign in#}
{#        </button>#}
{#    </form>#}

    <div class="col-lg-6 d-none d-lg-flex">
        <div class="flex-grow-1 bg-login-image"
             style="background-image: url({{ asset('images/logo.jpg') }});background-repeat: no-repeat;background-position: center;background-size: contain;"></div>
    </div>

    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h4 class="mb-4">
                    <div class="sidebar-brand-icon rotate-n-15" style="display:inline">
                        {{ ux_icon('bi:backpack', {class:'bi', style:'width:32px;height:32px'}) }}
                    </div>
                    Bienvenido a DIRU
                </h4>
            </div>
            <form class="user" method="post">
                <hr>
                <div id="flash-container" data-turbo-cache="false">
                    {{ flashes() }}
                    {% if app.request.query.get('inactive') == 1 %}
                        {{ flash('danger', 'inactive.user'|trans({}, 'security')) }}
                    {% endif %}
                </div>

                {% if error %}
                    {% if error.code == 1 %}
                        {{ flash('danger', error.message) }}
                    {% else %}
                        {{ flash('danger', error.messageKey|trans(error.messageData, 'security')) }}
                        {% dump(error.message) %}
                    {% endif %}
                {% endif %}

                <br><br>
                <div class="mb-3 input-group">
                    <span class="input-group-text login-text-icon" id="basic-addon1">
                        {{ ux_icon('bi:people-circle', {class:'bi'}) }}
                    </span>
                    <input class="form-control form-control-user no-border-left" type="text"
                           value="{{ last_username }}" placeholder="Usuario" name="_username"
                           id="exampleInputEmail" aria-describedby="emailHelp" autocomplete="username" required
                           autofocus>
                </div>

                <div class="mb-3 input-group">
                    <span class="input-group-text login-text-icon" id="basic-addon1">
                        {{ ux_icon('bi:backpack', {class:'bi'}) }}
                    </span>
                    <input class="form-control form-control-user no-border-left" type="password"
                           id="exampleInputPassword" placeholder="Contraseña" name="_password"
                           autocomplete="current-password" required>
                </div>
{#                <div class="mb-3">#}
{#                    <div class="custom-control custom-checkbox small">#}
{#                        <div class="form-check">#}
{#                            <input class="form-check-input custom-control-input"#}
{#                                   type="checkbox" id="formCheck-1" name="_remember_me">#}
{#                            <label class="form-check-label custom-control-label" for="formCheck-1">Recordarme</label>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
                <button class="btn btn-primary d-block btn-user w-100" type="submit">
                    {{ ux_icon('bi:arrow-right-circle', {class:'bi'}) }} Autenticarse
                </button>
                <br><br>
                <hr>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" data-controller="csrf-protection">
            </form>
            <div class="text-center">
                <a class="btn btn-primary d-block btn-user w-100 btn-google link-button" href="{{ path('app_register') }}">
                    {{ ux_icon('mdi:user-key', {class:'bi'}) }} Crear una cuenta!
                </a>
            </div>
        </div>
    </div>
{% endblock %}
