{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}
    <div
        style="background-image: url({{ asset('images/dashboard1.jpg') }});min-height: 500px;padding: 10px;background-size: cover">

        <div class="row">
            {#            <h2>Section title</h2> #}
            <div class="col">
                {% component 'Card:Card' with {
                    cssClass: 'text-bg-light mb-3'
                } %}
                    {% block body %}
                        <h6 class="card-subtitle mb-2">Proyectos</h6>
                        <h1>{{ project_amount }}</h1>
                        <a href="#" class="card-link">Ver todo</a>
                        {#                        <a href="#" class="card-link">Another link</a> #}
                    {% endblock %}
                {% endcomponent %}
            </div>

            <div class="col">
                {% component 'Card:Card' with {
                    title: 'Proyectos',
                } %}
                    {% block body %}
                        <h6 class="card-subtitle mb-2">Monto total del sistema</h6>
                        <h1>{{ money(amount) }}</h1>
                    {% endblock %}
                {% endcomponent %}
            </div>

            <div class="col">
                {% component 'Card:Card' with {
                    title: 'Proyectos',
                } %}
                    {% block body %}
                        <h6 class="card-subtitle mb-2">Ultimos Proyectos</h6>
                        <ul class="list-group list-group-flush">
                            {% for project in last_three %}
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    {{ project.name }}
                                    <span
                                        class="badge text-bg-primary rounded-pill">{{ money(project.getPrice()) }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endblock %}
                {% endcomponent %}
            </div>
        </div>
    </div>
{% endblock %}
