<form
        method="post"
        action="{{ path }}"
        onsubmit="return confirm('{{ confirm }}');"
        style="display: inline"
        {{ attributes }}
>
    <input type="hidden" name="_token" value="{{ csrf_token(token) }}">
    <button class="btn btn-sm btn-danger" title="{{ title }}" {% if active == false %}disabled{% endif %}>
        {{ ux_icon(icon, {class:'bi'}) }}
        {{ label }}
    </button>
</form>

