{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: 'id="local_detail_' ~ local.id,
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: title,
} %}

    {% block header %}

    {% endblock %}

    {% block body %}
        <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ local.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ local.name }}</td>
                </tr>
                <tr>
                    <th>Number</th>
                    <td>{{ local.number }}</td>
                </tr>
                <tr>
                    <th>Area</th>
                    <td>{{ local.area|number_format(2) }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ local.type }}</td>
                </tr>
                <tr>
                    <th>Height</th>
                    <td>{{ local.height|number_format(2) }}</td>
                </tr>
                <tr>
                    <th>TechnicalStatus</th>
                    <td>{{ local.technicalStatus }}</td>
                </tr>

                </tbody>
            </table>
        </div>
    {% endblock %}

    {% block footer %}

    {% endblock %}

{% endcomponent %}


