{% if sub_system.hasErrors() %}
    {% set card_icon = ux_icon('material-symbols:dangerous', {
        'class':'bi text-danger',
        'data-bs-toggle':"tooltip",
        'data-bs-title':"Revisar datos de los locales.",
        'data-bs-custom-class':"danger-tooltip"
    }) %}
{% else %}
    {% set card_icon = ux_icon('ep:success-filled', {
        'class':'bi text-success',
    }) %}
{% endif %}

{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: 'Listado de locales',
    icon: card_icon
} %}
    {% block header %}
        {% from 'macros/buttons.html.twig' import tableActionButton2,tableActionButton3 %}

        <div>
            {{ tableActionButton3(path('app_sub_system_report_local', {'id': sub_system.id}), '', 'Reportes', 'Reportes', '', 'btn-info') }}

            {% if sub_system.floor.isFullyOccupied() == false or reply == true %}
                {% set path = path('app_local_new', {'subSystem': sub_system.id, 'reply':reply}) %}
                {{ tableActionButton3(path, 'bi:plus-lg', 'Nuevo', 'Nuevo local', stimulusAction('twig/card/card', 'newElement:prevent', null, {url:path})) }}
            {% endif %}

            {{ tableActionButton3(path('app_sub_system_index', {'floor':sub_system.floor.id, 'reply':reply}), 'ix:building-block-filled', (reply) ? 'Subsistemas replicados' : 'Subsistemas', (reply) ? 'Listado de subsistemas replicados' : 'Listado de subsistemas') }}
            {{ tableActionButton3(path('app_building_edit', {'id':sub_system.floor.building.id, 'project': sub_system.floor.building.project.id}), 'streamline-pixel:construction-building-real-eastate', 'Ir a la obra', 'Ir a la obra') }}
        </div>
    {% endblock %}

    {% block body %}
        {% component 'Table:Table' with {
            paginator: paginator,
        } %}

            {% set original = reply ? false : true %}

            {% block message %}
                {{ include('structure/_table_message.html.twig', {
                    isNew: sub_system.floor.building.isNew(),
                    maxArea: sub_system.floor.building.getMaxArea(),
                    isFullyOccupied: sub_system.floor.isFullyOccupied(),
                    hasFreeArea: sub_system.floor.hasFreeArea(),
                    freeArea: sub_system.floor.getFreeArea(),
                    hasUnassignedArea: sub_system.floor.hasUnassignedArea(),
                    unassignedArea: sub_system.floor.getUnassignedArea(),
                    landArea: sub_system.floor.building.getLandArea(),
                }) }}

                {% if sub_system.floor.hasSubSystemAndIsNotCompletlyEmptyArea() and (sub_system.floor.hasUnassignedArea() or sub_system.floor.hasFreeArea()) %}
                    <br>
                    <a href="{{ path('app_local_wall', {'subSystem': sub_system.id, 'reply': reply }) }}">
                        Convertir en área de muro
                    </a>
                {% endif %}
            {% endblock %}

            {% block tableHead %}
                <tr>
                    <th>Nombre</th>
                    <th>#</th>
                    <th>Área (m<sup>2</sup>)</th>
                    <th>Tipo</th>
                    <th data-bs-toggle="tooltip" data-bs-title="Altura">Alt. (m)</th>
                    <th data-bs-toggle="tooltip" data-bs-title="Volumen">Vol. (m<sup>3</sup>)</th>
                    <th data-bs-toggle="tooltip" data-bs-title="Estado técnico">Est. Tec</th>
                    <th>Impacta</th>
                    {% if reply or sub_system.inNewBuilding() %}
                        <th>Acción. C</th>
                        <th>Importe ({{ sub_system.floor.building.getProjectCurrency() }})</th>
                    {% endif %}
                    <th></th>
                </tr>
            {% endblock %}

            {% block tableBody %}
                {% from 'macros/buttons.html.twig' import tableActionButton, deleteFormButton, deleteFormButton2, tableActionButton2, tableActionButton3 %}

                {% for local in paginator.getData() %}
                    <tr {{ stimulusController('delete-form-container') }}
                        class="
                        {% if local.hasStructuralChange() %} table-secondary {% endif %}
                        {% if local.isNewStructure() %} table-success {% endif %}
                        {% if local.hasChangesFromOriginal() %} table-info {% endif %}
                        {% if local.hasRemoveConstructiveAction() %} table-danger {% endif %}
                        "
                    >
                        <td
                            {% if local.hasChangesFromOriginal() %}
                                data-bs-toggle="tooltip"
                                data-bs-title="{{ local.getChangesFromOriginal()|join("\n") }}"
                                data-bs-custom-class="danger-info"
                            {% endif %}
                        >
                            {% if local.hasChangesFromOriginal() %}
                                <em>{{ local.name }}</em>{% else %}{{ local.name }}{% endif %}
                        </td>
                        <td>{{ local.number }}</td>
                        <td>{{ local.area|number_format(2) }}</td>
                        <td>{{ local.type.getLabelFrom(local.type) }}</td>
                        <td>{{ local.height|number_format(2) }}</td>
                        <td>{{ local.getVolume()|number_format(2) }}</td>
                        <td>
                            {% if local.isClassified() %}
                                {{ local.technicalStatus.getLabelFrom(local.technicalStatus) }}
                            {% else %}
                                <span class="text-danger"
                                      data-bs-toggle="tooltip"
                                      data-bs-title="Para poder realizar la réplica se debe diagnosticar el estado técnico del local."
                                      data-bs-custom-class="danger-tooltip"
                                >
                                    {{ local.technicalStatus.getLabelFrom(local.technicalStatus) }}
                                </span>
                            {% endif %}
                            {% if local.hasTechnicalStatusUndefinedHelp() %}
                                *
                            {% endif %}
                        </td>
                        <td>
                            {% if local.impactHigherLevels %}
                                {{ ux_icon('ep:success-filled', {
                                    'class':'bi text-success',
                                    'data-bs-toggle':"tooltip",
                                    'data-bs-title':"Para poder realizar la réplica se debe diagnosticar el estado técnico de todos los locales.",
                                    'data-bs-custom-class':"danger-tooltip"
                                }) }}
                            {% else %}
                                {{ ux_icon('lsicon:minus-filled', {
                                    'class':'bi',
                                }) }}
                            {% endif %}
                        </td>
                        <td
                            {% if local.getConstructiveSystem() %}
                                data-bs-toggle="tooltip"
                                data-bs-title="{% if local.hasLocalConstructiveAction() %}{{ money(local) }}{% endif %}"
                            {% endif %}
                        >
                            {% if local.showConstructiveActionInList(reply) %}

                                {% if local.hasLocalConstructiveAction() %}
                                    {% if local.getConstructiveSystem() %}
                                        {{ local.getConstructiveAction() }}
                                        <br> {{ '('~local.constructiveSystem.name~')' }}
                                    {% else %}
                                        {{ local.getConstructiveAction() }}
                                    {% endif %}

                                {% else %}
                                    <span class="text-danger"
                                          data-bs-toggle="tooltip"
                                          data-bs-title="Se debe establecer una accion constructiva."
                                          data-bs-custom-class="danger-tooltip"
                                    >Sin definir</span>
                                {% endif %}
                            {% endif %}
                        </td>
                        {% if reply or sub_system.inNewBuilding() %}
                            <td>
                                {% if local.hasLocalConstructiveAction() %}
                                    {{ money(local.getConstructiveActionAmount()) }}
                                {% else %}
                                    {{ money(0) }}
                                {% endif %}
                            </td>
                        {% endif %}

                        <td class="text-end">
                            {% set cssClass = 'btn-link' %}
                            {% if local.hasBackgroundColorOfChange() %}
                                {% set cssClass = cssClass ~ ' text-dark' %}
                            {% endif %}

                            {#                            {{ tableActionButton3(path('app_floor_show', {'id': floor.id, 'building':building.id}), 'bi:eye', '', 'Detalle de la planta', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_floor_show', {'id': floor.id, 'building':building.id})})) }} #}

                            {% if local.hasReply() == false %}
                                {% set path = path('app_local_edit', {'id': local.id, 'subSystem':sub_system.id, 'reply':reply}) %}
                                {{ tableActionButton3(path, 'fa:edit', '', 'Editar local', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path}), cssClass) }}
                            {% endif %}

                            {% if local.hasReply() == false or local.inNewBuilding() %}
                                {{ component('DeleteForm', {
                                    path: path('app_local_delete', {'id': local.id, 'subSystem':sub_system.id}),
                                    confirm: 'Está seguro que desea eliminar el local?',
                                    token: 'delete' ~ local.id,
                                    title: 'Eliminar local',
                                    icon: 'bi:trash',
                                    cssClass: 'btn-link text-danger'
                                }) }}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">No se encontraron locales.</td>
                    </tr>
                {% endfor %}
            {% endblock %}

            {% block tableFooter %}
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    {% if reply or sub_system.inNewBuilding() %}
                        <th></th>
                        <th>{{ money(sub_system.getPrice()) }}</th>
                    {% endif %}
                    <th></th>
                </tr>
            {% endblock %}
        {% endcomponent %}
    {% endblock %}

    {% block footer %}
        <div class="card-footer">
            <p style="margin-bottom: 0">
                <em>
                    * Las Áreas de muro y Áreas de vacío con estado técnico "Sin definir", no son tenidas en cuenta...
                </em>
            </p>
        </div>
    {% endblock %}

{% endcomponent %}

{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: 'Detalles del subsistema',
} %}
    {% block body %}
        <table class="table table-hover">
            {{ include('sub_system/_data.html.twig') }}
        </table>
    {% endblock %}

{% endcomponent %}
