{% if sub_system.allLocalsAreClassified() == false %}
    {% set card_icon = ux_icon('material-symbols:warning-rounded', {
        'class':'bi text-warning',
        'data-bs-toggle':"tooltip",
        'data-bs-title':"Se deben corregir algunos errores.",
        'data-bs-custom-class':"warning-tooltip"
    }) %}
{% else %}
    {% set card_icon = ux_icon('ep:success-filled', {
        'class':'bi text-success',
    }) %}
{% endif %}

{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: 'Listado de locales',
    icon: card_icon
} %}
    {% block header %}
        {% from 'macros/buttons.html.twig' import tableActionButton2,tableActionButton3 %}

        <div>
            {{ tableActionButton3(path('app_sub_system_index', {floor:sub_system.floor.id}), 'ix:building-block-filled', 'Subsistemas', 'Listado de subsistemas') }}
            {% if sub_system.floor.isFullyOccupied() == false %}
                {{ tableActionButton3(path('app_local_new', {'subSystem': sub_system.id}), 'bi:plus-lg', 'Nuevo', 'Nuevo local', stimulusAction('twig/card/card', 'newElement:prevent', null, {url:path('app_local_new', {'subSystem': sub_system.id})})) }}
            {% endif %}
        </div>
    {% endblock %}

    {% block body %}
        {% component 'Table:Table' with {
            paginator: paginator,
        } %}

            {% block message %}
                {% if sub_system.floor.building.isNew() %}
                    Área de terreno de la obra:
                {% else %}
                    Área ocupada de la obra:
                {% endif %}
                {{ sub_system.floor.building.getMaxArea() }}m<sup>2</sup>

                {% if sub_system.floor.isFullyOccupied() %}
                    , ocupados totalmente.
                {% else %}
                    , quedan {{ sub_system.floor.getUnassignedArea() }}m<sup>2</sup> por ocupar en esta planta.
                    {% if sub_system.floor.hasSubSystemAndIsNotCompletlyEmptyArea() %}
                        <br>
                        <a href="{{ path('app_local_wall', {'subSystem': sub_system.id, 'area':sub_system.floor.getUnassignedArea() }) }}">
                            Convertir en área de muro
                        </a>
                    {% endif %}
                {% endif %}
            {% endblock %}

            {% block tableHead %}
                <tr>
                    <th>Nombre</th>
                    <th>Número</th>
                    <th>Área (m<sup>2</sup>)</th>
                    <th>Tipo</th>
                    <th>Altura (m)</th>
                    <th>Volumen (m<sup>3</sup>)</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            {% endblock %}

            {% block tableBody %}
                {% from 'macros/buttons.html.twig' import tableActionButton, deleteFormButton, deleteFormButton2, tableActionButton2, tableActionButton3 %}

                {% for local in paginator.getData() %}
                    <tr {{ stimulusController('delete-form-container') }}>
                        <td>{{ local.name }} </td>
                        <td>{{ local.number }}</td>
                        <td>{{ local.area }}</td>
                        <td>{{ local.type.getLabelFrom(local.type) }}</td>
                        <td>{{ local.height }}</td>
                        <td>{{ local.getVolume() }}</td>
                        <td>
                            {% if local.isClassified() %}
                                {{ local.technicalStatus.getLabelFrom(local.technicalStatus) }}
                            {% else %}
                                <span class="text-danger"
                                      data-bs-toggle="tooltip"
                                      data-bs-title="Para poder realizar la réplica se debe diagnosticar el estado técnico del local."
                                      data-bs-custom-class="danger-tooltip"
                                >{{ local.technicalStatus.getLabelFrom(local.technicalStatus) }}</span>
                            {% endif %}
                        </td>
                        <td class="text-end">
                            {#                            {{ tableActionButton3(path('app_floor_show', {'id': floor.id, 'building':building.id}), 'bi:eye', '', 'Detalle de la planta', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_floor_show', {'id': floor.id, 'building':building.id})})) }} #}
                            {{ tableActionButton3(path('app_local_edit', {'id': local.id, 'subSystem':sub_system.id}), 'fa:edit', '', 'Editar local', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_local_edit', {'id': local.id, 'subSystem':sub_system.id})})) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">No se encontraron locales.</td>
                    </tr>
                {% endfor %}
            {% endblock %}

        {% endcomponent %}



    {% endblock %}

    {#    {% block footer %} #}
    {#        {% from 'macros/buttons.html.twig' import tableActionButton2,tableActionButton3 %} #}
    {#        <div> #}
    {#        {{ tableActionButton3(path('app_floor_index', {building:floor.building.id}), '', 'Listado de plantas', 'Listado de plantas') }} #}
    {#        </div> #}
    {#    {% endblock %} #}

{% endcomponent %}

{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: 'Detalles del subsistema',
} %}
    {% block body %}
        <table class="table table-hover">
            {{ include('sub_system/_data.html.twig') }}
        </table>
    {% endblock %}

{% endcomponent %}