{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: 'Listado de locales',
} %}
    {% block header %}
        {% from 'macros/buttons.html.twig' import tableActionButton2,tableActionButton3 %}

        <div>
            {{ tableActionButton3(path('app_floor_index', {building:floor.building.id}), 'dinkie-icons:house-buildings-small', 'Listado de plantas', 'Listado de plantas') }}
            {% if floor.building.landArea > floor.getTotalFloorArea() %}
                {{ tableActionButton3(path('app_local_new', {'floor': floor.id}), 'bi:plus-lg', 'Nuevo', 'Nuevo local', stimulusAction('twig/card/card', 'newElement:prevent', null, {url:path('app_local_new', {'floor': floor.id})})) }}
            {% endif %}
        </div>
    {% endblock %}

    {% block body %}
        {% component 'Table:Table' with {
            paginator: paginator,
        } %}

            {% block message %}
                Área total de la obra: {{ floor.building.land.landArea }}m<sup>2</sup>
                {% if floor.isFullyOccupied() %}
                    , ocupados totalmente.
                {% else %}
                    , quedan {{ floor.getUnassignedArea() }}m<sup>2</sup> por ocupar.
                    {% if floor.hasLocalAndIsNotCompletlyEmptyArea() %}
                        <br>
                        <a href="{{ path('app_local_wall', {'floor': floor.id, 'area':floor.getUnassignedArea() }) }}">
                            Convertir en área de muro
                        </a>
                    {% endif %}
                {% endif %}
            {% endblock %}

            {% block tableHead %}
                <tr>
                    <th>Nombre</th>
                    <th>Número</th>
                    <th>Área (m<sup>2</sup>)</th>
                    <th>Tipo</th>
                    <th>Altura (m)</th>
                    <th>Volumen (m<sup>3</sup>)</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            {% endblock %}

            {% block tableBody %}
                {% from 'macros/buttons.html.twig' import tableActionButton, deleteFormButton, deleteFormButton2, tableActionButton2, tableActionButton3 %}

                {% for local in paginator.getData() %}
                    <tr {{ stimulusController('delete-form-container') }}>
                        <td>{{ local.name }}</td>
                        <td>{{ local.number }}</td>
                        <td>{{ local.area }}</td>
                        <td>{{ local.type.getLabelFrom(local.type) }}</td>
                        <td>{{ local.height }}</td>
                        <td>{{ local.getVolume() }}</td>
                        <td>{{ local.technicalStatus.getLabelFrom(local.technicalStatus) }}</td>
                        <td class="text-end">
                            {#                            {{ tableActionButton3(path('app_floor_show', {'id': floor.id, 'building':building.id}), 'bi:eye', '', 'Detalle de la planta', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_floor_show', {'id': floor.id, 'building':building.id})})) }} #}
                            {{ tableActionButton3(path('app_local_edit', {'id': local.id, 'floor':floor.id}), 'fa:edit', '', 'Editar local', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_local_edit', {'id': local.id, 'floor':floor.id})})) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">No se encontraron locales.</td>
                    </tr>
                {% endfor %}
            {% endblock %}

        {% endcomponent %}



    {% endblock %}

    {#    {% block footer %} #}
    {#        {% from 'macros/buttons.html.twig' import tableActionButton2,tableActionButton3 %} #}
    {#        <div> #}
    {#        {{ tableActionButton3(path('app_floor_index', {building:floor.building.id}), '', 'Listado de plantas', 'Listado de plantas') }} #}
    {#        </div> #}
    {#    {% endblock %} #}

{% endcomponent %}

{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: 'Detalles de la plantas',
} %}
    {% block body %}
        <table class="table table-hover">
            {{ include('floor/_data.html.twig') }}
        </table>
    {% endblock %}

{% endcomponent %}