{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: 'Listado de entidades corporativas',
} %}
    {% block header %}
        {% from 'macros/buttons.html.twig' import tableActionButton2,tableActionButton3, tableHeaderButton, tableHeaderButtonDropdown %}

        <div>
            {{ component('Card:Refresh', {
                path: path('app_corporate_entity_index'),
                queryNames:['entity', 'amount', 'filter', 'page']
            }) }}

            {{ component('Card:FilterDropDown', {
                path:'app_corporate_entity_index',
                label:'Tipos de entidad corporativa',
                queryName: 'entity',
                options:types
            }) }}

            {{ tableActionButton3(path('app_corporate_entity_new'), 'bi:plus-lg', 'Nueva', 'Nueva entidad corporativa', stimulusAction('twig/card/card', 'newElement:prevent', null, {url:path('app_corporate_entity_new')})) }}
        </div>
    {% endblock %}

    {% block body %}
        {% component 'Table:Table' with {
            paginator: paginator,
        } %}

            {% block message %}
                {% if app.request.query.get('entity') != '' %}
                    <span class="text-primary">
                        Entidades corporativas de tipo
                        <span class="badge text-bg-primary">
                            {{ get_label_from('App\\Entity\\Enums\\CorporateEntityType', app.request.query.get('entity')) }}
                        </span>
                    </span>
                {% endif %}
            {% endblock %}

            {% block tableHead %}
                <tr>
                    <th>Nombre</th>
                    <th>Código</th>
                    <th>NIT</th>
                    <th>Organismo {{ ux_icon('mdi:filter', {class:'bi'}) }}</th>
                    {% if app.request.query.get('entity') == '' %}
                        <th>Tipo</th>
                    {% endif %}
                    <th>Provincia {{ ux_icon('mdi:filter', {class:'bi'}) }}</th>
                    <th></th>
                </tr>
            {% endblock %}

            {% block tableBody %}
                {% from 'macros/buttons.html.twig' import tableActionButton, deleteFormButton, deleteFormButton2, tableActionButton2, tableActionButton3 %}
                {% from 'macros/link.html.twig' import filterLink %}

                {% for corporateEntity in paginator.getData() %}
                    <tr {{ stimulusController('delete-form-container') }}>
                        <td>{{ corporateEntity.name }}</td>
                        <td>{{ corporateEntity.code }}</td>
                        <td>{{ corporateEntity.nit }}</td>
                        <td>
                            <a href="{{ filterLink(corporateEntity.organism.name) }}"
                               class="text-decoration-none"
                            >
                                {{ corporateEntity.organism.name }}
                            </a>
                        </td>
                        {% if app.request.query.get('entity') == '' %}
                            <td>{{ corporateEntity.type.getLabelFrom(corporateEntity.type) }}</td>
                        {% endif %}
                        <td>
                            <a href="{{ filterLink(corporateEntity.getProvinceName()) }}"
                               class="text-decoration-none"
                            >
                                {{ corporateEntity.getProvinceName() }}
                            </a>
                        </td>
                        <td class="text-end">
                            {{ tableActionButton3(path('app_corporate_entity_show', {'id': corporateEntity.id}), 'bi:eye', '', 'Detalle de la entidad corporativa', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_corporate_entity_show', {'id': corporateEntity.id})}), 'btn-link') }}
                            {{ tableActionButton3(path('app_corporate_entity_edit', {'id': corporateEntity.id}), 'fa:edit', '', 'Editar entidad corporativa', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_corporate_entity_edit', {'id': corporateEntity.id})}), 'btn-link') }}

                            {{ component('DeleteForm', {
                                path: path('app_corporate_entity_delete', {'id': corporateEntity.id}),
                                confirm: 'Está seguro que desea eliminar la entidad corporativa?',
                                token: 'delete' ~ corporateEntity.id,
                                title: 'Eliminar entidad corporativa',
                                icon: 'bi:trash',
                                cssClass: 'btn-link text-danger'
                            }) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">No se encontraron entidades corporativas.</td>
                    </tr>
                {% endfor %}
            {% endblock %}

        {% endcomponent %}

    {% endblock %}

{% endcomponent %}
