{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Fuente: {{ ite_source.name }}{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Fuentes') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Fuentes', href: path('app_ite_source_index')},
            {label: 'Detalle'},
        ]) }}
    </div>

    <h2 class="mb-4">Fuente: {{ ite_source.name }}</h2>

    {{ include('ite_source/_detail.html.twig', {'showButton': true, 'title': title}) }}
{% endblock %}
