{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: 'id="individual_client_detail_' ~ individual_client.id,
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: title,
} %}

    {% block header %}
        {{ include('partials/_card_header_options.html.twig', {
            goTo: 'app_individual_client_new',
            label: 'Nuevo',
            title: 'Nueva persona individual',
            entity: individual_client,
            state: 'detail',
            showButton: (showButton is defined and showButton == true) ? true : false
        }) }}
    {% endblock %}

    {% block body %}
        <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>Nombre y Apellidos:</th>
                    <td>{{ individual_client.person.getFullName() }}</td>
                </tr>
                <tr>
                    <th>Carnet:</th>
                    <td>{{ individual_client.person.identificationNumber }}</td>
                </tr>
                <tr>
                    <th>Pasaporte:</th>
                    <td>{{ individual_client.person.passport }}</td>
                </tr>
                <tr>
                    <th>Teléfono:</th>
                    <td>
                        <a href="phone:{{ individual_client.email }}">
                            {{ individual_client.phone }}
                        </a>
                    </td>
                </tr>

                <tr>
                    <th>Correo:</th>
                    <td>
                        <a href="mailto:{{ individual_client.email }}">
                            {{ individual_client.email }}
                        </a>
                    </td>
                </tr>

                <tr>
                    <th>Provincia:</th>
                    <td>
                        <a href="{{ path('app_province_show', {'id': individual_client.municipality.province.id }) }}">
                            {{ individual_client.getProvinceName() }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Municipio:</th>
                    <td>
                        <a href="{{ path('app_municipality_show', {'id': individual_client.municipality.id }) }}">
                            {{ individual_client.getMunicipalityName() }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Dirección:</th>
                    <td>{{ individual_client.street }}</td>
                </tr>
                {% if individual_client.representative %}
                    <tr>
                        <th>Representante:</th>
                        <td>
                            <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <th>Nombre y Apellidos:</th>
                                        <td>{{ individual_client.representative.getFullName() }}</td>
                                    </tr>
                                    <tr>
                                        <th>Carnet de identidad:</th>
                                        <td>{{ individual_client.representative.identificationNumber }}</td>
                                    </tr>
                                    <tr>
                                        <th>Pasaporte:</th>
                                        <td>{{ individual_client.representative.passport }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    {% endblock %}

    {% block footer %}
        {{ include('partials/_card_footer.html.twig', {
            list: {href: 'app_individual_client_index', label: 'Listado', title:'Volver al listado'},
            edit: {href: 'app_individual_client_edit', label: 'Editar', title:'Editar persona individual'},
            delete: {href: 'app_individual_client_delete', label: 'Eliminar', title:'Eliminar persona individual'},
            id: individual_client.id,
            message: 'Está seguro que desea eliminar la persona individual?',
            state: 'detail',
            showButton: (showButton is defined and showButton == true) ? true : false
        }) }}
    {% endblock %}

{% endcomponent %}



