{#{% extends 'content.html.twig' %}#}

{#{% block title %}Edit IndividualClient{% endblock %}#}

{#{% block content %}#}
{#    <h1>Editar cliente individual</h1>#}

{#    {{ include('individual_client/_form.html.twig', {'button_label': 'Update'}) }}#}

{#    <a class="btn btn-sm btn-primary" href="{{ path('app_individual_client_index') }}">Listado</a>#}

{#    {{ include('individual_client/_delete_form.html.twig') }}#}
{#{% endblock %}#}

{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Editar persona natural{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Clientes', 'fa:user') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Personas naturales', href: path('app_individual_client_index')},
            {label: 'Editar'},
        ]) }}
    </div>

    <h2 class="mb-4">Modificar persona natural</h2>

    {{ include('individual_client/_form.html.twig', {'showButton': true, 'title': title}) }}
{% endblock %}

