{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: 'Listado de clientes empresariales',
} %}
    {% block header %}
        {% from 'macros/buttons.html.twig' import tableActionButton2,tableActionButton3 %}

        <div>
            {{ tableActionButton3(path('app_enterprise_client_new'), 'bi:plus-lg', 'Nuevo', 'Nuevo cliente', stimulusAction('twig/card/card', 'newElement:prevent', null, {url:path('app_enterprise_client_new')})) }}
        </div>
    {% endblock %}

    {% block body %}
        {% component 'Table:Table' with {
            paginator: paginator,
        } %}

            {% block tableHead %}
                <tr>
                    <th>Representante {{ ux_icon('bx:link-external', {class:'bi'}) }}</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Entidad {{ ux_icon('bx:link-external', {class:'bi'}) }}</th>
                    <th>Provincia {{ ux_icon('mdi:filter', {class:'bi'}) }}</th>
                    <th>Municipio {{ ux_icon('mdi:filter', {class:'bi'}) }}</th>
                    <th></th>
                </tr>
            {% endblock %}

            {% block tableBody %}
                {% from 'macros/buttons.html.twig' import tableActionButton, deleteFormButton, deleteFormButton2, tableActionButton2, tableActionButton3 %}
                {% from 'macros/link.html.twig' import filterLink %}

                {% for client in paginator.getData() %}
                    <tr {{ stimulusController('delete-form-container') }}>
                        <td>
                            {% if client.representative %}
                                <a data-bs-toggle="modal" data-bs-target="#detail_person"
                                   href="#" {{ stimulusController('detail-link-modal', {
                                    url: path('app_person_show', {id:client.representative.id, state:'modal'}),
                                    container: '#detail_person .modal-body'
                                }) }}
                                >
                                    {{ client.representative.getFullName() }}
                                </a>
                            {% else%}
                                <span class="text-danger">Sin representante</span>
                            {% endif %}
                        </td>
                        <td><a href="phone:{{ client.phone }}">{{ client.phone }}</a></td>
                        <td><a href="mailto:{{ client.email }}">{{ client.email }}</a></td>
                        <td>
                            <a data-bs-toggle="modal" data-bs-target="#detail_entity"
                               href="#" {{ stimulusController('detail-link-modal', {
                                url: path('app_corporate_entity_show', {id:client.corporateEntity.id, state:'modal'}),
                                container: '#detail_entity .modal-body'
                            }) }}
                            >
                                {{ client.corporateEntity }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ filterLink(client.getProvinceName()) }}" class="text-decoration-none">
                                {{ client.getProvinceName() }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ filterLink(client.getMunicipalityName()) }}" class="text-decoration-none">
                                {{ client.getMunicipalityName() }}
                            </a>
                        </td>
                        <td class="text-end">
                            {{ tableActionButton3(path('app_enterprise_client_show', {'id': client.id}), 'bi:eye', '', 'Detalle del cliente', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_enterprise_client_show', {'id': client.id})})) }}
                            {{ tableActionButton3(path('app_enterprise_client_edit', {'id': client.id}), 'fa:edit', '', 'Editar cliente', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_enterprise_client_edit', {'id': client.id})})) }}

                            {{ component('DeleteForm', {
                                path: path('app_enterprise_client_delete', {'id': client.id}),
                                confirm: 'Está seguro que desea eliminar el cliente empresarial?',
                                token: 'delete' ~ client.id,
                                title: 'Eliminar cliente',
                                icon: 'bi:trash'
                            }) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">No se encontraron clientes empresariales.</td>
                    </tr>
                {% endfor %}
            {% endblock %}

        {% endcomponent %}

        {% component 'Modal:Modal' with {
            title: 'Detalle del representante',
            id: 'detail_person',

        } %}
            {% block body %}
                Cargando datos del representante...
            {% endblock %}
        {% endcomponent %}

        {% component 'Modal:Modal' with {
            title: 'Detalle de la entidad',
            id: 'detail_entity',
        } %}
            {% block body %}
                Cargando datos de la entidad corporativa...
            {% endblock %}
        {% endcomponent %}

    {% endblock %}
{% endcomponent %}