{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Cliente empresarial: {{ enterprise_client.person.name }}{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Clientes', 'fa:user') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Cliente empresarial', href: path('app_enterprise_client_index')},
            {label: 'Detalle'},
        ]) }}
    </div>

    <h2 class="mb-4">Cliente empresarial: {{ enterprise_client.person.name }}</h2>

    {{ include('enterprise_client/_detail.html.twig', {'showButton': true, 'title': title}) }}
{% endblock %}
