{#{% extends 'base.html.twig' %}#}

{#{% block title %}EnterpriseClient{% endblock %}#}

{#{% block body %}#}
{#    <h1>EnterpriseClient</h1>#}

{#    <table class="table">#}
{#        <tbody>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <td>{{ enterprise_client.id }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Phone</th>#}
{#                <td>{{ enterprise_client.phone }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Email</th>#}
{#                <td>{{ enterprise_client.email }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Street</th>#}
{#                <td>{{ enterprise_client.street }}</td>#}
{#            </tr>#}
{#        </tbody>#}
{#    </table>#}

{#    <a href="{{ path('app_enterprise_client_index') }}">back to list</a>#}

{#    <a href="{{ path('app_enterprise_client_edit', {'id': enterprise_client.id}) }}">edit</a>#}

{#    {{ include('enterprise_client/_delete_form.html.twig') }}#}
{#{% endblock %}#}
{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Cliente empresarial: {{ enterprise_client.person.name }}{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Clientes', 'fa:user') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Cliente empresarial', href: path('app_enterprise_client_index')},
            {label: 'Detalle'},
        ]) }}
    </div>

    <h2 class="mb-4">Cliente empresarial: {{ enterprise_client.person.name }}</h2>

    {{ include('enterprise_client/_detail.html.twig', {'showButton': true, 'title': title}) }}
{% endblock %}
