{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}

{% block title %}Regulación urbana: {{ urban_regulation.code }}{% endblock %}
{% from 'macros/titles.html.twig' import h1 %}

{% block content %}
    <div class="row">
        {{ h1('Regulaciones urbanas', 'lets-icons:paper') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Regulaciones', href: path('app_urban_regulation_index')},
            {label: 'Detalle'},
        ]) }}
    </div>

    <h2 class="mb-4">Regulación urbana: {{ urban_regulation.code }}</h2>

    {{ include('urban_regulation/_detail.html.twig', {'showButton': true, 'title': title}) }}
{% endblock %}
