<div
        class="modal fade"
        id="{{ id }}"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        {{ attributes }}
        {{ stimulusController('twig/modal/modal') }}
>
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ title }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                {% block body %}{% endblock %}
                {{ component('Backdrop:Backdrop', {id: constant('BACKDROP_DATA_ID', this), attr:"data-twig--modal--modal-target=backdrop"}) }}
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>