<div class="card {{ cssClass }}" {{ extra }} {{ stimulusController('twig/card/card') }}>
    {% if app.request.query.get('state') is not same as 'modal' %}
        <div class="card-header {{ headerCssClass }}">
            <p class="text-primary m-0 fw-bold">
                {% if icon is not empty %}
                    {{ icon|raw }}
                {% endif %}
                {{ title|raw }}
            </p>
            {% block header %}{% endblock %}
        </div>
    {% endif %}
    <div class="card-body">
        {% block body %}{% endblock %}
    </div>
    {% if app.request.query.get('state') is not same as 'modal' %}
        {% block footer %}{% endblock %}
    {% endif %}
    {{ component('Backdrop:Backdrop', {id: constant('BACKDROP_DATA_ID', this), attr:"data-twig--card--card-target=backdrop"}) }}
</div>