{% component 'Table:Table' with {
    paginator: paginator,
    amount: app.request.query.get('modal') ? false : true,
    filter: app.request.query.get('modal') ? false : true,
    showPage: app.request.query.get('modal') ? false : true,
    navigation: app.request.query.get('modal') ? false : true,
} %}

    {% block tableHead %}
        <tr>
            <th>Concepto</th>
            <th>Cantidad</th>
            <th>Unidad de medida</th>
            <th>Precio</th>
            <th>Importe</th>
            <th></th>
        </tr>
    {% endblock %}

    {% block tableBody %}
        {% from 'macros/buttons.html.twig' import tableActionButton, deleteFormButton, deleteFormButton2, tableActionButton2, tableActionButton3 %}

        {% for ptp_estimate in paginator.getData() %}
            <tr {{ stimulusController('delete-form-container') }}>
                <td>{{ ptp_estimate.concept }}</td>
                <td>{{ ptp_estimate.quantity }}</td>
                <td>{{ ptp_estimate.measurementUnit }}</td>
                <td>{{ ptp_estimate.getFormatedPrice() }}</td>
                <td>{{ ptp_estimate.getFormatedTotalPrice() }}</td>
                <td class="text-end">
                    {% if not app.request.query.get('modal') %}
                        {#                            {{ tableActionButton3(path('app_organism_show', {'id': organism.id}), 'bi:eye', '', 'Detalle del organismo', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_organism_show', {'id': organism.id})})) }} #}
                        {{ tableActionButton3(path('app_ptp_estimate_edit', {'id': ptp_estimate.id}), 'fa:edit', '', 'Editar estimado de proyecto y preparación técnica', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_ptp_estimate_edit', {'id': ptp_estimate.id})}), 'btn-link') }}
                    {% endif %}
                    {{ component('DeleteForm', {
                        path: path('app_ptp_estimate_delete', {'id': ptp_estimate.id}),
                        confirm: 'Está seguro que desea eliminar el estimado de proyecto y preparación técnica?',
                        token: 'delete' ~ ptp_estimate.id,
                        title: 'Eliminar estimado de proyecto y preparación técnica',
                        icon: 'bi:trash',
                        cssClass: 'btn-link text-danger'
                    }) }}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No se encontraron estimados de proyecto y preparación técnica.</td>
            </tr>
        {% endfor %}
    {% endblock %}

{% endcomponent %}
