{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: 'Estado de subsistemas por locales',
} %}
    {% block header %}
    {% endblock %}

    {% block body %}
        <table class="table table-hover">
            <tr>
                <th>Bueno</th>
                <th>Regular</th>
                <th>Malo</th>
                <th>Crítico</th>
                <th>Sin definir</th>
                <th>Totales</th>
            </tr>

            <tr>
                <td>{{ local_status.good }}</td>
                <td>{{ local_status.regular }}</td>
                <td>{{ local_status.bad }}</td>
                <td>{{ local_status.critical }}</td>
                <td>{{ local_status.undefined }}</td>
                <td>{{ floor.getLocalsAmount() }}</td>
            </tr>
        </table>
    {% endblock %}

{% endcomponent %}

{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: 'Estado de subsistemas por metros',
} %}
    {% block header %}
    {% endblock %}

    {% block body %}
        <table class="table table-hover">
            <tr>
                <th>Bueno</th>
                <th>Regular</th>
                <th>Malo</th>
                <th>Crítico</th>
                <th>Sin definir</th>
                <th>Totales</th>
            </tr>

            <tr>
                <td>{{ meter_status.good|number_format(2) }}</td>
                <td>{{ meter_status.regular|number_format(2) }}</td>
                <td>{{ meter_status.bad|number_format(2) }}</td>
                <td>{{ meter_status.critical|number_format(2) }}</td>
                <td>{{ meter_status.undefined|number_format(2) }}</td>
                <td>{{ floor.getAmountMeters()|number_format(2) }}</td>
            </tr>
        </table>
    {% endblock %}

{% endcomponent %}

