<tbody>
    <tr>
        <th>Nombre:</th>
        <td>{{ floor.name }}</td>

        <th>Sin asignar:</th>
        <td>{{ floor.getUnassignedArea() }}</td>
    </tr>

    <tr>
        <th>Área útil (m<sup>2</sup>):</th>
        <td>{{ floor.getUsefulArea() }}</td>

        <th>Área muro (m<sup>2</sup>):</th>
        <td>
            {% if floor.notWallArea() %}
                <span class="text-danger" data-bs-toggle="tooltip" data-bs-title="Debe tener área de muro." data-bs-custom-class="danger-tooltip" style="cursor: pointer">
                    {{ floor.getWallArea() }}
                </span>
            {% else %}
                {{ floor.getWallArea() }}
            {% endif %}
        </td>
    </tr>

    <tr>
        <th>Área de vacío (m<sup>2</sup>):</th>
        <td>{{ floor.getEmptyArea() }}</td>

        <th>Área total (m<sup>2</sup>):</th>
        <td>{{ floor.getTotalFloorArea() }}</td>
    </tr>

    <tr>
        <th>Altura máxima (m)</th>
        <td>{{ floor.getMaxHeight() }}</td>

        <th>Volumen (m<sup>3</sup>)</th>
        <td>{{ floor.getVolume() }}</td>
    </tr>
</tbody>