{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: 'Listado de plantas',
} %}
    {% block header %}
        {% from 'macros/buttons.html.twig' import tableActionButton2,tableActionButton3 %}

        <div>
            {{ tableActionButton3('', '', 'Salvar', 'Crear inmueble a modificar') }}
            {{ tableActionButton3(path('app_building_edit', {id:building.id}), 'streamline-pixel:construction-building-real-eastate', 'Ir a la obra', 'Ir a la obra') }}
            {% if building.isNew() %}
                {{ tableActionButton3(path('app_floor_new', {'building':building.id}), 'bi:plus-lg', 'Nueva', 'Nueva planta', stimulusAction('twig/card/card', 'newElement:prevent', null, {url:path('app_floor_new', {'building':building.id})})) }}
            {% endif %}
        </div>
    {% endblock %}

    {% block body %}
        {% component 'Table:Table' with {
            paginator: paginator,
        } %}

            {% block message %}
                {% if building.isNew() %}
                    Área de terreno de la obra: {{ building.getLandArea() }}m<sup>2</sup>
                {% else %}
                    Área ocupada de la obra: {{ building.getOccupiedArea() }}m<sup>2</sup> de un área de terreno de {{ building.getLandArea() }}m<sup>2</sup>.
                {% endif %}
            {% endblock %}

            {% block tableHead %}
                <tr>
                    <th>Nombre</th>
                    <th>Á. Util (m<sup>2</sup>)</th>
                    <th>Á. Muro (m<sup>2</sup>)</th>
                    <th>Á. Vacío (m<sup>2</sup>)</th>
                    <th>Á. Total (m<sup>2</sup>)</th>
                    <th>Altura (m)</th>
                    <th>Volumen (m<sup>3</sup>)</th>
                    <th>Sin asignar (m<sup>2</sup>)</th>
                    <th></th>
                </tr>
            {% endblock %}

            {% block tableBody %}
                {% from 'macros/buttons.html.twig' import tableActionButton, deleteFormButton, deleteFormButton2, tableActionButton2, tableActionButton3 %}

                {% for floor in paginator.getData() %}
                    <tr {{ stimulusController('delete-form-container') }}>
                        <td>
                            {{ floor.name }}
                            <span class="badge rounded-pill bg-danger" title="Locales de la planta" style="cursor: pointer">
                                {{ floor.getSubSystemAmount() }}
                                <span class="visually-hidden">Locales</span>
                            </span>
                        </td>
                        <td>{{ floor.getUsefulArea() }}</td>
                        <td>{{ floor.getWallArea() }}</td>
                        <td>{{ floor.getEmptyArea() }}</td>
                        <td>{{ floor.getTotalFloorArea() }}</td>
                        <td>{{ floor.getMaxHeight() }}</td>
                        <td>{{ floor.getVolume() }}</td>
                        <td>{{ floor.getUnassignedArea() }}</td>
                        <td class="text-end">
{#                            {{ tableActionButton3(path('app_floor_show', {'id': floor.id, 'building':building.id}), 'bi:eye', '', 'Detalle de la planta', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_floor_show', {'id': floor.id, 'building':building.id})})) }} #}
                            {{ tableActionButton3(path('app_sub_system_index', {'floor': floor.id}), '', 'Subsistemas', 'Subsistemas', '', 'btn-info') }}
{#                            {{ tableActionButton3(path('app_local_index', {'floor': floor.id}), 'lucide-lab:floor-plan', '', 'Locales', '', 'btn-info') }}#}
                            {{ tableActionButton3(path('app_floor_edit', {'id': floor.id, 'building':building.id}), 'fa:edit', '', 'Editar planta', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_floor_edit', {'id': floor.id, 'building':building.id})})) }}
                            {% if building.isNew() %}
                                {{ component('DeleteForm', {
                                    path: path('app_floor_delete', {'id': floor.id}),
                                    confirm: 'Está seguro que desea eliminar la planta?',
                                    token: 'delete' ~ floor.id,
                                    title: 'Eliminar planta',
                                    icon: 'bi:trash'
                                }) }}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">No se encontraron plantas.</td>
                    </tr>
                {% endfor %}
            {% endblock %}

        {% endcomponent %}

    {% endblock %}

{% endcomponent %}