{% if building.hasErrors(not reply) %}
    {% set card_icon = ux_icon('material-symbols:dangerous', {
        'class':'bi text-danger',
        'data-bs-toggle':"tooltip",
        'data-bs-title':"Revisar datos de las plantas.",
        'data-bs-custom-class':"danger-tooltip"
    }) %}
{% else %}
    {% set card_icon = ux_icon('ep:success-filled', {
        'class':'bi text-success',
    }) %}
{% endif %}

{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: reply ? 'Listado de plantas replicadas' : 'Listado de plantas',
    icon: card_icon
} %}
    {% block header %}
        {% from 'macros/buttons.html.twig' import tableActionButton2,tableActionButton3 %}

        <div>
            {% if building.hasReply() %}
                {{ tableActionButton3(path('app_floor_index', {'building': building.id, 'reply':(not reply)}), 'dinkie-icons:house-buildings-small', (reply) ? 'Plantas existentes' : 'Plantas a modificar', (reply) ? 'Plantas existentes' : 'Plantas a modificar') }}
            {% endif %}

            {% if building.canReply() and building.hasErrors(not reply) == false %}
                {{ tableActionButton3(path('app_building_reply', {'id':building.id}), 'gis:copy-poly', 'Salvar', 'Crear inmueble a modificar') }}
            {% endif %}

            <div class="dropdown d-inline-block">
                <button type="button"
                        class="btn text-decoration-none btn-sm dropdown-toggle show dropdown-sm btn-info"
                        data-bs-toggle="dropdown"
                        aria-expanded="false" title="Obras del proyecto"
                >
                    Reportes
                </button>
                <ul class="dropdown-menu" data-bs-theme="light">
                    <li>
                        <a class="dropdown-item"
                           href="" title="">
                            Reporte por locales
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                           href="" title="">
                            Reporte por metros cuadrados
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item"
                           href="" title="">
                            Reporte descripcion por locales (PDF)
                        </a>
                    </li>
                </ul>
            </div>

{#            {% if (building.isNew() or building.hasReplyFloors()) or reply %}#}
            {% if building.isNew() or reply %}
                {% set path = path('app_floor_new', {'building':building.id, 'reply': reply}) %}
                {{ tableActionButton3(path, 'bi:plus-lg', 'Nueva', 'Nueva planta', stimulusAction('twig/card/card', 'newElement:prevent', null, {url:path})) }}
            {% endif %}
            {{ tableActionButton3(path('app_building_edit', {id:building.id}), 'streamline-pixel:construction-building-real-eastate', 'Ir a la obra', 'Ir a la obra') }}
        </div>
    {% endblock %}

    {% block body %}
        {% component 'Table:Table' with {
            paginator: paginator,
        } %}

            {% block message %}
                {% if building.isNew() %}
                    Área de terreno de la obra: {{ building.getLandArea() }}m<sup>2</sup>.
                {% else %}
                    Área ocupada de la obra: {{ building.getOccupiedArea() }}m
                    <sup>2</sup> de un área de terreno de {{ building.getLandArea() }}m<sup>2</sup>.
                {% endif %}
            {% endblock %}

            {% block tableHead %}
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th></th>
                    <th>Á. Util (m<sup>2</sup>)</th>
                    <th title="Área de Muro y Columna">Á.M.C (m<sup>2</sup>)</th>
                    <th>Á. Vacío (m<sup>2</sup>)</th>
                    <th title="Área Total de Planta">Á.T.P (m<sup>2</sup>)</th>
                    <th>Altura (m)</th>
                    <th>Volumen (m<sup>3</sup>)</th>
                    <th>Sin asignar (m<sup>2</sup>)</th>
                    <th></th>
                </tr>
            {% endblock %}

            {% block tableBody %}
                {% from 'macros/buttons.html.twig' import tableActionButton, deleteFormButton, deleteFormButton2, tableActionButton2, tableActionButton3 %}

                {% for floor in paginator.getData() %}
                    <tr {{ stimulusController('delete-form-container') }} {% if floor.inNewBuilding() or floor.isNewInReply() %}class="table-success"{% endif %}>
                        <td>
                            {{ floor.position }}
                        </td>
                        <td>
                            {{ floor.name }}
                        </td>
                        <td>
                            {% if reply %}
                                <span class="badge rounded-pill bg-success"
                                      title="Subsistemas replicados de la planta" data-bs-toggle="tooltip"
                                      style="cursor: pointer">
                                    {{ floor.getSubSystemAmount(false) }}
                                    <span class="visually-hidden">Subsistemas</span>
                                </span>
                            {% else %}
                                <span class="badge rounded-pill {% if floor.hasOriginalSubSystems() %}bg-success{% else %}bg-danger{% endif %}"
                                      title="Subsistemas de la planta" data-bs-toggle="tooltip"
                                      {% if floor.hasOriginalSubSystems() == false %}
                                          data-bs-title="No tiene definido subsistema." data-bs-custom-class="danger-tooltip"
                                      {% endif %}
                                      style="cursor: pointer">
                                    {{ floor.getSubSystemAmount() }}
                                    <span class="visually-hidden">Subsistemas</span>
                                </span>
                            {% endif %}
                        </td>

                        <td>
                            {% if floor.isFullyOccupied() %}
                                {{ floor.getUsefulArea() }}
                            {% else %}
                                <span class="text-warning" data-bs-toggle="tooltip"
                                      data-bs-title="Queda espacio sin aprovechar."
                                      data-bs-custom-class="warning-tooltip" style="cursor: pointer">
                                    {{ floor.getUsefulArea() }}
                                </span>
                            {% endif %}
                        </td>
                        <td>
                            {% if floor.notWallArea() %}
                                <span class="text-danger" data-bs-toggle="tooltip"
                                      data-bs-title="Debe tener área de muro." data-bs-custom-class="danger-tooltip"
                                      style="cursor: pointer">
                                    {{ floor.getWallArea() }}
                                </span>
                            {% else %}
                                {{ floor.getWallArea() }}
                            {% endif %}
                        </td>
                        <td>{{ floor.getEmptyArea() }}</td>
                        <td>{{ floor.getTotalArea() }}</td>
                        <td>{{ floor.getMaxHeight() }}</td>
                        <td>{{ floor.getVolume() }}</td>
                        <td>
                            {% if floor.isFullyOccupied() %}
                                {{ floor.getUnassignedArea() }}
                            {% else %}
                                <span class="text-warning" data-bs-toggle="tooltip"
                                      data-bs-title="Queda espacio sin aprovechar."
                                      data-bs-custom-class="warning-tooltip" style="cursor: pointer">
                                    {{ floor.getUnassignedArea() }}
                                </span>
                            {% endif %}
                        </td>
                        <td class="text-end">
                            {#                            {{ tableActionButton3(path('app_floor_show', {'id': floor.id, 'building':building.id}), 'bi:eye', '', 'Detalle de la planta', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_floor_show', {'id': floor.id, 'building':building.id})})) }} #}
                            {% if floor.inNewBuilding() %}
                                {% set cssClass = 'btn-link text-dark' %}
                            {% else %}
                                {% set cssClass = 'btn-link' %}
                            {% endif %}

                            {{ tableActionButton3(path('app_sub_system_index', {'floor': floor.id, 'reply':reply}), 'ix:building-block' , '', (reply) ? 'Subsistemas replicados' : 'Subsistemas', '', cssClass, floor.hasErrors()) }}
                            {#                            {{ tableActionButton3(path('app_local_index', {'floor': floor.id}), 'lucide-lab:floor-plan', '', 'Locales', '', 'btn-info') }} #}
                            {% if floor.hasReply() == false %}
                                {{ tableActionButton3(path('app_floor_edit', {'id': floor.id, 'building':building.id}), 'fa:edit', '', 'Editar planta', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_floor_edit', {'id': floor.id, 'building':building.id})}), cssClass) }}
                            {% endif %}

                            {% if floor.inNewBuilding() or floor.hasReply() == false %}
                                {{ component('DeleteForm', {
                                    path: path('app_floor_delete', {'id': floor.id}),
                                    confirm: 'Está seguro que desea eliminar la planta?',
                                    token: 'delete' ~ floor.id,
                                    title: 'Eliminar planta',
                                    icon: 'bi:trash',
                                    active: floor.isGroundFloor() == false,
                                    cssClass: 'btn-link text-danger'
                                }) }}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">No se encontraron plantas.</td>
                    </tr>
                {% endfor %}
            {% endblock %}

            {% block tableFooter %}
                <tr>
                    <th colspan="3">Resumen del inmueble:</th>
                    <th>{{ building.getUsefulArea(not reply) }}</th>
                    <th>{{ building.getWallArea(not reply) }}</th>
                    <th>{{ building.getEmptyArea(not reply) }}</th>
                    <th>{{ building.getTotalArea(not reply) }}</th>
                    <th>{{ building.getMaxHeight(not reply) }}</th>
                    <th>{{ building.getVolume(not reply) }}</th>
                    <th>{{ building.getUnassignedArea(not reply) }}</th>
                    <th class="text-end">CUS: {{ building.getCus(not reply) }}</th>
                </tr>
            {% endblock %}

        {% endcomponent %}

    {% endblock %}

{% endcomponent %}

{# {% component 'Card:Card' with { #}
{#    cssClass: 'mb-4', #}
{#    extra: '', #}
{#    headerCssClass: 'd-flex justify-content-between align-items-center', #}
{#    title: 'Detalles del inmueble', #}
{# } %} #}
{#    {% block body %} #}
{#        <table class="table table-hover"> #}
{#            {{ include('building/_data.html.twig') }} #}
{#        </table> #}
{#    {% endblock %} #}

{# {% endcomponent %} #}