{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}

{% block title %}Planta: {{ floor.name }}{% endblock %}
{% from 'macros/titles.html.twig' import h1 %}

{% block content %}
    <div class="row">
        {{ h1('Plantas', 'dinkie-icons:house-buildings-small') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Plantas', href: path('app_building_index')},
            {label: 'Detalle'},
        ]) }}
    </div>

    <h2 class="mb-4">Planta: {{ floor.name }}</h2>

    {{ include('floor/_detail.html.twig', {'showButton': true, 'title': title}) }}
{% endblock %}
