{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: 'Listado de inversiones',
} %}
    {% block header %}
        {% from 'macros/buttons.html.twig' import tableActionButton2,tableActionButton3 %}

        <div>
            {{ tableActionButton3(path('app_investment_new'), 'bi:plus-lg', 'Nueva', 'Nueva inversión', stimulusAction('twig/card/card', 'newElement:prevent', null, {url:path('app_investment_new')})) }}
        </div>
    {% endblock %}

    {% block body %}
        {% component 'Table:Table' with {
            paginator: paginator,
        } %}
            {% block tableHead %}
                <tr>
                    <th>Nombre</th>
                    <th>Zona de ubicación</th>
                    <th>Provincia {{ ux_icon('mdi:filter', {class:'bi'}) }}</th>
                    <th>Municipio {{ ux_icon('mdi:filter', {class:'bi'}) }}</th>
                    <th>Reparto</th>
                    <th></th>
                </tr>
            {% endblock %}

            {% block tableBody %}
                {% from 'macros/buttons.html.twig' import tableActionButton, deleteFormButton, deleteFormButton2, tableActionButton2, tableActionButton3 %}
                {% from 'macros/link.html.twig' import filterLink %}

                {% for investment in paginator.getData() %}
                    <tr {{ stimulusController('delete-form-container') }}>
                        <td>
                            {{ investment.name }}
                            <span class="badge rounded-pill bg-danger" title="Obras de la inversión">
                                {{ investment.getBuildingsAmount() }}
                                <span class="visually-hidden">Obras</span>
                            </span>
                        </td>
                        <td>{{ investment.getLocationZoneName() }}</td>
                        <td>
                            <a href="{{ filterLink(investment.getProvinceName()) }}"
                               class="text-decoration-none"
                            >
                                {{ investment.getProvinceName() }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ filterLink(investment.getMunicipalityName()) }}"
                               class="text-decoration-none"
                            >
                                {{ investment.getMunicipalityName() }}
                            </a>
                        </td>
                        <td>{{ investment.town }}</td>
                        <td class="text-end">
                            {{ tableActionButton3(path('app_investment_show', {'id': investment.id}), 'bi:eye', '', 'Detalle de la inversión', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_investment_show', {'id': investment.id})}), 'btn-link') }}
                            {{ tableActionButton3(path('app_investment_edit', {'id': investment.id}), 'fa:edit', '', 'Editar inveersión', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_investment_edit', {'id': investment.id})}), 'btn-link') }}

                            {{ component('DeleteForm', {
                                path: path('app_investment_delete', {'id': investment.id}),
                                confirm: 'Está seguro que desea eliminar la inversión?',
                                token: 'delete' ~ investment.id,
                                title: 'Eliminar inersión',
                                icon: 'bi:trash',
                                cssClass: 'btn-link text-danger'
                            }) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">No se encontraron inversiones.</td>
                    </tr>
                {% endfor %}
            {% endblock %}

        {% endcomponent %}

    {% endblock %}

{% endcomponent %}
