{% component 'Table:Table' with {
    paginator: paginator,
    amount: app.request.query.get('modal') ? false : true,
    filter: app.request.query.get('modal') ? false : true,
    showPage: app.request.query.get('modal') ? false : true,
    navigation: app.request.query.get('modal') ? false : true,
} %}
    {% block tableHead %}
        <tr>
            <th>Dato</th>
            <th>Medida</th>
            <th>Descripción</th>
            <th></th>
        </tr>
    {% endblock %}

    {% block tableBody %}
        {% from 'macros/buttons.html.twig' import tableActionButton, deleteFormButton, deleteFormButton2, tableActionButton2, tableActionButton3 %}

        {% for project_urban_regulation in paginator.getData() %}
            <tr {{ stimulusController('delete-form-container') }}>
                <td>{{ project_urban_regulation.data }}</td>
                <td>{{ project_urban_regulation.urbanRegulation.measurementUnit }}</td>
                <td>{{ project_urban_regulation.urbanRegulation.description }}</td>
                <td class="text-end">
                    {#                            {{ tableActionButton3(path('app_project_urban_regulation_show', {'id': project_urban_regulation.id, 'project':project}), 'bi:eye', '', 'Detalle de la regulación', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_project_urban_regulation_show', {'id': project_urban_regulation.id, 'project':project})}), 'btn-link') }}#}
                    {#                            {{ tableActionButton3(path('app_project_urban_regulation_edit', {'id': project_urban_regulation.id, 'project':project}), 'fa:edit', '', 'Editar regulación urbana', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_project_urban_regulation_edit', {'id': project_urban_regulation.id, 'project':project})}), 'btn-link') }}#}

                    {{ component('DeleteForm', {
                        path: path('app_project_urban_regulation_delete', {'id': project_urban_regulation.id}),
                        confirm: 'Está seguro que desea eliminar la regulación urbana del proyecto?',
                        token: 'delete' ~ project_urban_regulation.id,
                        title: 'Eliminar regulación urbana del proyecto',
                        icon: 'bi:trash',
                        cssClass: 'btn-link text-danger'
                    }) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No se encontraron regulaciones urbanas en el proyecto.</td>
            </tr>
        {% endfor %}
    {% endblock %}

{% endcomponent %}
