{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}

{% block title %}Organismo: {{ organism.name }}{% endblock %}
{% from 'macros/titles.html.twig' import h1 %}

{% block content %}
    <div class="row">
        {{ h1('Organismos', 'bi:list-check') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Organismos', href: path('app_organism_index')},
            {label: 'Detalle'},
        ]) }}
    </div>

    <h2 class="mb-4">{{ organism.name }}</h2>

    {{ include('organism/_detail.html.twig', {'showButton': true, 'title': title}) }}
{% endblock %}
