{% from 'macros/buttons.html.twig' import tableActionButton2,tableActionButton3 %}

<div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">
    {{ tableActionButton3(path('app_floor_index', {'building': building.id}), '', 'Inmueble a modificar', 'Inmueble a modificar') }}
    {% if building.isNew() is not null %}
        {% if building.isNew() == false %}
            {% set labelAndTitle = 'Inmueble existente' %}
        {% else %}
            {% set labelAndTitle = 'Inmueble nuevo' %}
        {% endif %}
        {{ tableActionButton3(path('app_floor_index', {'building': building.id}), 'dinkie-icons:house-buildings-small', labelAndTitle, labelAndTitle) }}
{#        {{ tableActionButton3(path('app_floor_index', {'building': building.id}), 'dinkie-icons:house-buildings-small', 'Inmueble nuevo', 'Inmueble nuevo') }}#}
    {% endif %}

    {% if building.id is not null %}
        {% if building.land is null %}
            {% set urlPath = path('app_land_new', {'building': building.id, 'modal' : 'modal-load'}) %}
        {% else %}
            {% set urlPath = path('app_land_edit', {'building': building.id, 'modal' : 'modal-load', 'id':building.land.id}) %}
        {% endif %}

        <button class="btn btn-sm btn-primary"
                title="Datos generales del terreno"
                {{ stimulusTarget('modal-content-loader', 'button') }}
                {{ stimulusController('modal-content-loader', {
                    url: urlPath,
                    id: 'modal-load',
                    placeholder: 'Cargando...',
                    title: 'Datos generales del terreno',
                }) }}
        >
            {{ ux_icon('mdi:land-plots-marker', {'class':'bi'}) }}
            Datos generales del terreno
        </button>
    {% endif %}
    {{ tableActionButton3(path('app_project_edit', {'id':building.project.id}), 'bi:table', 'Proyecto', 'Proyecto') }}
</div>