{% from 'macros/buttons.html.twig' import tableActionButton2,tableActionButton3 %}

<div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">
{#    <a href="{{ path('app_project_edit', {'id':building.project.id}) }}" class="btn btn-sm btn-primary"#}
{#       title="Gestionar plantas">#}
{#        {{ ux_icon('bi:table', {'class':'bi'}) }}#}
{#        Proyecto#}
{#    </a>#}
    {{ tableActionButton3(path('app_project_edit', {'id':building.project.id}), 'bi:table', 'Proyecto', 'Proyecto') }}

    {% if building.hasFloors() %}
{#        <a href="{{ path('app_floor_index', {building: building.id}) }}" class="btn btn-sm btn-primary"#}
{#           title="Gestionar plantas">#}
{#            Gestionar plantas#}
{#        </a>#}
        {{ tableActionButton3(path('app_floor_index', {'building': building.id}), 'dinkie-icons:house-buildings-small', 'Gestionar plantas', 'Gestionar plantas') }}
    {% endif %}

    {% if building.id is not null %}
        {% if building.land is null %}
            {% set urlPath = path('app_land_new', {'building': building.id, 'modal' : 'modal-load'}) %}
        {% else %}
            {% set urlPath = path('app_land_edit', {'building': building.id, 'modal' : 'modal-load', 'id':building.land.id}) %}
        {% endif %}

        <button class="btn btn-sm btn-primary"
                title="Datos generales del terreno"
                {{ stimulusTarget('modal-content-loader', 'button') }}
                {{ stimulusController('modal-content-loader', {
                    url: urlPath,
                    id: 'modal-load',
                    placeholder: 'Cargando...',
                    title: 'Datos generales del terreno',
                }) }}
        >
            {{ ux_icon('mdi:land-plots-marker', {'class':'bi'}) }}
            Datos generales del terreno
        </button>
    {% endif %}
</div>