{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: title
} %}

    {% block header %}
        {% if building.land is null %}
            {% set urlPath = path('app_land_new', {'building': building.id, 'modal' : 'modal-load'}) %}
        {% else %}
            {% set urlPath = path('app_land_edit', {'building': building.id, 'modal' : 'modal-load', 'id':building.land.id}) %}
        {% endif %}

        <button class="btn btn-sm btn-primary"
                title="Datos generales del terreno"
                {{ stimulusTarget('modal-content-loader', 'button') }}
                {{ stimulusController('modal-content-loader', {
                    url: urlPath,
                    id: 'modal-load',
                    placeholder: 'Cargando...',
                    title: 'Datos generales del terreno',
                }) }}
        >
            Datos generales del terreno
        </button>

        {% if building.hasFloors() %}
            <a href="{{ path('app_floor_index') }}" class="btn btn-sm btn-primary" title="Gestionar plantas">
                Gestionar plantas
            </a>
        {% endif %}
    {% endblock %}

    {% block body %}
        {{ component('BuildingForm', {modal:null, bui: building, ajax: ajax}) }}
    {% endblock %}

    {% block footer %}
        {{ include('partials/_card_footer.html.twig', {
            list: {href: 'app_project_edit', data:{id: building.project.id}, label: 'Proyecto', title:'Volver al proyecto'},
            delete: null,
            id: building.id,
            message: '',
            state: 'form',
            showButton: (showButton is defined and showButton == true) ? true : false,
            entity: building
        }) }}
    {% endblock %}

{% endcomponent %}

{{ include('partials/modal/_modal_load.html.twig') }}
