{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: 'Listado de obras',
} %}
    {% block header %}
        {% from 'macros/buttons.html.twig' import tableActionButton2,tableActionButton3 %}

        <div>
            {{ component('Card:Refresh', {
                path: path('app_building_project', {'project':project.id}),
                queryNames:['type', 'state', 'amount', 'filter', 'page']
            }) }}

            {{ component('Card:FilterDropDown', {
                path:'app_building_project',
                pathParams: {'project':project.id},
                label:'Estados de la obra',
                queryName: 'state',
                options:states
            }) }}
            {% if project is not null %}
                {% set path = path('app_building_new', {'project':project.id}) %}
            {% else %}
                {% set path = path('app_building_new') %}
            {% endif %}

            {{ tableActionButton3(path, 'bi:plus-lg', 'Nueva', 'Nueva obra', stimulusAction('twig/card/card', 'newElement:prevent', null, {url:path})) }}
            {% if project is not null %}
                {{ tableActionButton3(path('app_project_edit', {'id':project.id}), 'bi:table', 'Proyecto', 'Proyecto') }}
            {% else %}
                {% set path = path('app_building_new') %}
            {% endif %}
        </div>
    {% endblock %}

    {% block body %}
        {% component 'Table:Table' with {
            paginator: paginator,
        } %}

            {% block tableHead %}
                <tr>
                    <th>Nombre</th>
                    <th>Valor aprobado total</th>
                    <th>Valor estimado total</th>
                    <th>Existente</th>
                    {% if app.request.query.get('state') == '' %}
                        <th>Estado</th>
                    {% endif %}
                    <th>Constructora {{ ux_icon('bi:window-stack', {class:'bi'}) }}</th>
                    <th>Proyecto {{ ux_icon('bi:window-stack', {class:'bi'}) }}</th>
                    {#                    <th>Proyecto {{ ux_icon('bi:window-stack', {class:'bi'}) }}</th> #}
                    <th data-bs-toggle="tooltip" title="Costo de construcci칩n">Monto (CUP)</th>
                    <th></th>
                </tr>
            {% endblock %}

            {% block tableBody %}
                {% from 'macros/buttons.html.twig' import tableActionButton, deleteFormButton, deleteFormButton2, tableActionButton2, tableActionButton3 %}

                {% for building in paginator.getData() %}
                    <tr {{ stimulusController('delete-form-container') }}>
                        <td>{{ building.name }}</td>
                        <td>{{ building.getTotalApprovedValueFormated() }}</td>
                        <td>{{ building.getTotalEstimatedValueFormated() }}</td>
                        <td>{{ building.isNew ? 'NO' : 'SI' }}</td>
                        {% if app.request.query.get('state') == '' %}
                            <td>{{ building.state.getLabelFrom(building.state) }}</td>
                        {% endif %}
                        <td>
                            {% if building.hasActiveConstructor() %}
                                <a data-bs-toggle="modal" data-bs-target="#detail-constructor"
                                   href="#" {{ stimulusController('detail-link-modal', {
                                    url: path('app_constructor_show', {id:building.getActiveConstructorId(), state:'modal'}),
                                    container: '#detail-constructor .modal-body'
                                }) }}
                                >
                                    {{ building.getActiveConstructorName() }}
                                </a>
                            {% else %}
                                <span class="text-danger">Sin constructora</span>
                            {% endif %}
                        </td>
                        <td>
                            <a data-bs-toggle="modal" data-bs-target="#detail-investment"
                               href="#" {{ stimulusController('detail-link-modal', {
                                url: path('app_project_show', {id:building.project.id, state:'modal'}),
                                container: '#detail-investment .modal-body'
                            }) }}
                            >
                                {{ building.project.name }}
                            </a>
                        </td>
                        {#                        <td> #}
                        {#                            <a data-bs-toggle="modal" data-bs-target="#detail-investment" #}
                        {#                               href="#" {{ stimulusController('detail-link-modal', { #}
                        {#                                url: path('app_project_show', {id:building.investment.project.id, state:'modal'}), #}
                        {#                                container: '#detail-investment .modal-body' #}
                        {#                            }) }} #}
                        {#                            > #}
                        {#                                {{ building.investment.project.name }} #}
                        {#                            </a> #}
                        {#                        </td> #}
                        <td>{{ money(building.getPrice()) }}</td>
                        <td class="text-end">
                            {{ tableActionButton3(path('app_building_show', {'id': building.id}), 'bi:eye', '', 'Detalle de la obra', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_building_show', {'id': building.id})}), 'btn-link') }}
                            {#                            {{ tableActionButton3(path('app_building_edit', {'id': building.id}), 'fa:edit', '', 'Editar obra', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_building_edit', {'id': building.id})})) }} #}
                            {{ tableActionButton3(path('app_building_edit', {'id': building.id}), 'fa:edit', '', 'Editar obra', '', 'btn-link') }}

                            {{ component('DeleteForm', {
                                path: path('app_building_delete', {'id': building.id}),
                                confirm: 'Est치 seguro que desea eliminar la obra?',
                                token: 'delete' ~ building.id,
                                title: 'Eliminar obra',
                                icon: 'bi:trash',
                                cssClass: 'btn-link text-danger'
                            }) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">No se encontraron obras.</td>
                    </tr>
                {% endfor %}
            {% endblock %}

        {% endcomponent %}

        {% component 'Modal:Modal' with {
            title: 'Detalle de la constructora',
            id: 'detail-constructor',
        } %}
            {% block body %}
                Cargando datos de la constructora...
            {% endblock %}
        {% endcomponent %}

        {% component 'Modal:Modal' with {
            title: 'Detalle de la inversi칩n',
            id: 'detail-investment',
        } %}
            {% block body %}
                Cargando datos de la invesi칩n...
            {% endblock %}
        {% endcomponent %}

    {% endblock %}

{% endcomponent %}
