<div class="data-container">
    <div class="row">
        <div class="col-4">
            {% component 'Card:Card' with {
                title: 'Presupuesto estimado',
            } %}
                {% block body %}
                    <h6 class="card-subtitle mb-2">Presupuesto ajustado:</h6>
                    <h1>$ {{ money(building.getEstimatedAdjustValue()) }}</h1>
                    <h6 class="card-subtitle mb-2">ITE (resultante):</h6>
                    <h1>{{ building.getResultIte()|number_format(2) }} $/m<sup>2</sup></h1>
                    <h6 class="card-subtitle mb-2">Coeficiente de ajuste:</h6>
                    <h1>{{ building.getCoefficient() }}</h1>
                {% endblock %}
            {% endcomponent %}
        </div>

        <div class="col-8">
            {% component 'Card:Card' with {
                title: 'Anexo',
            } %}
                {% block body %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <strong>Constructor</strong>
                            <span class="badge text-bg-primary rounded-pill">...</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <strong>Obra</strong>
                            <span class="badge text-bg-primary rounded-pill">...</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <strong>Objetos de obra</strong>
                            <span class="badge text-bg-primary rounded-pill">...</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <strong>Cliente</strong>
                            <span class="badge text-bg-primary rounded-pill">...</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <strong>Actividad</strong>
                            <span class="badge text-bg-primary rounded-pill">...</span>
                        </li>
                    </ul>
                {% endblock %}
            {% endcomponent %}
        </div>
    </div>

    <div class="row">
        {% component 'Table:Table' %}

            {% block tableHead %}
                <tr>
                    <th>{{ building.separateConceptsTotalPercent() }} %</th>
                    <th>Número</th>
                    <th>Concepto</th>
                    <th>Importe</th>
                    <th></th>
                </tr>
            {% endblock %}

            {% block tableBody %}
                {% from 'macros/buttons.html.twig' import tableActionButton, deleteFormButton, deleteFormButton2, tableActionButton2, tableActionButton3 %}

                {% for buildingSeparateConcept in building.getBuildingSeparateConcepts() %}
                    {% set buildingEstimatedAdjustValue = buildingSeparateConcept.building.getEstimatedAdjustValue() %}
                    {% set parentPercent = 0 %}
                    {% set parentImport = 0 %}
                    {% if buildingSeparateConcept.separateConcept.parent is not null %}
                        {% set parentPercent = aec.find(buildingSeparateConcept.separateConcept.parent.number).percentAsFloat() %}
                        {% set parentImport = aec.find(buildingSeparateConcept.separateConcept.parent.number).importAsFloat() %}
                    {% endif %}

                    <tr {{ stimulusController('separate-concept', {
                        urlSaveData: path('app_building_separate_concept', {'id': buildingSeparateConcept.id}),
                        urlLoadData: path('app_building_separete_presupposition', {'id': buildingSeparateConcept.building.id}),
                        estimatedAdjust: ((buildingSeparateConcept.separateConcept.parent is null)
                        ? buildingEstimatedAdjustValue
                        : parentImport
                        )
                    }) }}>
                        <td style="width: 130px">
                            {% set separateConcepts = [] %}
                            {% set imports = [] %}
                            {% set totalImport = 0 %}
                            {% set numbers = [] %}
                            {% set data = [] %}

                            {% if buildingSeparateConcept.separateConcept.formula %}
                                {% set numbers = buildingSeparateConcept.extraerNumeros(buildingSeparateConcept.separateConcept.formula, buildingSeparateConcept.separateConcept.ignoreNumber) %}

                                {% set data = buildingSeparateConcept.conformData(aec, numbers) %}
                                {% set totalImport = buildingSeparateConcept.calculateImportByFormula(formulaEvaluator, data, buildingSeparateConcept.separateConcept.formula, buildingSeparateConcept.separateConcept.ignoreNumber) %}
                                {% set aec = aec.add(buildingSeparateConcept.separateConcept.number, totalImport, buildingSeparateConcept.getPercentByFormula(totalImport)) %}
                            {% else %}
                                {% if buildingSeparateConcept.separateConcept.parent is null %}
                                    {% set aec = aec.add(buildingSeparateConcept.separateConcept.number, buildingSeparateConcept.getImport(), buildingSeparateConcept.getPercentByFormula(buildingSeparateConcept.getImport())) %}
                                {% else %}
                                    {% set aec = aec.add(buildingSeparateConcept.separateConcept.number, buildingSeparateConcept.getImport(parentImport), buildingSeparateConcept.getPercentByFormula(buildingSeparateConcept.getImport())) %}
                                {% endif %}
                            {% endif %}

                            <input type="number" step="0.01" placeholder="0.00" min="0" max="100"
                                   id="{{ buildingSeparateConcept.id }}" name="building[coefficient]"
                                   data-estimate-presupposition-target="field" inputmode="decimal" class="form-control"
                                   value="{{ (buildingSeparateConcept.separateConcept.formula) ? buildingSeparateConcept.getPercentByFormula(totalImport)|number_format(2) : buildingSeparateConcept.percent|number_format(2) }}"
                                   style="display: inline;width: 90px" {{ stimulusTarget('separate-concept', 'percent') }}
                                {% if buildingSeparateConcept.separateConcept.formula is not null %}readonly
                                    disabled{% endif %}
                            > %
                        </td>
                        <td>{{ buildingSeparateConcept.separateConcept.number }}</td>
                        <td>
                            {{ buildingSeparateConcept.separateConcept.name }}
                            {% if buildingSeparateConcept.separateConcept.formula %}
                                [{{ buildingSeparateConcept.separateConcept.formula }}]
                            {% endif %}
                            {% if buildingSeparateConcept.separateConcept.number in ['9', '13'] %}
                                <strong>[DUDA]</strong>{% endif %}
                        </td>
                        <td {{ stimulusTarget('separate-concept', 'import') }}>
                            {% if buildingSeparateConcept.separateConcept.parent is null %}
                                {% if buildingSeparateConcept.separateConcept.formula %}
                                    ${{ money(totalImport) }}
                                {% else %}
                                    ${{ money(buildingSeparateConcept.getImport()) }}
                                {% endif %}
                            {% else %}
                                ${{ money(buildingSeparateConcept.getImport(parentImport)) }}
                            {% endif %}
                        </td>
                        <td class="text-end">
                            {% set cssClass = 'btn-link' %}
                            {% if buildingSeparateConcept.separateConcept.formula %}
                                {% set cssClass = 'btn-link disabled' %}
                            {% endif %}
                            {{ tableActionButton3('', 'fa:save', '', 'Salvar', stimulusAction('separate-concept', 'save:prevent'), cssClass) }}
                        </td>
                    </tr>

                    {% set data = data|merge({(buildingSeparateConcept.separateConcept.number) : ''}) %}
                {% else %}
                    <tr>
                        <td colspan="6">No se encontraron desgloses.</td>
                    </tr>
                {% endfor %}

            {% endblock %}

        {% endcomponent %}
    </div>
</div>
