<div class="mb-0 row">
    <div class="col-6">
        {{ form_row(name) }}
    </div>

    <div class="col-3">
        {{ form_row(population) }}
    </div>

    <div class="col-3">
        {{ form_row(activity) }}
    </div>
</div>

<div class="mb-0 row">
    {#    <div class="col"> #}
    {#        {{ form_row(constructor) }} #}
    {#    </div> #}
    <div class="col">
        {{ form_row(corporateEntity) }}
    </div>
    {% if draftsman is defined and draftsman is not null %}
        <div class="col">
            {{ form_row(draftsman) }}
        </div>
    {% endif %}
</div>

<div class="mb-0 row">
    <div class="col">
        {{ form_row(objects) }}
    </div>

</div>

<details class="collection" open>
    <summary class="collection" style="display: none"></summary>
    <div class="mb-0 row" {{ stimulusController('visibility') }}>
        <div class="col">
            {{ form_row(clientType) }}
        </div>
        <div class="col">
            <div {{ stimulusTarget('visibility', 'target') }}
                style="display: {% if this.isIndividualClient() %}block{% else %}none{% endif %}">
                {{ form_row(individualClient) }}
            </div>
            <div {{ stimulusTarget('visibility', 'target') }}
                style="display: {% if this.isEnterpriseClient() %}block{% else %}none{% endif %}">
                {{ form_row(enterpriseClient) }}
            </div>
        </div>
    </div>
</details>

<details class="collection"
         {% if approvedValueConstruction.vars.data > 0 or approvedValueEquipment.vars.data > 0 or approvedValueOther.vars.data > 0 %}open{% endif %}>
    <summary class="collection">
        <div class="row summary-btn-lis">
            <div class="col">Valores aprobados:</div>
            <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">

            </div>
        </div>
    </summary>
    <br>
    <div class="mb-0 row" {{ stimulusController('summation-values') }}>
        <div class="col">
            {{ form_row(approvedValueConstruction) }}
        </div>
        <div class="col">
            {{ form_row(approvedValueEquipment) }}
        </div>
        <div class="col">
            {{ form_row(approvedValueOther) }}
        </div>
        <div class="col">
            <div class="mb-3">
                <p class="text-end-detail">Total:</p>
                <h5 class="text-end-detail">{# $ #}
                    <span class="badge text-bg-info" {{ stimulusTarget('summation-values', 'total') }}>
                        ${{ money(this.bui.getTotalApprovedValue()) }}
                    </span>
                </h5>
            </div>
        </div>
    </div>
</details>

<details class="collection"
         {% if estimatedValueConstruction.vars.data > 0 or estimatedValueEquipment.vars.data > 0 or estimatedValueOther.vars.data > 0 %}open{% endif %}
    {{ stimulusController('estimate-value') }}
>
    <summary class="collection">
        <div class="row summary-btn-lis">
            <div class="col">Valores estimados:</div>
            <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">

            </div>
        </div>
    </summary>
    <br>
    <div {{ stimulusController('summation-values') }}>
        <div class="mb-0 row">
            <div class="col">
                {{ form_row(estimatedValueConstruction) }}
            </div>
            <div class="col">
                {{ form_row(projectPriceTechnicalPreparation) }}
            </div>
            <div class="col">
                {{ form_row(estimatedValueUrbanization) }}
            </div>

        </div>
        <div class="mb-3 row">
            <div class="col-12 text-center" {{ stimulusController('range') }}>
                {#                {{ form_row(range, {'data':bui.getRangePrice() / 100}) }} #}
                <div class="mb-0">
                    <label for="building_range" class="form-label">
                        <a data-action="click->range#reset" title="Resetear rango" data-bs-toggle="tooltip">
                            <svg viewBox="0 0 20 20" fill="currentColor" height="1em" width="1em" class="bi"
                                 aria-hidden="true">
                                <path fill="currentColor"
                                      d="M19.295 12a.704.704 0 0 1 .705.709v3.204a.704.704 0 0 1-.7.709a.704.704 0 0 1-.7-.709v-1.125C16.779 17.844 13.399 20 9.757 20c-4.41 0-8.106-2.721-9.709-6.915a.71.71 0 0 1 .4-.917c.36-.141.766.04.906.405c1.4 3.662 4.588 6.01 8.403 6.01c3.371 0 6.52-2.182 7.987-5.154l-1.471.01a.704.704 0 0 1-.705-.704a.705.705 0 0 1 .695-.714zm-9.05-12c4.408 0 8.105 2.721 9.708 6.915a.71.71 0 0 1-.4.917a.697.697 0 0 1-.906-.405c-1.4-3.662-4.588-6.01-8.403-6.01c-3.371 0-6.52 2.182-7.987 5.154l1.471-.01a.704.704 0 0 1 .705.704a.705.705 0 0 1-.695.714L.705 8A.704.704 0 0 1 0 7.291V4.087c0-.392.313-.709.7-.709s.7.317.7.709v1.125C3.221 2.156 6.601 0 10.243 0">

                                </path>
                            </svg>
                        </a>
                    </label>
                    <input type="range" id="building_range"
                           data-range-target="range" min="{{ this.getRangeMinPrice() }}"
                           max="{{ this.getRangeMaxPrice() }}" class="form-range"
                           value="{{ bui.getRangePrice() }}">
                </div>
                <div class="row">
                    <div class="col text-start">
                        <output data-range-target="min">${{ (this.getRangeMinPrice() / 100)|number_format(2) }}</output>
                        <span style="font-size: 0.75em">(-30%)</span>
                    </div>
                    <div class="col text-center">
                        <output
                            for="{{ estimatedValueConstruction.vars.id }} {{ projectPriceTechnicalPreparation.vars.id }} {{ estimatedValueUrbanization.vars.id }}"
                            id="rangeValue" aria-hidden="true" class="badge text-bg-info" data-range-target="actual"
                            style="font-size: 1em">
                            ${{ (bui.getRangePrice() / 100)|number_format(2) }}
                        </output>
                    </div>
                    <div class="col text-end">
                        <output data-range-target="max">${{ (this.getRangeMaxPrice() / 100)|number_format(2) }}</output>
                        <span style="font-size: 0.75em">(+30%)</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-0 row">
            <div class="col-4">
                {{ form_row(estimatedValueEquipment) }}
            </div>
            <div class="col-4">
                {{ form_row(estimatedValueOther) }}
            </div>
            <div class="col-4">
                <div class="mb-3">
                    <p class="text-end-detail">Total:</p>
                    <h5 class="text-end-detail">{# $ #}
                        <span class="badge text-bg-info" {{ stimulusTarget('summation-values', 'total') }}>
                        ${{ money(this.bui.getPrice()) }}
                    </span>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</details>

<details class="collection" open>
    <summary class="collection">
        <div class="row summary-btn-lis">
            <div class="col">Presupusto estimado:</div>
            <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">

            </div>
        </div>
    </summary>
    <br>
    <div class="mb-0 row" {{ stimulusController('estimate-presupposition', {
        estimate : bui.getRangePrice(),
        totalArea: bui.getTotalArea(),
        coefficient: bui.getCoefficient()
    }) }}>
        <div class="col-sm-3">
            <div class="mb-3">
                <p class="d">Valor estimado:</p>
                <h5 class="">
                    <span class="badge text-bg-info" {{ stimulusTarget('estimate-presupposition', 'estimate') }}>
                        ${{ (bui.getRangePrice() / 100)|number_format(2) }}
                    </span>
                </h5>
            </div>
        </div>
        <div class="col-sm-3">
            {{ form_row(coefficient) }}
        </div>
        <div class="col-sm-3">
            {{ form_row(estimatedJustValue) }}
        </div>
        <div class="col-sm-3">
            <div class="mb-3">
                <p class="text-end-detail">* ITE resultante ($/m<sup>2</sup>):</p>
                <h5 class="text-end-detail">{# $ #}
                    <span class="badge text-bg-info" {{ stimulusTarget('estimate-presupposition', 'total') }}>
                        {% if bui.getTotalArea() > 0 %}
                            {{ this.getResultIte()|number_format(2) }}
                        {% else %}
                            0
                        {% endif %}
                    </span>
                </h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                <em>* El ITE resultante, esta calculado en base a un ATP de: {{ bui.getTotalArea() }} m<sup>2</sup>.</em>
            </p>
        </div>

    </div>
</details>

<details class="collection" {% if constructionAssembly.vars.data > 0 %}open{% endif %}>
    <summary class="collection">
        <div class="row summary-btn-lis">
            <div class="col">Valor de ...?:</div>
            <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">

            </div>
        </div>
    </summary>
    <br>
    <div class="mb-0 row">
        <div class="col-sm-3">
            {{ form_row(constructionAssembly) }}
        </div>
        <div class="col-sm-9">
            {{ form_row(constructionAssemblyComment) }}
        </div>
    </div>
</details>

<details class="collection" {% if constructionRealValue.vars.data > 0 %}open{% endif %}>
    <summary class="collection">
        <div class="row summary-btn-lis">
            <div class="col">Valor real de construcción:</div>
            <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">

            </div>
        </div>
    </summary>
    <br>
    <div class="mb-0 row">
        <div class="col-sm-3">
            {{ form_row(constructionRealValue) }}
        </div>
        <div class="col-sm-9">
            {{ form_row(constructionRealValueComment) }}
        </div>
    </div>
</details>

{{ form_row(landNetworkConnections.vars.button_add, {
    label: 'Agregar conexion de red',
    attr: { class: 'btn btn-outline-nav-link btn-sm' },
}) }}

{% if form_errors(landNetworkConnections) %}
    <div class="mb-3 mt-0 row" style="margin-top: -1rem !important;">
        <div class="col-sm-12">
            {{ form_errors(landNetworkConnections) }}
        </div>
    </div>
{% endif %}

{% for key, connection in landNetworkConnections %}
    <details class="collection" {% if form_errors(connection.networkConnection) %}open{% endif %}>
        <summary class="collection">
            <div class="row summary-btn-lis">
                <div class="col">
                    Conexión de red:
                    {% if connection.vars.data.id is not null %}
                        <strong>{{ connection.vars.data.networkConnection.name }}</strong>
                        (<em>{{ connection.vars.data.type.getLabelFrom(connection.vars.data.type) }}</em>)
                    {% endif %}
                    {% if form_errors(connection.networkConnection) or
                        form_errors(connection.type) or
                        form_errors(connection.longitude) or
                        form_errors(connection.technicalStatus) %}
                        <div class="invalid-feedback d-inline">Revise los errores.</div>
                    {% endif %}
                </div>
                <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">
                    {{ form_widget(connection.vars.button_delete, {
                        label: ux_icon('bi:trash', {class:'bi'}) ~ 'Eliminar',
                        attr: { class: 'btn btn-outline-danger btn-sm' }
                    }) }}
                </div>
            </div>
        </summary>

        <div class="mb-0 row">
            <div class="col">
                <div class="mb-0 row">
                    <div class="col">
                        {{ form_row(connection.networkConnection) }}
                    </div>

                    <div class="col">
                        {{ form_row(connection.type) }}
                    </div>
                </div>

                <div class="mb-0 row">
                    <div class="col">
                        {{ form_row(connection.longitude) }}
                    </div>

                    <div class="col">
                        {{ form_row(connection.technicalStatus) }}
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="mb-0 row">
                    <div class="col">
                        {{ form_row(connection.explanation) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-0 row">
            <div class="col">
                <details class="collection" open>
                    <summary class="collection">
                        <div class="row summary-btn-lis">
                            <div class="col-sm-12">
                                Acción constructiva:
                                {% if form_errors(connection.landNetworkConnectionConstructiveAction.constructiveAction) or
                                    form_errors(connection.landNetworkConnectionConstructiveAction.price) or
                                    form_errors(connection.landNetworkConnectionConstructiveAction.constructiveSystem) %}
                                    <div class="invalid-feedback d-inline">Revise los errores.</div>
                                {% endif %}
                            </div>
                            <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">

                            </div>
                        </div>
                    </summary>
                    <br>
                    <div class="mb-0 row">
                        <div class="col">
                            {{ form_row(connection.landNetworkConnectionConstructiveAction.constructiveAction) }}
                        </div>
                        {% if connection.landNetworkConnectionConstructiveAction.price is defined %}
                            <div class="col" {{ stimulusController('usd-currency') }}>
                                {{ form_row(connection.landNetworkConnectionConstructiveAction.price) }}
                            </div>
                        {% endif %}
                        <div class="col">
                            {{ form_row(connection.landNetworkConnectionConstructiveAction.constructiveSystem) }}
                        </div>
                    </div>
                </details>
            </div>
        </div>
    </details>
{% endfor %}


