<div {{ stimulusController('twig/table/table') }}
        style="position: relative" {{ tableContainer }}
>
    <div class="row">
        <div class="col-md-3 text-nowrap">
            {% if paginator is not null %}
                {% block amount %}
                    {{ component('Table:Amount', {
                        label: 'Mostrar',
                        options: [2, 10, 25, 50, 100],
                        amount: app.request.query.get('amount', 10),
                        queryName: 'amount',
                    }) }}
                {% endblock %}
            {% endif %}
        </div>

        <div class="col-md-3 text-nowrap">
            {% block message %}{% endblock %}
        </div>

        <div class="col-md-6">
            {% if paginator is not null %}
                {% block filter %}
                    {{ component('Table:Filter', {
                        filter: app.request.query.get('filter', ''),
                        queryName: 'filter',
                        placeholder: 'Buscar...'
                    }) }}
                {% endblock %}
            {% endif %}
        </div>
    </div>

    <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
        <table class="table table-hover my-1">
            <thead>
            {% block tableHead %}{% endblock %}
            </thead>
            <tbody class="table-group-divider">
            {% block tableBody %}{% endblock %}
            </tbody>
            <tfoot class="table-group-divider">
            {% block tableFooter %}{% endblock %}
            </tfoot>
        </table>
    </div>

    {% if paginator is not null %}
        <div class="row">
            <div class="col-md-6 align-self-center">
                <p class="dataTables_info" role="status" aria-live="polite">
                    Mostrar <strong>{{ paginator.from }}</strong> al <strong>{{ paginator.to }}</strong> de
                    <strong>{{ paginator.total }}</strong>
                </p>
            </div>

            <div class="col-md-6">
                {% block navigation %}
                    {{ component('Table:Navigation', {
                        page: app.request.query.get('page', 1),
                        paginator: paginator,
                        queryName: 'page',
                        queryStrings: {
                            'amount':app.request.query.get('amount'),
                            'filter':app.request.query.get('filter')
                        },
                    }) }}
                {% endblock %}
            </div>
        </div>
    {% endif %}
    {{ component('Backdrop:Backdrop', {id:constant('BACKDROP_DATA_ID', this), attr:"data-twig--table--table-target=backdrop"}) }}
</div>