{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}

{% block title %}Tipo de regulación urbana: {{ urban_regulation_type.name }}{% endblock %}
{% from 'macros/titles.html.twig' import h1 %}

{% block content %}
    <div class="row">
        {{ h1('Tipos de regulaciones urbanas', 'mingcute:paper-2-line') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Tipos', href: path('app_urban_regulation_type_index')},
            {label: 'Detalle'},
        ]) }}
    </div>

    <h2 class="mb-4">Tipo de regulación urbana: {{ urban_regulation_type.name }}</h2>

    {{ include('urban_regulation_type/_detail.html.twig', {'showButton': true, 'title': title}) }}
{% endblock %}
