{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: 'id="city_detail_' ~ city.id,
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: title,
} %}

    {% block header %}
        {{ include('partials/_card_header_options.html.twig', {
            goTo: 'app_city_new',
            label: 'Nueva',
            title: 'Nueva ciudad',
            entity: city,
            state: 'detail',
            showButton: (showButton is defined and showButton == true) ? true : false
        }) }}
    {% endblock %}

    {% block body %}
        <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>Nombre:</th>
                    <td>{{ city.name }}</td>
                </tr>
                <tr>
                    <th>País:</th>
                    <td>
                        <a href="{{ path('app_country_show', {'id': city.country.id }) }}">{{ city.country.name }}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endblock %}

    {% block footer %}
        {{ include('partials/_card_footer.html.twig', {
            list: {href: 'app_city_index', label: 'Listado', title:'Volver al listado'},
            edit: {href: 'app_city_edit', label: 'Editar', title:'Editar ciudad'},
            delete: {href: 'app_city_delete', label: 'Eliminar', title:'Eliminar ciudad'},
            id: city.id,
            message: 'Está seguro que desea eliminar la ciudad?',
            state: 'detail',
            showButton: (showButton is defined and showButton == true) ? true : false
        }) }}
    {% endblock %}

{% endcomponent %}


