{% extends 'base.html.twig' %}

{% block title %}ConstructiveSystem index{% endblock %}

{% block body %}
    <h1>ConstructiveSystem index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for constructive_system in constructive_systems %}
            <tr>
                <td>{{ constructive_system.id }}</td>
                <td>{{ constructive_system.name }}</td>
                <td>
                    <a href="{{ path('app_constructive_system_show', {'id': constructive_system.id}) }}">show</a>
                    <a href="{{ path('app_constructive_system_edit', {'id': constructive_system.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_constructive_system_new') }}">Create new</a>
{% endblock %}
