{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: 'Estado técnico de los locales del subsistema',
} %}
    {% block header %}
    {% endblock %}

    {% block body %}
        <table class="table table-hover">
            <tr>
                <th>Bueno</th>
                <th>Regular</th>
                <th>Malo</th>
                <th>Crítico</th>
                <th>Sin definir</th>
                <th>Totales</th>
            </tr>

            <tr>
                <td>{{ local_status.good }}</td>
                <td>{{ local_status.regular }}</td>
                <td>{{ local_status.bad }}</td>
                <td>{{ local_status.critical }}</td>
                <td>{{ local_status.undefined }}</td>
                <td>{{ sub_system.getLocalsAmount() }}</td>
            </tr>
        </table>
    {% endblock %}

{% endcomponent %}

{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: 'Estado técnico por metros<sup>2</sup> del subsistema',
} %}
    {% block header %}
    {% endblock %}

    {% block body %}
        <table class="table table-hover">
            <tr>
                <th>Bueno</th>
                <th>Regular</th>
                <th>Malo</th>
                <th>Crítico</th>
                <th>Sin definir</th>
                <th>Totales</th>
            </tr>

            <tr>
                <td>{{ meter_status.good|number_format(2) }}</td>
                <td>{{ meter_status.regular|number_format(2) }}</td>
                <td>{{ meter_status.bad|number_format(2) }}</td>
                <td>{{ meter_status.critical|number_format(2) }}</td>
                <td>{{ meter_status.undefined|number_format(2) }}</td>
                <td>{{ sub_system.getAmountMeters()|number_format(2) }}</td>
            </tr>
        </table>
    {% endblock %}

{% endcomponent %}

{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: 'Acciones constructivas de los locales del subsistema',
} %}
    {% block header %}
    {% endblock %}

    {% block body %}
        <table class="table table-hover">
            <tr>
                {% for key, value in constructive_action_status %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>

            <tr>
                {% for key, value in constructive_action_status %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        </table>
    {% endblock %}

{% endcomponent %}

{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: 'Precio de las acciones constructivas de los locales del subsistema',
} %}
    {% block header %}
    {% endblock %}

    {% block body %}
        <table class="table table-hover">
            <tr>
                {% for key, value in constructive_action_price %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>

            <tr>
                {% for key, value in constructive_action_price %}
                    <td>{{ money(value, 'CUP') }}</td>
                {% endfor %}
            </tr>
        </table>
    {% endblock %}

{% endcomponent %}
