{% if floor.hasErrors() %}
    {% set card_icon = ux_icon('material-symbols:dangerous', {
        'class':'bi text-danger',
        'data-bs-toggle':"tooltip",
        'data-bs-title':"Revisar datos de los subsistemas.",
        'data-bs-custom-class':"danger-tooltip"
    }) %}
{% else %}
    {% set card_icon = ux_icon('ep:success-filled', {
        'class':'bi text-success',
    }) %}
{% endif %}

{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: 'Listado de subsistemas',
    icon: card_icon
} %}
    {% block header %}
        {% from 'macros/buttons.html.twig' import tableActionButton2,tableActionButton3 %}

        <div>
            <div class="dropdown d-inline-block">
                <button type="button"
                        class="btn text-decoration-none btn-sm dropdown-toggle show dropdown-sm btn-info"
                        data-bs-toggle="dropdown"
                        aria-expanded="false" title="Reportes"
                >
                    Reportes
                </button>
                <ul class="dropdown-menu" data-bs-theme="light">
                    <li>
                        <a class="dropdown-item"
                           href="" title="">
                            Reporte de estado técnico por locales
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                           href="" title="">
                            Reporte de estado técnico por metros cuadrados
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item"
                           href="" title="">
                            Reporte de descripción por locales (PDF)
                        </a>
                    </li>
                </ul>
            </div>
            {% if floor.isFullyOccupied() == false %}
                {% set path = path('app_sub_system_new', {'floor': floor.id, 'reply': reply}) %}
                {{ tableActionButton3(path, 'bi:plus-lg', 'Nuevo', 'Nuevo subsistema', stimulusAction('twig/card/card', 'newElement:prevent', null, {url:path })) }}
            {% endif %}

            {#            {% if reply %} #}
            {{ tableActionButton3(path('app_floor_index', {'building':floor.building.id, 'reply': reply}), 'dinkie-icons:house-buildings-small', reply ? 'Plantas replicadas' : 'Plantas', reply ? 'Listado de plantas replicadas' : 'Listado de plantas') }}
            {#            {% else %} #}
            {#                {{ tableActionButton3(path('app_floor_index', {building:floor.building.id}), 'dinkie-icons:house-buildings-small', 'Plantas', 'Listado de plantas') }} #}
            {#            {% endif %} #}
            {{ tableActionButton3(path('app_building_edit', {id:floor.building.id}), 'streamline-pixel:construction-building-real-eastate', 'Ir a la obra', 'Ir a la obra') }}
        </div>
    {% endblock %}

    {% block body %}
        {% component 'Table:Table' with {
            paginator: paginator,
        } %}

            {% block message %}
                {% if floor.building.isNew() %}
                    Área de terreno de la obra: {{ floor.building.getLandArea()|number_format(2) }}m<sup>2</sup>,
                {% else %}
                    Área ocupada de la obra: {{ floor.building.getOccupiedArea()|number_format(2) }}m
                    <sup>2</sup> de un área de terreno de {{ floor.building.getLandArea()|number_format(2) }}m<sup>2</sup>,
                {% endif %}
                {#                <br> #}
                {% if floor.isFullyOccupied() %}
                    ocupados totalmente.
                {% else %}
                    <br>
                    quedan {{ floor.getUnassignedArea()|number_format(2) }}m<sup>2</sup> por ocupar en esta planta.
                {% endif %}

            {% endblock %}

            {% block tableHead %}
                <tr>
                    <th>Nombre</th>
                    <th></th>
                    <th>Á. Util (m<sup>2</sup>)</th>
                    <th title="Área de Muro y Columna">Á.M.C (m<sup>2</sup>)</th>
                    <th>Á. Vacío (m<sup>2</sup>)</th>
                    <th>Á.T.P (m<sup>2</sup>)</th>
                    <th>Altura (m)</th>
                    <th>Volumen (m<sup>3</sup>)</th>
                    <th>Diagnosticados</th>
                    <th></th>
                </tr>
            {% endblock %}

            {% block tableBody %}
                {% from 'macros/buttons.html.twig' import tableActionButton, deleteFormButton, deleteFormButton2, tableActionButton2, tableActionButton3 %}

                {% for sub_system in paginator.getData() %}
                    <tr {{ stimulusController('delete-form-container') }}
                        class="
                        {% if sub_system.isNewStructure() %}table-success {% endif %}
                        {% if sub_system.hasChangesFromOriginal() %} table-info {% endif %}
                        {% if sub_system.hasRemoveConstructiveAction() %} table-danger {% endif %}
                        "
                    >
                        <td>
                            {% if sub_system.hasChangesFromOriginal() %}<em>{{ sub_system.name }}</em>{% else %}{{ sub_system.name }}{% endif %}
                        </td>
                        <td>
                            {% if reply %}
                                <span class="badge rounded-pill bg-success"
                                      title="Locales del subsistema" data-bs-toggle="tooltip"
                                      style="cursor: pointer">
                                    {{ sub_system.getLocalsAmount(false) }}
                                    <span class="visually-hidden">Locales</span>
                                </span>
                            {% else %}
                                <span
                                        class="badge rounded-pill {% if sub_system.hasOriginalLocals() %}bg-success{% else %}bg-danger{% endif %}"
                                        title="Locales del subsistema" data-bs-toggle="tooltip"
                                    {% if sub_system.hasOriginalLocals() == false %}
                                        data-bs-title="No tiene definido ningun local." data-bs-custom-class="danger-tooltip"
                                    {% endif %}
                                  style="cursor: pointer">
                                {{ sub_system.getLocalsAmount() }}
                                <span class="visually-hidden">Locales</span>
                            </span>


                            {% endif %}
                        </td>
                        <td>{{ sub_system.getUsefulArea()|number_format(2) }}</td>
                        <td>
                            {% if sub_system.notWallArea() %}
                                <span class="text-warning" data-bs-toggle="tooltip" data-bs-title="Sin área de muro."
                                      data-bs-custom-class="warning-tooltip" style="cursor: pointer">
                                    {{ sub_system.getWallArea()|number_format(2) }}
                                </span>
                            {% else %}
                                {{ sub_system.getWallArea()|number_format(2) }}
                            {% endif %}
                        </td>
                        <td>{{ sub_system.getEmptyArea()|number_format(2) }}</td>
                        <td>{{ sub_system.getTotalArea()|number_format(2) }}</td>
                        <td>{{ sub_system.getMaxHeight()|number_format(2) }}</td>
                        <td>{{ sub_system.getVolume()|number_format(2) }}</td>
                        <td>
                            {% if reply %}
                                {{ ux_icon('bi:check-lg', {'class':'bi text-success'}) }}
                            {% else %}
                                {{ (sub_system.allLocalsAreClassified() and sub_system.hasOriginalLocals())
                                ? ux_icon('bi:check-lg', {'class':'bi text-success'})
                                : ux_icon('material-symbols:close-rounded', {
                                    'class':'bi text-danger', 'data-bs-toggle':"tooltip",
                                    'data-bs-title':(sub_system.hasOriginalLocals() == false) ? "No tiene definido locales para diagnosticar." : "Faltan locales por diagnosticar.",
                                    'data-bs-custom-class':"danger-tooltip"
                                }) }}
                            {% endif %}

                        </td>
                        <td class="text-end">
                            {% set cssClass = 'btn-link' %}
                            {% if sub_system.hasBackgroundColorOfChange() %}
                                {% set cssClass = cssClass ~ ' text-dark' %}
                            {% endif %}

                            {#                            {{ tableActionButton3(path('app_floor_show', {'id': floor.id, 'building':building.id}), 'bi:eye', '', 'Detalle de la planta', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_floor_show', {'id': floor.id, 'building':building.id})})) }} #}
                            <div class="dropdown d-inline-block" data-bs-toggle="tooltip" title="Reportes">
                                <button type="button"
                                        class="btn text-decoration-none btn-sm dropdown-toggle show dropdown-sm {{ cssClass }}"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false" title="Reportes"
                                >
                                    R
                                </button>
                                <ul class="dropdown-menu" data-bs-theme="light">
                                    <li>
                                        <a class="dropdown-item"
                                           href="{{ path('app_sub_system_report_local', {'id': sub_system.id}) }}"
                                           title="">
                                            Reporte de estado técnico
                                        </a>
                                    </li>
                                    {#                                    <li> #}
                                    {#                                        <a class="dropdown-item" #}
                                    {#                                           href="" title=""> #}
                                    {#                                            Reporte de estado técnico por metros cuadrados #}
                                    {#                                        </a> #}
                                    {#                                    </li> #}
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item"
                                           href="" title="">
                                            Reporte de descripción por locales (PDF)
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            {{ tableActionButton3(path('app_local_index', {'subSystem': sub_system.id, 'reply': reply}), 'lucide-lab:floor-plan', '', (reply) ? ((sub_system.isNewInReply()) ? 'Locales nuevos' : 'Locales replicados') : 'Locales', '', cssClass, sub_system.hasErrors()) }}

                            {% if floor.hasReply() == false %}
                                {{ tableActionButton3(path('app_sub_system_edit', {'id': sub_system.id, 'floor':floor.id}), 'fa:edit', '', 'Editar subsistema', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_sub_system_edit', {'id': sub_system.id, 'floor':floor.id})}), cssClass) }}
                            {% endif %}

                            {% if sub_system.inNewBuilding() or sub_system.hasReply() == false %}
                                {{ component('DeleteForm', {
                                    path: path('app_sub_system_delete', {'id': sub_system.id}),
                                    confirm: 'Está seguro que desea eliminar el subsistema?',
                                    token: 'delete' ~ sub_system.id,
                                    title: 'Eliminar subsistema',
                                    icon: 'bi:trash',
                                    cssClass: 'btn-link text-danger'
                                }) }}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">No se encontraron subsistemas.</td>
                    </tr>
                {% endfor %}
            {% endblock %}

            {% block tableFooter %}
                <tr>
                    <th colspan="2">Resumen de la planta:</th>
                    <th>
                        {% if floor.isFullyOccupied() %}
                            {{ floor.getUsefulArea()|number_format(2) }}
                        {% else %}
                            <span class="text-warning" data-bs-toggle="tooltip"
                                  data-bs-title="Queda espacio sin aprovechar." data-bs-custom-class="warning-tooltip"
                                  style="cursor: pointer">
                                {{ floor.getUsefulArea()|number_format(2) }}
                            </span>
                        {% endif %}
                    </th>
                    <th>
                        {% if floor.notWallArea() %}
                            <span class="text-danger" data-bs-toggle="tooltip" data-bs-title="Debe tener área de muro."
                                  data-bs-custom-class="danger-tooltip" style="cursor: pointer">
                                {{ floor.getWallArea()|number_format(2) }}
                            </span>
                        {% else %}
                            {{ floor.getWallArea()|number_format(2) }}
                        {% endif %}
                    </th>
                    <th>{{ floor.getEmptyArea()|number_format(2) }}</th>
                    <th>{{ floor.getTotalArea()|number_format(2) }}</th>
                    <th>
                        {{ floor.getMaxHeight()|number_format(2) }}
                        {#                        {% if floor.hasVariableHeights() %} #}
                        {#                            <span class="text-warning" data-bs-toggle="tooltip" data-bs-title="Alturas variables. Queda áreas de vacio no definidas." data-bs-custom-class="warning-tooltip" style="cursor: pointer"> #}
                        {#                                {{ floor.getMaxHeight() }} #}
                        {#                            </span> #}
                        {#                        {% else %} #}
                        {#                            {{ floor.getMaxHeight() }} #}
                        {#                        {% endif %} #}
                    </th>
                    <th>{{ floor.getVolume()|number_format(2) }}</th>
                    <th>
                        {% if floor.hasOriginalLocals() and floor.allLocalsAreClassified() and floor.notWallArea() == false %}
                            {{ ux_icon('ep:success-filled', {
                                'class':'bi text-success',
                            }) }}
                        {% else %}
                            {{ ux_icon('material-symbols:dangerous', {
                                'class':'bi text-danger',
                                'data-bs-toggle':"tooltip",
                                'data-bs-title':"Para poder realizar la réplica se debe diagnosticar el estado técnico de todos los locales.",
                                'data-bs-custom-class':"danger-tooltip"
                            }) }}
                        {% endif %}
                    </th>
                    <th></th>
                </tr>
            {% endblock %}

        {% endcomponent %}

    {% endblock %}

{% endcomponent %}

{# {% component 'Card:Card' with { #}
{#    cssClass: 'mb-4', #}
{#    extra: '', #}
{#    headerCssClass: 'd-flex justify-content-between align-items-center', #}
{#    title: 'Detalles de la planta', #}
{# } %} #}
{#    {% block body %} #}
{#        <table class="table table-hover"> #}
{#            {{ include('floor/_data.html.twig') }} #}
{#        </table> #}
{#    {% endblock %} #}

{# {% endcomponent %} #}
