<div {{ attributes.defaults(stimulusController('live-form', {modal:modal})) }}>
    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save'
        }
    }) }}
    {{ form_row(form.comment) }}

    <div class="row mb-3 mt-3">
        <div class="col-sm-12">
            {{ component('button:submit', {
                icon: (this.br.id is null) ? 'bi:plus-lg' : 'fa:edit',
                label: (this.br.id is null) ? 'Agregar' : 'Modificar',
                component: this
            }) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>
