<div {{ attributes.defaults(stimulusController('live-form', {modal:modal})) }}>

    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save'
        }
    }) }}

    {{ include('partials/live_component/_building.html.twig', {
        'name' : form.name,
        'population' : form.population,
        'constructor' : form.constructor,
        'corporateEntity' : form.corporateEntity,
        'draftsman' : (form.draftsman is defined) ? form.draftsman : null,
        'approvedValueConstruction' : form.approvedValueConstruction,
        'approvedValueEquipment' : form.approvedValueEquipment,
        'approvedValueOther' : form.approvedValueOther,
        'estimatedValueConstruction' : form.estimatedValueConstruction,
        'estimatedValueEquipment' : form.estimatedValueEquipment,
        'estimatedValueOther' : form.estimatedValueOther,
        'projectPriceTechnicalPreparation' : form.projectPriceTechnicalPreparation,
        'estimatedValueUrbanization' : form.estimatedValueUrbanization,
        'constructionAssembly' : form.constructionAssembly,
        'constructionAssemblyComment' : form.constructionAssemblyComment,
        'landNetworkConnections' : form.landNetworkConnections,
        'range' : form.range
    }) }}

    <div class="row mb-3">
        <div class="col-sm-12">
            {{ component('button:submit', {
                icon: (this.bui.id is null) ? 'bi:plus-lg' : 'fa:edit',
                label: (this.bui.id is null) ? 'Agregar' : 'Modificar',
                component: this
            }) }}
        </div>
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form, {render_rest:false}) }}
</div>
