<div {{ attributes.defaults(stimulusController('live-form', {modal:modal})) }}>

    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save'
        }
    }) }}

    {{ form_row(form.name) }}
    <div class="mb-0 row">
        <div class="col">
            {{ form_row(form.constructor) }}
        </div>
        <div class="col">
            {% if form.draftsman is defined %}
            {{ form_row(form.draftsman) }}
            {% endif %}
        </div>
    </div>
    <details class="collection" {# {% if (this.bui.id is not null) %}open{% endif %} #}>
        <summary class="collection">
            <div class="row summary-btn-lis">
                <div class="col">Valores aprobados:</div>
                <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">

                </div>
            </div>
        </summary>
        <br>
        <div class="mb-0 row" {{ stimulusController('summation-values') }}>
            <div class="col">
                {{ form_row(form.approvedValueConstruction, {attr:{'data-summation-values-target':'field'}}) }}
            </div>
            <div class="col">
                {{ form_row(form.approvedValueEquipment, {attr:{'data-summation-values-target':'field'}}) }}
            </div>
            <div class="col">
                {{ form_row(form.approvedValueOther, {attr:{'data-summation-values-target':'field'}}) }}
            </div>
            <div class="col">
                <div class="mb-3">
                    <p class="text-end">Total:</p>
                    <h5 class="text-end">$ <span class="badge text-bg-info" {{ stimulusTarget('summation-values', 'total') }}>0</span></h5>
                </div>
            </div>
        </div>
    </details>

    <details class="collection" {# {% if (this.bui.id is not null) %}open{% endif %}  #}>
        <summary class="collection">
            <div class="row summary-btn-lis">
                <div class="col">Valores estimados:</div>
                <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">

                </div>
            </div>
        </summary>
        <br>
        <div class="mb-0 row" {{ stimulusController('summation-values') }}>
            <div class="col">
                {{ form_row(form.estimatedValueConstruction, {attr:{'data-summation-values-target':'field'}}) }}
            </div>
            <div class="col">
                {{ form_row(form.estimatedValueEquipment, {attr:{'data-summation-values-target':'field'}}) }}
            </div>
            <div class="col">
                {{ form_row(form.estimatedValueOther, {attr:{'data-summation-values-target':'field'}}) }}
            </div>
            <div class="col">
                <div class="mb-3">
                    <p class="text-end">Total:</p>
                    <h5 class="text-end">$ <span class="badge text-bg-info" {{ stimulusTarget('summation-values', 'total') }}>0</span></h5>
                </div>
            </div>
        </div>
    </details>

    <div class="row mb-3">
        <div class="col-sm-12">
            {{ component('button:submit', {
                icon: (this.bui.id is null) ? 'bi:plus-lg' : 'fa:edit',
                label: (this.bui.id is null) ? 'Agregar' : 'Modificar',
                component: this
            }) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>
