<div {{ attributes.defaults(stimulusController('live-form', {modal:modal})) }}>

    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save'
        }
    }) }}

    {% if form_errors(form) %}
        {{ component('message:alert', {
            'icon': 'ix:error',
            'type': 'danger',
            'message': "Una obra esta asociada a un proyecto. Para crear una obra nueva, vaya al <a href=" ~ path('app_project_index') ~ ">listado de proyectos</a> y seleccione sobre cual desea crearla."
        }) }}
    {% endif %}


    <div class="mb-0 row">
        <div class="col">
            {{ form_row(form.name) }}
        </div>

        <div class="col">
            {{ form_row(form.population) }}
        </div>
    </div>

    <div class="mb-0 row">
        <div class="col">
            {{ form_row(form.constructor) }}
        </div>
        {% if form.draftsman is defined %}
            <div class="col">
                {{ form_row(form.draftsman) }}
            </div>
        {% endif %}
    </div>

    <details class="collection" {# {% if (this.bui.id is not null) %}open{% endif %} #}>
        <summary class="collection">
            <div class="row summary-btn-lis">
                <div class="col">Valores aprobados:</div>
                <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">

                </div>
            </div>
        </summary>
        <br>
        <div class="mb-0 row" {{ stimulusController('summation-values') }}>
            <div class="col">
                {{ form_row(form.approvedValueConstruction) }}
            </div>
            <div class="col">
                {{ form_row(form.approvedValueEquipment) }}
            </div>
            <div class="col">
                {{ form_row(form.approvedValueOther) }}
            </div>
            <div class="col">
                <div class="mb-3">
                    <p class="text-end">Total:</p>
                    <h5 class="text-end">{# $ #} <span
                                class="badge text-bg-info" {{ stimulusTarget('summation-values', 'total') }}>{{ 0|number_format(2) }}</span>
                    </h5>
                </div>
            </div>
        </div>
    </details>

    <details class="collection" {# {% if (this.bui.id is not null) %}open{% endif %}  #}>
        <summary class="collection">
            <div class="row summary-btn-lis">
                <div class="col">Valores estimados:</div>
                <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">

                </div>
            </div>
        </summary>
        <br>
        <div class="mb-0 row" {{ stimulusController('summation-values') }}>
            <div class="col">
                {{ form_row(form.estimatedValueConstruction) }}
            </div>
            <div class="col">
                {{ form_row(form.estimatedValueEquipment) }}
            </div>
            <div class="col">
                {{ form_row(form.estimatedValueOther) }}
            </div>
            <div class="col">
                <div class="mb-3">
                    <p class="text-end">Total:</p>
                    <h5 class="text-end">{# $ #} <span
                                class="badge text-bg-info" {{ stimulusTarget('summation-values', 'total') }}>{{ 0|number_format(2) }}</span>
                    </h5>
                </div>
            </div>
        </div>
    </details>

    <details class="collection">
        <summary class="collection">
            <div class="row summary-btn-lis">
                <div class="col">Valor de construcción y montaje:</div>
                <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">

                </div>
            </div>
        </summary>
        <br>
        <div class="mb-0 row">
            {{ form_row(form.constructionAssembly) }}
            {{ form_row(form.constructionAssemblyComment) }}
        </div>
    </details>

    {{ form_row(form.landNetworkConnections.vars.button_add, {
        label: 'Agregar conexion de red',
        attr: { class: 'btn btn-outline-nav-link btn-sm' }
    }) }}

    {% if form_errors(form.landNetworkConnections) %}
        <div class="mb-3 mt-0 row" style="margin-top: -1rem !important;">
            <div class="col-sm-12">
                {{ form_errors(form.landNetworkConnections) }}
            </div>
        </div>
    {% endif %}

    {% for key, connection in form.landNetworkConnections %}
        <details class="collection" {% if form_errors(connection.networkConnection) %}open{% endif %}>
            <summary class="collection">
                <div class="row summary-btn-lis">
                    <div class="col">
                        Conexión de red:
                        {% if connection.vars.data.id is not null %}
                            <strong>{{ connection.vars.data.networkConnection.name }}</strong>
                        {% endif %}
                    </div>
                    <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">
                        {{ form_widget(connection.vars.button_delete, {
                            label: ux_icon('bi:trash', {class:'bi'}) ~ 'Eliminar',
                            attr: { class: 'btn btn-outline-danger btn-sm' }
                        }) }}
                    </div>
                </div>
            </summary>

            {{ form_row(connection.networkConnection) }}
            {{ form_row(connection.explanation) }}
        </details>
    {% endfor %}

    <div class="row mb-3">
        <div class="col-sm-12">
            {{ component('button:submit', {
                icon: (this.bui.id is null) ? 'bi:plus-lg' : 'fa:edit',
                label: (this.bui.id is null) ? 'Agregar' : 'Modificar',
                component: this
            }) }}
        </div>
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form, {render_rest:false}) }}
</div>
