<div {{ attributes.defaults(stimulusController('live-form', {modal:modal})) }}>

    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save'
        }
    }) }}

    {{ form_row(form.name) }}
    <div class="mb-0 row">
        <div class="col">
            {{ form_row(form.code) }}
        </div>
        <div class="col">
            {{ form_row(form.nit) }}
        </div>
    </div>

    <div class="mb-0 row">
        <div class="col">
            {{ form_row(form.type) }}
        </div>
        <div class="col">
            {{ form_row(form.organism) }}
        </div>
    </div>

    {{ form_row(form.streetAddress) }}

    <div class="row mb-3">
        <div class="col-sm-12">
            {{ component('button:submit', {
                icon: (this.ce.id is null) ? 'bi:plus-lg' : 'fa:edit',
                label: (this.ce.id is null) ? 'Agregar' : 'Modificar',
                component: this
            }) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>
