<div {{ attributes.defaults(stimulusController('live-form', {modal:modal})) }}>

    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save'
        }
    }) }}

    <div class="mb-0 row">
        <div class="col">
            {{ form_row(form.person.name) }}
        </div>
        <div class="col">
            {{ form_row(form.person.lastname) }}
        </div>
    </div>

    <div class="mb-0 row">
        <div class="col">
            {{ form_row(form.person.identificationNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.person.passport) }}
        </div>
    </div>

    <div class="mb-0 row">
        <div class="col">
            {{ form_row(form.phone) }}
        </div>
        <div class="col">
            {{ form_row(form.email) }}
        </div>
    </div>

    {{ form_row(form.streetAddress) }}

{#    <div {{ stimulusController('visibility') }}>#}
{#        {{ form_row(form.hasRepresentative) }}#}

{#        <div {{ stimulusTarget('visibility', 'target') }} style="display: {% if ic.representative %}show{% else %}none{% endif %}">#}
{#            {{ form_row(form.representative) }}#}
{#        </div>#}
{#    </div>#}

    <details class="collection" {% if this.ic.getRepresentative() %}open{% endif %}>
        <summary class="collection">
            <div class="row summary-btn-lis">
                <div class="col">Representante:</div>
                <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">

                </div>
            </div>
        </summary>
        <br>
        {{ form_row(form.representative) }}
    </details>

    <div class="row mb-3">
        <div class="col-sm-12">
            {{ component('button:submit', {
                icon: (this.ic.id is null) ? 'bi:plus-lg' : 'fa:edit',
                label: (this.ic.id is null) ? 'Agregar' : 'Modificar',
                component: this
            }) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>
