<div {{ attributes.defaults(stimulusController('live-form', {modal:modal})) }}>

    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save'
        }
    }) }}

    <div class="mb-0 row">
        <div class="col">
            {{ form_row(form.person.name) }}
        </div>
        <div class="col">
            {{ form_row(form.person.lastname) }}
        </div>
    </div>

    <div class="mb-0 row">
        <div class="col">
            {{ form_row(form.person.identificationNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.person.passport) }}
        </div>
    </div>

    <div class="mb-0 row">
        <div class="col">
            {{ form_row(form.phone, {label_attr:{'class':'col-sm-4'}}) }}
        </div>
        <div class="col">
            {{ form_row(form.email, {label_attr:{'class':'col-sm-4'}}) }}
        </div>
    </div>

    {{ form_row(form.streetAddress) }}

    <div {{ stimulusController('visibility') }}>
        {{ form_row(form.hasRepresentative) }}

        <div {{ stimulusTarget('visibility', 'target') }} style="display: {% if ic.representative %}show{% else %}none{% endif %}">
            {{ form_row(form.representative) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-12">
            {{ component('button:submit', {
                icon: (this.ic.id is null) ? 'bi:plus-lg' : 'fa:edit',
                label: (this.ic.id is null) ? 'Agregar' : 'Modificar',
                component: this
            }) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>
