<div {{ attributes.defaults(stimulusController('live-form', {modal:modal})) }}>

    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save'
        }
    }) }}

    {{ form_row(form.name) }}

    {{ form_row(form.streetAddress) }}
    <details class="mb-3 mt-0" style="padding: 0 var(--bs-card-spacer-x);" {% if (this.inv.id is not null) %}open{% endif %}>
        <summary class="mb-3 mt-0" style="font-weight: bold;margin-left: calc(var(--bs-card-spacer-x) * -1);">
            Otros datos de la dirección
        </summary>

        {{ form_row(form.betweenStreets) }}
        <div class="mb-0 row">
            <div class="col">
                {{ form_row(form.town) }}
            </div>
            <div class="col">
                {{ form_row(form.popularCouncil) }}
            </div>
            <div class="col">
                {{ form_row(form.district) }}
            </div>
        </div>
        <div class="mb-0 row">
            <div class="col">
                {{ form_row(form.locationZone) }}
            </div>
            <div class="col">
                {{ form_row(form.block) }}
            </div>
            <div class="col">
                {{ form_row(form.addressNumber) }}
            </div>
        </div>

    </details>

    <div class="row mb-3">
        <div class="col-sm-12">
            {{ component('button:submit', {
                icon: (this.inv.id is null) ? 'bi:plus-lg' : 'fa:edit',
                label: (this.inv.id is null) ? 'Agregar' : 'Modificar',
                component: this
            }) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>
