<div {{ attributes.defaults(stimulusController('live/land-form', {modal:modal})) }}>

    {% if this.isNew() == true %}
        {% set msg = 'Para un inmueble existente una vez creada la información de los datos del terreno, la misma <strong>NO</strong> podrá ser modificada.' %}
    {% else %}
        {% set msg = 'Esta información no puede ser modificada.' %}
    {% endif %}

    {% if msg is defined %}
        {{ component('message:alert', {
            'icon': 'lets-icons:check-fill',
            'type': 'info',
            'message': msg
        }) }}
    {% endif %}

    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'files|save',
        }
    }) }}

    <div class="mb-0 row">
        <div class="col">
            <div class="mb-0 row">
                <div class="col-sm-8">
                    {{ form_row(form.landArea, {attr:{'data-live--land-form-target':'area'}}) }}
                </div>
                <div class="col-sm-4">
                    <div class="mb-3">
                        <p class="">Hectáreas (ha):</p>
                        <h5 class="">
                            <span class="badge text-bg-info" {{ stimulusTarget('live/land-form', 'hectare') }}>{{ 0|number_format(2) }}</span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            {{ form_row(form.perimeter, {attr:{'data-live--land-form-target':'perimeter'}}) }}
        </div>
    </div>

    <details
            class="collection" {{ stimulusTarget('live/land-form', 'details') }} {% if this.l.hasOccupiedArea() %}open{% endif %}>
        <summary class="collection">
            <div class="row summary-btn-lis">
                <div class="col">Tiene área a ocupada:</div>
                <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">
                </div>
            </div>
        </summary>
        <br>
        <div class="mb-0 row">
            <div class="col">
                {{ form_row(form.occupiedArea, {attr:{'data-live--land-form-target':'occupied'}}) }}
            </div>
            <div class="col-sm-2">
                <div class="mb-3">
                    <p class="" title="Coeficiente de Ocupación del Suelo" data-bs-toggle="tooltip">COS (%):</p>
                    <h5 class="">
                        <span class="badge text-bg-info" {{ stimulusTarget('live/land-form', 'cos') }}>0</span>
                    </h5>
                </div>
            </div>
            <div class="col-sm-6">
                {{ form_row(form.floor, {attr:{'data-live--land-form-target':'floor'}}) }}
            </div>
        </div>
    </details>

    <div class="mb-0 row">
        <div class="col">
            {{ form_row(form.microlocalization) }}
        </div>
        <div class="col">
            {{ form_row(form.picture) }}
            {# TODO: crear una funcion para mostrar errores de subida de archivos #}
            {% if pictureErrors is not empty %}
                {% for error in pictureErrors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    {#    {% if this.isNew() == true or this.building.isNew() == true %} #}
    {% if this.isNew() == true %}
        <div class="row mb-3">
            <div class="col-sm-12">
                {{ component('button:submit', {
                    icon: this.isNew() ? 'bi:plus-lg' : 'fa:edit',
                    label: this.isNew() ? 'Agregar' : 'Modificar',
                    component: this
                }) }}
            </div>
        </div>
    {% endif %}
    {{ form_row(form._token) }}
    {{ form_end(form, {render_rest:false}) }}
</div>
