<div {{ attributes.defaults(stimulusController('live/land-form', {modal:modal})) }}>

    {#    {% form_theme form 'form/bootstrap_5_horizontal_layout_sm.html.twig' %} #}

    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save'
        }
    }) }}

    <div class="mb-0 row">
        <div class="col">
            <div class="mb-0 row">
                <div class="col-sm-8">
                    {{ form_row(form.landArea, {attr:{'data-live--land-form-target':'area'}}) }}
                </div>
                <div class="col-sm-4">
                    <div class="mb-3">
                        <p class="">Hect치reas (ha):</p>
                        <h5 class="">
                            <span class="badge text-bg-info" {{ stimulusTarget('live/land-form', 'hectare') }}>0</span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            {{ form_row(form.perimeter, {attr:{'data-live--land-form-target':'perimeter'}}) }}
        </div>
    </div>

    <details class="collection" {{ stimulusTarget('live/land-form', 'details') }}>
        <summary class="collection">
            <div class="row summary-btn-lis">
                <div class="col">Tiene 치rea ocupada:</div>
                <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">
                </div>
            </div>
        </summary>
        <br>
        <div class="mb-0 row">
            <div class="col">
                {{ form_row(form.occupiedArea, {attr:{'data-live--land-form-target':'occupied'}}) }}
            </div>
            <div class="col-sm-2">
                <div class="mb-3">
                    <p class="" title="Coeficiente de Ocupaci칩n del Suelo">COS (%):</p>
                    <h5 class="">
                        <span class="badge text-bg-info" {{ stimulusTarget('live/land-form', 'cos') }}>0</span>
                    </h5>
                </div>
            </div>
            <div class="col-sm-6">
                {{ form_row(form.floor, {attr:{'data-live--land-form-target':'floor'}}) }}
            </div>
        </div>
    </details>

    <div class="mb-0 row">
        <div class="col">
            {{ form_row(form.microlocalization) }}
        </div>
        <div class="col">
            {{ form_row(form.photo) }}
        </div>
    </div>

    {{ form_row(form.landNetworkConnections.vars.button_add, {
        label: 'Agregar conexion de red',
        attr: { class: 'btn btn-outline-nav-link btn-sm' }
    }) }}

{#    {% if form_errors(form.landNetworkConnections) %}#}
{#        <div class="mb-3 mt-0 row" style="margin-top: -1rem !important;">#}
{#            <div class="col-sm-12">#}
{#                {{ form_errors(form.networkConnection) }}#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}

    {% for key, connection in form.landNetworkConnections %}
        <details class="collection" {# {% if this.isNew() == false %}open{% endif %} #}>
            <summary class="collection">
                <div class="row summary-btn-lis">
                    <div class="col">Conexi칩n de red: {% if connection.vars.data.id is not null %}{{ connection.vars.data.networkConnection.name }}{% endif %}</div>
                    <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">
                        {{ form_widget(connection.vars.button_delete, {
                            label: ux_icon('bi:trash', {class:'bi'}) ~ 'Eliminar',
                            attr: { class: 'btn btn-outline-danger btn-sm' }
                        }) }}
                    </div>
                </div>
            </summary>

            {{ form_row(connection.networkConnection) }}
            {{ form_row(connection.explanation) }}
        </details>
    {% endfor %}

    <div class="row mb-3">
        <div class="col-sm-12">
            {{ component('button:submit', {
                icon: this.isNew() ? 'bi:plus-lg' : 'fa:edit',
                label: this.isNew() ? 'Agregar' : 'Modificar',
                component: this
            }) }}
        </div>
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form, {render_rest:false}) }}
</div>
