<div {{ attributes.defaults(stimulusController('live/local-form', {modal:modal})) }}>

    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save'
        }
    }) }}

    <div class="mb-0 row">
        <div class="col">
            {{ form_row(form.type, {attr:{'data-live--local-form-target':'type'}}) }}
        </div>

        <div class="col">
            {{ form_row(form.name) }}
        </div>
    </div>

    <div class="mb-0 row">
        <div class="col">
            {{ form_row(form.number) }}
        </div>

        <div class="col">
            {{ form_row(form.area, {attr:{'data-live--local-form-target':'area'}}) }}
        </div>
    </div>

    <div class="mb-0 row">
        <div class="col">
            {{ form_row(form.height, {attr:{'data-live--local-form-target':'height'}}) }}
        </div>

        <div class="col">
            {{ form_row(form.technicalStatus, {attr:{'data-live--local-form-target':'technicalStatus'}}) }}
        </div>
    </div>

    <div class="mb-0 row">
        {% if form.localConstructiveAction is defined %}
            <div class="col">
                <details class="collection" open>
                    <summary class="collection">
                        <div class="row summary-btn-lis">
                            <div class="col">Acción constructiva:</div>
                            <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">

                            </div>
                        </div>
                    </summary>
                    <br>
                    <div class="mb-0 row">
                        <div class="col">
                            {{ form_row(form.localConstructiveAction.constructiveAction) }}
                        </div>
                        {% if form.localConstructiveAction.price is defined %}
                            <div class="col" {{ stimulusController('usd-currency') }}>
                                {{ form_row(form.localConstructiveAction.price) }}
                            </div>
                        {% endif %}
                    </div>
                </details>
            </div>
        {% endif %}

        <div class="col">
            <details class="collection">
                <summary class="collection">
                    <div class="row summary-btn-lis">
                        <div class="col">Comentario:</div>
                        <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">

                        </div>
                    </div>
                </summary>
                <br>
                {{ form_row(form.comment) }}
            </details>
        </div>
    </div>

    <div class="mb-0 row">
        {{ form_row(form.impactHigherLevels) }}
    </div>

    <div class="row mb-3">
        <div class="col-sm-12">
            {{ component('button:submit', {
                icon: (this.l.id is null) ? 'bi:plus-lg' : 'fa:edit',
                label: (this.l.id is null) ? 'Agregar' : 'Modificar',
                component: this
            }) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>
