<div {{ attributes.defaults(stimulusController('live-form', {modal:modal})) }}>

    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save'
        }
    }) }}

    {{ form_row(form.name) }}
    {{ form_row(form.province) }}

    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            {{ component('button:submit', {
                icon: (this.mun.id is null) ? 'bi:plus-lg' : 'fa:edit',
                label: (this.mun.id is null) ? 'Agregar' : 'Modificar',
                component: this
            }) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>
