<div {{ attributes.defaults(stimulusController('live-form', {modal:modal})) }}>

    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save'
        }
    }) }}

    {{ form_row(form.name) }}

    <div class="mb-0 row">
        <div class="col">
            {{ form_row(form.type) }}
        </div>
        <div class="col">
            {{ form_row(form.investment) }}
        </div>
    </div>

    <div class="mb-0 row" {{ stimulusController('visibility') }}>
        <div class="col">
            {{ form_row(form.clientType) }}
        </div>
        <div class="col">
            <div {{ stimulusTarget('visibility', 'target') }} style="display: {% if this.isIndividualClient() %}block{% else %}none{% endif %}">
                {{ form_row(form.individualClient) }}
            </div>
            <div {{ stimulusTarget('visibility', 'target') }} style="display: {% if this.isEnterpriseClient() %}block{% else %}none{% endif %}">
                {{ form_row(form.enterpriseClient) }}
            </div>
        </div>
    </div>

    <div class="mb-0 row" {{ stimulusController('visibility') }}>
        <div class="col">
            {{ form_row(form.currency) }}
        </div>
        <div class="col">
            {{ form_row(form.draftsman) }}
        </div>
    </div>

    {% if this.pro.id is null %}
        <div class="mb-0 row" {{ stimulusController('visibility') }}>
            <div class="col">
                <details class="collection" {% if this.pro.hasContract() %}open{% endif %}>
                    <summary class="collection">
                        <div class="row summary-btn-lis">
                            <div class="col">Contrato:</div>
                            <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">

                            </div>
                        </div>
                    </summary>
                    <br>
                    <div class="mb-0 row">
                        <div class="col">
                            {{ form_row(form.contract.code) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.contract.year) }}
                        </div>
                    </div>
                </details>
            </div>
            <div class="col">
                <details class="collection" {% if this.pro.hasComment() %}open{% endif %}>
                    <summary class="collection">
                        <div class="row summary-btn-lis">
                            <div class="col">Comentario:</div>
                            <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">

                            </div>
                        </div>
                    </summary>
                    <br>
                    {% if form.comment is defined %}
                        {{ form_row(form.comment) }}
                    {% endif %}
                </details>
            </div>
        </div>
    {% else %}
        <details class="collection" {% if this.pro.hasContract() %}open{% endif %}>
            <summary class="collection">
                <div class="row summary-btn-lis">
                    <div class="col">Contrato:</div>
                    <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">
                        {{ form_errors(form.contract) }}
                    </div>
                </div>
            </summary>
            <br>
            <div class="mb-0 row">
                <div class="col">
                    {{ form_row(form.contract.code) }}
                </div>
                <div class="col">
                    {{ form_row(form.contract.year) }}
                </div>
            </div>
        </details>
    {% endif %}

    <div class="mb-0 row" {{ stimulusController('visibility-by-select', {openData:'0'}) }}>
        <div class="col">
            {% if form.state is defined %}
                {{ form_row(form.state) }}
            {% endif %}

            {% if form.stopReason is defined %}
                <details class="collection"
                         {% if this.pro.hasComment() %}open{% endif %} {{ stimulusTarget('visibility-by-select', 'detail') }}>
                    <summary class="collection">
                        <div class="row summary-btn-lis">
                            <div class="col">Razon de parar:</div>
                            <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">

                            </div>
                        </div>
                    </summary>
                    <br>
                    {% if form.comment is defined %}
                        {{ form_row(form.stopReason) }}
                    {% endif %}
                </details>
            {% endif %}
        </div>
        <div class="col">
            {% if this.pro.id is not null %}
                <details class="collection" open>
                    <summary class="collection">
                        <div class="row summary-btn-lis">
                            <div class="col">Comentario:</div>
                            <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">

                            </div>
                        </div>
                    </summary>
                    <br>
                    {% if form.comment is defined %}
                        {{ form_row(form.comment) }}
                    {% endif %}
                </details>
            {% endif %}
        </div>
    </div>

    {{ form_row(form.buildings.vars.button_add, {
        label: 'Agregar obra',
        attr: { class: 'btn btn-outline-nav-link btn-sm' }
    }) }}

    {% if form_errors(form.buildings) %}
        <div class="mb-3 mt-0 row" style="margin-top: -1rem !important;">
{#            <div class="col-sm-2 col-form-label-sm fw-bold"></div>#}
            <div class="col-sm-12">
                {{ form_errors(form.buildings) }}
            </div>
        </div>
    {% endif %}

    {% for key, building in form.buildings %}
        <details class="collection" {% if this.pro.id is not null %}open{% endif %}>
            <summary class="collection">
                <div class="row summary-btn-lis">
                    <div class="col">Obra:</div>
                    <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">
                        <button class="btn btn-primary btn-sm" type="button">Reporte</button>
                        {{ form_widget(building.vars.button_delete, {
                            label: ux_icon('bi:trash', {class:'bi'}) ~ 'Eliminar',
                            attr: { class: 'btn btn-outline-danger btn-sm' }
                        }) }}
                    </div>
                </div>
            </summary>

            {{ form_row(building.name) }}
            {{ form_row(building.constructor) }}

            <details class="collection" {% if this.pro.id is not null %}open{% endif %}>
                <summary class="collection">
                    <div class="row summary-btn-lis">
                        <div class="col">Valores aprobados:</div>
                        <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">

                        </div>
                    </div>
                </summary>
                <br>
                <div class="mb-0 row" {{ stimulusController('summation-values') }}>
                    <div class="col">
                        {{ form_row(building.approvedValueConstruction, {attr:{'data-summation-values-target':'field'}}) }}
                    </div>
                    <div class="col">
                        {{ form_row(building.approvedValueEquipment, {attr:{'data-summation-values-target':'field'}}) }}
                    </div>
                    <div class="col">
                        {{ form_row(building.approvedValueOther, {attr:{'data-summation-values-target':'field'}}) }}
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <p class="text-end">Total:</p>
                            <h5 class="text-end">$
                                <span class="badge text-bg-info" {{ stimulusTarget('summation-values', 'total') }}>
                                        0
                                    </span>
                            </h5>
                        </div>
                    </div>
                </div>
            </details>

            <details class="collection" {% if this.pro.id is not null %}open{% endif %}>
                <summary class="collection">
                    <div class="row summary-btn-lis">
                        <div class="col">Valores estimados:</div>
                        <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">

                        </div>
                    </div>
                </summary>
                <br>
                <div class="mb-0 row" {{ stimulusController('summation-values') }}>
                    <div class="col">
                        {{ form_row(building.estimatedValueConstruction, {attr:{'data-summation-values-target':'field'}}) }}
                    </div>
                    <div class="col">
                        {{ form_row(building.estimatedValueEquipment, {attr:{'data-summation-values-target':'field'}}) }}
                    </div>
                    <div class="col">
                        {{ form_row(building.estimatedValueOther, {attr:{'data-summation-values-target':'field'}}) }}
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <p class="text-end">Total:</p>
                            <h5 class="text-end">$
                                <span class="badge text-bg-info" {{ stimulusTarget('summation-values', 'total') }}>0</span>
                            </h5>
                        </div>
                    </div>
                </div>
            </details>

        </details>
    {% endfor %}

    {# avoid an extra label for this field #}
    {#        {% do form.municipalities.setRendered %} #}
    {#    </details> #}

    <div class="row mb-3">
        <div class="col-sm-12">
            {{ component('button:submit', {
                icon: (this.pro.id is null) ? 'bi:plus-lg' : 'fa:edit',
                label: (this.pro.id is null) ? 'Agregar' : 'Modificar',
                component: this
            }) }}
        </div>
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form, {render_rest:false}) }}
</div>
