<div {{ attributes.defaults(stimulusController('live-form currency', {modal:modal})) }}>

    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save'
        }
    }) }}

    {{ form_row(form.name) }}

    <div class="mb-0 row">
        {% if form.type is defined %}
        <div class="col">
            {{ form_row(form.type) }}
        </div>
        {% endif %}
        <div class="col">
            {{ form_row(form.investment) }}
        </div>
    </div>

    <div class="mb-0 row" {{ stimulusController('visibility') }}>
        <div class="col">
            {{ form_row(form.clientType) }}
        </div>
        <div class="col">
            <div {{ stimulusTarget('visibility', 'target') }}
                style="display: {% if this.isIndividualClient() %}block{% else %}none{% endif %}">
                {{ form_row(form.individualClient) }}
            </div>
            <div {{ stimulusTarget('visibility', 'target') }}
                style="display: {% if this.isEnterpriseClient() %}block{% else %}none{% endif %}">
                {{ form_row(form.enterpriseClient) }}
            </div>
        </div>
    </div>

    {% if form.draftsman is defined %}
        <div class="mb-0 row">
            <div class="col">
                {{ form_row(form.currency) }}
            </div>
            <div class="col">
                {{ form_row(form.draftsman) }}
            </div>
        </div>
    {% else %}
        {{ form_row(form.currency) }}
    {% endif %}

    {% if this.isNew() == true %}
        <div class="mb-0 row" {{ stimulusController('visibility') }}>
            <div class="col">
                <details class="collection" {# {% if this.pro.hasContract() %}open{% endif %} #}>
                    <summary class="collection">
                        <div class="row summary-btn-lis">
                            <div class="col">Contrato:</div>
                            <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">

                            </div>
                        </div>
                    </summary>
                    <br>
                    <div class="mb-0 row">
                        <div class="col">
                            {{ form_row(form.contract.code) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.contract.year) }}
                        </div>
                    </div>
                </details>
            </div>
            <div class="col">
                <details class="collection" {# {% if this.pro.hasComment() %}open{% endif %} #}>
                    <summary class="collection">
                        <div class="row summary-btn-lis">
                            <div class="col">Comentario:</div>
                            <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">

                            </div>
                        </div>
                    </summary>
                    <br>
                    {% if form.comment is defined %}
                        {{ form_row(form.comment) }}
                    {% endif %}
                </details>
            </div>
        </div>
    {% else %}
        <details class="collection" {# {% if this.pro.hasContract() %}open{% endif %} #}>
            <summary class="collection">
                <div class="row summary-btn-lis">
                    <div class="col">Contrato:</div>
                    <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">
                        {{ form_errors(form.contract) }}
                    </div>
                </div>
            </summary>
            <br>
            <div class="mb-0 row">
                <div class="col">
                    {{ form_row(form.contract.code) }}
                </div>
                <div class="col">
                    {{ form_row(form.contract.year) }}
                </div>
            </div>
        </details>
    {% endif %}

    <div
        class="mb-0 row" {% if form.state is defined and form.stopReason is defined %}{{ stimulusController('visibility-by-select', {openData:'0'}) }}{% endif %}>
        <div class="col">
            {% if form.state is defined %}
                {{ form_row(form.state) }}
            {% endif %}

            {% if form.stopReason is defined %}
                <details class="collection"
                         {% if this.pro.hasComment() %}open{% endif %} {{ stimulusTarget('visibility-by-select', 'detail') }}>
                    <summary class="collection">
                        <div class="row summary-btn-lis">
                            <div class="col">Razón de parar:</div>
                            <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">

                            </div>
                        </div>
                    </summary>
                    <br>
                    {% if form.comment is defined %}
                        {{ form_row(form.stopReason) }}
                    {% endif %}
                </details>
            {% endif %}
        </div>
        <div class="col">
            {% if this.isNew() == false %}
                <details class="collection" open>
                    <summary class="collection">
                        <div class="row summary-btn-lis">
                            <div class="col">Comentario:</div>
                            <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">

                            </div>
                        </div>
                    </summary>
                    <br>
                    {% if form.comment is defined %}
                        {{ form_row(form.comment) }}
                    {% endif %}
                </details>
            {% endif %}
        </div>
    </div>

    {{ form_row(form.buildings.vars.button_add, {
        label: 'Agregar obra',
        attr: { class: 'btn btn-outline-nav-link btn-sm' }
    }) }}

    {% if form_errors(form.buildings) %}
        <div class="mb-3 mt-0 row" style="margin-top: -1rem !important;">
            <div class="col-sm-12">
                {{ form_errors(form.buildings) }}
            </div>
        </div>
    {% endif %}

    {% for key, building in form.buildings %}
        <details class="collection" {% if form_errors(building.name) %}open{% endif %}>
            <summary class="collection">
                <div class="row summary-btn-lis">
                    <div class="col">Obra: {% if this.isNew == false %}{{ building.vars.data.name }}{% endif %}</div>
                    <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">
                        {#                        <button class="btn btn-primary btn-sm" type="button">Reporte</button> #}

                        {% if this.pro.id is not null %}
                            {% if building.vars.data.id %}
                                {#                                <a class="btn btn-outline-info btn-sm" #}
                                {#                                   href="{{ path('app_floor_index', {building: building.vars.data.id}) }}"> #}
                                {#                                    Gestionar plantas #}
                                {#                                </a> #}
                                {#                                <button class="btn btn-sm btn-outline-info" #}
                                {#                                        title="Datos generales del terreno" #}
                                {#                                        {{ stimulusTarget('modal-content-loader', 'button') }} #}
                                {#                                        {{ stimulusController('modal-content-loader', { #}
                                {#                                            url: this.getUrl(building.vars.data), #}
                                {#                                            id: 'modal-load', #}
                                {#                                            placeholder: 'Cargando...', #}
                                {#                                            title: 'Datos generales del terreno', #}
                                {#                                        }) }} #}
                                {#                                > #}
                                {#                                    Datos generales del terreno #}
                                {#                                </button> #}
                                <a class="btn btn-outline-info btn-sm"
                                   href="{{ path('app_building_edit', {id: building.vars.data.id}) }}">
                                    {{ ux_icon('streamline-pixel:construction-building-real-eastate', {'class':'bi'}) }}
                                    Información de la obra
                                </a>
                            {% else %}
                                {{ form_widget(building.vars.button_delete, {
                                    label: ux_icon('bi:trash', {class:'bi'}) ~ 'Eliminar',
                                    attr: { class: 'btn btn-outline-danger btn-sm' }
                                }) }}
                            {% endif %}
                        {% else %}
                            {{ form_widget(building.vars.button_delete, {
                                label: ux_icon('bi:trash', {class:'bi'}) ~ 'Eliminar',
                                attr: { class: 'btn btn-outline-danger btn-sm' }
                            }) }}
                        {% endif %}
                    </div>
                </div>
            </summary>

            {{ include('partials/live_component/_building.html.twig', {
                'name' : building.name,
                'population' : building.population,
                'constructor' : building.constructor,
                'draftsman' : (building.draftsman is defined) ? building.draftsman : null,
                'approvedValueConstruction' : building.approvedValueConstruction,
                'approvedValueEquipment' : building.approvedValueEquipment,
                'approvedValueOther' : building.approvedValueOther,
                'estimatedValueConstruction' : building.estimatedValueConstruction,
                'estimatedValueEquipment' : building.estimatedValueEquipment,
                'estimatedValueOther' : building.estimatedValueOther,
                'projectPriceTechnicalPreparation' : building.projectPriceTechnicalPreparation,
                'estimatedValueUrbanization' : building.estimatedValueUrbanization,
                'constructionAssembly' : building.constructionAssembly,
                'constructionAssemblyComment' : building.constructionAssemblyComment,
                'landNetworkConnections' : building.landNetworkConnections,
                'range' : building.range
            }) }}
        </details>
    {% endfor %}

    {# avoid an extra label for this field #}
    {#        {% do form.municipalities.setRendered %} #}
    {#    </details> #}

    <div class="row mb-3">
        <div class="col-sm-12">
            {{ component('button:submit', {
                icon: (this.isNew() == true) ? 'bi:plus-lg' : 'fa:edit',
                label: (this.isNew() == true) ? 'Agregar' : 'Modificar',
                component: this
            }) }}
        </div>
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form, {render_rest:false}) }}
</div>
