{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: 'id="subsystem_sub_type_detail_' ~ subsystem_sub_type.id,
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: title,
} %}

    {% block header %}
        {{ include('partials/_card_header_options.html.twig', {
            goTo: 'app_subsystem_sub_type_new',
            label: 'Nuevo',
            title: 'Nuevo subtipo',
            entity: subsystem_sub_type,
            state: 'detail',
            showButton: (showButton is defined and showButton == true) ? true : false
        }) }}
    {% endblock %}

    {% block body %}
        <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>Nombre:</th>
                    <td>{{ subsystem_sub_type.name }}</td>
                </tr>
                <tr>
                    <th>Tipo:</th>
                    <td>
                        <a href="{{ path('app_subsystem_sub_type_show', {'id': subsystem_sub_type.subsystemType.id }) }}">
                            {{ subsystem_sub_type.subsystemType.name }}
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endblock %}

    {% block footer %}
        {{ include('partials/_card_footer.html.twig', {
            list: {href: 'app_subsystem_sub_type_index', label: 'Listado', title:'Volver al listado'},
            edit: {href: 'app_subsystem_sub_type_edit', label: 'Editar', title:'Editar subtipo'},
            delete: {href: 'app_subsystem_sub_type_delete', label: 'Eliminar', title:'Eliminar subtipo'},
            id: subsystem_sub_type.id,
            message: 'Está seguro que desea eliminar el subtipo?',
            state: 'detail',
            showButton: (showButton is defined and showButton == true) ? true : false
        }) }}
    {% endblock %}

{% endcomponent %}


