{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: 'Listado de sub tipos',
} %}
    {% block header %}
        {% from 'macros/buttons.html.twig' import tableActionButton3 %}

        <div>
            {{ tableActionButton3(path('app_subsystem_sub_type_new'), 'bi:plus-lg', 'Nuevo', 'Nuevo sub tipo', stimulusAction('twig/card/card', 'newElement:prevent', null, {url:path('app_subsystem_sub_type_new')})) }}
        </div>
    {% endblock %}

    {% block body %}
        {% component 'Table:Table' with {
            paginator: paginator,
        } %}

            {% block tableHead %}
                <tr>
                    <th>Nombre</th>
{#                    <th>Tipo {{ ux_icon('mdi:filter', {class:'bi'}) }}</th>#}
                    <th></th>
                </tr>
            {% endblock %}

            {% block tableBody %}
                {% from 'macros/buttons.html.twig' import tableActionButton3 %}
                {% from 'macros/link.html.twig' import filterLink %}

                {% for subsystem_sub_type in paginator.getData() %}
                    <tr {{ stimulusController('delete-form-container') }}>
                        <td>{{ subsystem_sub_type.name }}</td>
{#                        <td>#}
{#                            <a href="{{ filterLink(subsystem_sub_type.subsystemType) }}"#}
{#                               class="text-decoration-none"#}
{#                            >#}
{#                                {{ subsystem_sub_type.subsystemType }}#}
{#                            </a>#}
{#                        </td>#}
                        <td class="text-end">
{#                            {{ tableActionButton3(path('app_municipality_show', {'id': municipality.id}), 'bi:eye', '', 'Detalle del municipio', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_municipality_show', {'id': municipality.id})})) }}#}
                            {{ tableActionButton3(path('app_subsystem_sub_type_edit', {'id': subsystem_sub_type.id}), 'fa:edit', '', 'Editar sub tipo', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_subsystem_sub_type_edit', {'id': subsystem_sub_type.id})})) }}

                            {{ component('DeleteForm', {
                                path: path('app_subsystem_sub_type_delete', {'id': subsystem_sub_type.id}),
                                confirm: 'Está seguro que desea eliminar el sub tipo?',
                                token: 'delete' ~ subsystem_sub_type.id,
                                title: 'Eliminar sub tipo',
                                icon: 'bi:trash'
                            }) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">No se encontraron sub tipos.</td>
                    </tr>
                {% endfor %}
            {% endblock %}

        {% endcomponent %}

    {% endblock %}

{% endcomponent %}
