{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: 'Listado de conceptos',
} %}
    {% block header %}
        {% from 'macros/buttons.html.twig' import tableActionButton2,tableActionButton3 %}

        <div>
            {{ tableActionButton3(path('app_separate_concept_new'), 'bi:plus-lg', 'Nuevo', 'Nuevo concepto', stimulusAction('twig/card/card', 'newElement:prevent', null, {url:path('app_separate_concept_new')})) }}
        </div>
    {% endblock %}

    {% block body %}
        {% component 'Table:Table' with {
            paginator: paginator,
        } %}

            {% block tableHead %}
                <tr>
                    {#                    <th>Id</th> #}
                    {#                    <th>Type</th> #}
                    <th>Número</th>
                    <th>Nombre</th>
{#                    <th>Fórmula</th>#}
                    <th></th>
                </tr>
            {% endblock %}

            {% block tableBody %}
                {% from 'macros/buttons.html.twig' import tableActionButton, deleteFormButton, deleteFormButton2, tableActionButton2, tableActionButton3 %}

                {% for separate_concept in paginator.getData() %}
                    <tr {{ stimulusController('delete-form-container') }}>
                        {#                        <td>{{ separate_concept.id }}</td> #}
                        {#                        <td>{{ separate_concept.type }}</td> #}
                        <td>{{ separate_concept.number }}</td>
                        <td>{{ separate_concept.name }}</td>
{#                        <td>{{ separate_concept.formula }}</td>#}
                        <td class="text-end">
                            {{ tableActionButton3(path('app_separate_concept_show', {'id': separate_concept.id}), 'bi:eye', '', 'Detalle del concepto', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_separate_concept_show', {'id': separate_concept.id})}), 'btn-link') }}
                            {{ tableActionButton3(path('app_separate_concept_edit', {'id': separate_concept.id}), 'fa:edit', '', 'Editar concepto', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_separate_concept_edit', {'id': separate_concept.id})}), 'btn-link') }}

                            {{ component('DeleteForm', {
                                path: path('app_separate_concept_delete', {'id': separate_concept.id}),
                                confirm: 'Está seguro que desea eliminar el concepto?',
                                token: 'delete' ~ separate_concept.id,
                                title: 'Eliminar concepto',
                                icon: 'bi:trash',
                                cssClass: 'btn-link text-danger'
                            }) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">No se encontraron conceptos.</td>
                    </tr>
                {% endfor %}
            {% endblock %}

        {% endcomponent %}

    {% endblock %}

{% endcomponent %}
