{% extends 'base.html.twig' %}

{% block title %}BuildingRevision index{% endblock %}

{% block body %}
    <h1>BuildingRevision index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>Comment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for building_revision in building_revisions %}
            <tr>
                <td>{{ building_revision.id }}</td>
                <td>{{ building_revision.createdAt ? building_revision.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ building_revision.comment }}</td>
                <td>
                    <a href="{{ path('app_building_revision_show', {'id': building_revision.id}) }}">show</a>
                    <a href="{{ path('app_building_revision_edit', {'id': building_revision.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_building_revision_new') }}">Create new</a>
{% endblock %}
