{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}

{% block title %}Revisión: {{ building_revision.id }}{% endblock %}
{% from 'macros/titles.html.twig' import h1 %}

{% block content %}
    <div class="row">
        {{ h1('Revisiones') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Revisiones', href: path('app_building_revision_index')},
            {label: 'Detalle'},
        ]) }}
    </div>

    <h2 class="mb-4">Revisión: {{ building_revision.id }}</h2>

    {{ include('building_revision/_detail.html.twig', {'showButton': true, 'title': title}) }}
{% endblock %}
