<table class="table table-hover">
    <tbody>
    <tr>
        <th>Nombre y Apellidos:</th>
        <td>{{ entity.getFullName() }}</td>
    </tr>
    <tr>
        <th>Carnet de identidad:</th>
        <td>{{ entity.identificationNumber }}</td>
    </tr>
    <tr>
        <th>Pasaporte:</th>
        <td>{{ entity.passport }}</td>
    </tr>
    <tr>
        <th>Teléfono:</th>
        <td>
            <a href="phone:{{ entity.phone }}">
                {{ entity.phone }} {{ ux_icon('bi:telephone', {class:'bi'}) }}
            </a>
        </td>
    </tr>
    <tr>
        <th>Correo:</th>
        <td>
            <a href="mailto:{{ entity.email }}">
                {{ entity.email }} {{ ux_icon('bi:envelope', {class:'bi'}) }}
            </a>
        </td>
    </tr>
    </tbody>
</table>