{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="row">
        {{ h1(title) }}

        {{ breadcrumb(breadcrumbs) }}
    </div>

    <h2 class="mb-4">{{ subtitle }}</h2>

    {% component ManagePage %}
        {% block list %}
            {{ include({{ templateDir }}'/_list.html.twig') }}
        {% endblock %}
    {% endcomponent %}
{% endblock %}
