{% from 'macros/link.html.twig' import activeLink %}

<div class="sidebar col-md-3 col-lg-2 p-0">
    <div class="offcanvas-md offcanvas-end" tabindex="-1" id="sidebarMenu"
         aria-labelledby="sidebarMenuLabel" style="height: 100% !important;min-height: 100% !important;">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">DIRU</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                    data-bs-target="#sidebarMenu" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-md-flex flex-column overflow-y-auto d-flex flex-shrink-0 p-3"
             style="height: 100% !important;min-height: 100% !important;">
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="{{ path('app_home') }}" class="nav-link {{ activeLink('app_home') }}" aria-current="page">
                        {{ ux_icon('bi:house', {class:'bi'}) }}
                        Inicio
                    </a>
                </li>
                {#                <li class="nav-item"> #}
                {#                    <a href="#" class="nav-link link-body-emphasis"> #}
                {#                        {{ ux_icon('bi:speedometer2', {class:'bi'}) }} #}
                {#                        Dashboard #}
                {#                    </a> #}
                {#                </li> #}
                {#                <li> #}
                {#                    <a href="#" class="nav-link link-body-emphasis"> #}
                {#                        {{ ux_icon('bi:table', {class:'bi'}) }} #}
                {#                        Orders #}
                {#                    </a> #}
                {#                </li> #}
                <li class="nav-item">
                    <button
                            class="btn btn-toggle align-items-center rounded border-0 collapsed nav-link link-body-emphasis"
                            data-bs-toggle="collapse" data-bs-target="#locations-collapse"
                            aria-expanded="{% if app.request.attributes.get('_route') in ['app_province_index', 'app_municipality_index', 'app_location_zone_index', 'app_geographic_location_index'] %}true{% else %}false{% endif %}"
                            style="width:100%;text-align:left"
                    >
                        <span class="d-inline-flex align-items-center">Ubicaciones</span>
                    </button>
                    <div class="collapse {% if app.request.attributes.get('_route') in ['app_province_index', 'app_municipality_index', 'app_location_zone_index', 'app_geographic_location_index'] %}show{% else %}hide{% endif %}"
                         id="locations-collapse">
                        <ul class="dropdown-menu position-static mx-0 shadow d-block small"
                            data-bs-theme="light"
                            style="background-color: var(--bs-body-bg);margin-left: 15px !important;margin-right: 15px !important;">
                            {% if is_granted(constant('App\\Entity\\Role::ROLE_ADMIN')) %}
                                <li>
                                    <a class="dropdown-item d-flex gap-2 align-items-center {{ activeLink('app_province_index') }}"
                                       href="{{ path('app_province_index') }}">
                                        {{ ux_icon('ic:outline-place', {class:'bi'}) }} Provincias
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item d-flex gap-2 align-items-center {{ activeLink('app_municipality_index') }}"
                                       href="{{ path('app_municipality_index') }}">
                                        {{ ux_icon('stash:pin-place', {class:'bi'}) }} Municipios
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex gap-2 align-items-center {{ activeLink('app_location_zone_index') }}"
                                       href="{{ path('app_location_zone_index') }}"
                                    >
                                        {{ ux_icon('bi:pin-map', {class:'bi'}) }}
                                        Zona de ubicación
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex gap-2 align-items-center {{ activeLink('app_geographic_location_index') }}"
                                       href="{{ path('app_geographic_location_index') }}">
                                        {{ ux_icon('bi:pin-map-fill', {class:'bi'}) }}
                                        Ubicación geográfica
                                    </a>
                                </li>
                            {% endif %}
                            {#                            <li> #}
                            {#                                <hr class="dropdown-divider"> #}
                            {#                            </li> #}
                            {#                            <li><a class="dropdown-item d-flex gap-2 align-items-center" href="#"> #}
                            {#                                    {{ ux_icon('game-icons:land-mine', {class:'bi'}) }} Otros lugares #}
                            {#                                </a> #}
                            {#                            </li> #}
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <button class="btn btn-toggle align-items-center rounded border-0 collapsed nav-link link-body-emphasis"
                            data-bs-toggle="collapse" data-bs-target="#places-collapse"
                            aria-expanded="{% if app.request.attributes.get('_route') in ['app_organism_index', 'app_corporate_entity_index', 'app_constructor_index'] %}true{% else %}false{% endif %}"
                            style="width:100%;text-align:left">
                        <span class="d-inline-flex align-items-center">Organizaciones</span>
                    </button>
                    <div class="collapse {% if app.request.attributes.get('_route') in ['app_organism_index', 'app_corporate_entity_index', 'app_constructor_index'] %}show{% else %}hide{% endif %}" id="places-collapse">
                        <ul class="dropdown-menu position-static mx-0 shadow d-block small"
                            data-bs-theme="light"
                            style="background-color: var(--bs-body-bg);margin-left: 15px !important;margin-right: 15px !important;">
                            <li>
                                <a class="dropdown-item d-flex gap-2 align-items-center {{ activeLink('app_organism_index') }}"
                                   href="{{ path('app_organism_index') }}"
                                >
                                    {{ ux_icon('bi:list-check', {class:'bi'}) }}
                                    Organismos
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex gap-2 align-items-center {{ activeLink('app_corporate_entity_index') }}"
                                   href="{{ path('app_corporate_entity_index') }}">
                                    {{ ux_icon('bi:building', {class:'bi'}) }}
                                    Entidades
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex gap-2 align-items-center {{ activeLink('app_constructor_index') }}"
                                   href="{{ path('app_constructor_index') }}">
                                    {{ ux_icon('uil:constructor', {class:'bi'}) }}
                                    Constructoras
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <button class="btn btn-toggle align-items-center rounded border-0 collapsed nav-link link-body-emphasis"
                            data-bs-toggle="collapse" data-bs-target="#other-collapse"
                            aria-expanded="{% if app.request.attributes.get('_route') in ['app_network_connection_index'] %}true{% else %}false{% endif %}"
                            style="width:100%;text-align:left">
                        <span class="d-inline-flex align-items-center">Otros</span>
                    </button>
                    <div class="collapse {% if app.request.attributes.get('_route') in ['app_network_connection_index'] %}show{% else %}hide{% endif %}" id="other-collapse">
                        <ul class="dropdown-menu position-static mx-0 shadow d-block small"
                            data-bs-theme="light"
                            style="background-color: var(--bs-body-bg);margin-left: 15px !important;margin-right: 15px !important;">
                            <li>
                                <a class="dropdown-item d-flex gap-2 align-items-center {{ activeLink('app_network_connection_index') }}"
                                   href="{{ path('app_network_connection_index') }}"
                                >
                                    {{ ux_icon('icon-park-outline:rectangular-circular-connection', {class:'bi'}) }}
                                    Conexiones de red
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex gap-2 align-items-center"
                                   href=""
                                >
{#                                    {{ ux_icon('icon-park-outline:rectangular-circular-connection', {class:'bi'}) }}#}
                                    Acc. Constructivas
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex gap-2 align-items-center"
                                   href=""
                                >
                                    {#                                    {{ ux_icon('icon-park-outline:rectangular-circular-connection', {class:'bi'}) }}#}
                                    Sistema Constructivo
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex gap-2 align-items-center"
                                   href=""
                                >
                                    {#                                    {{ ux_icon('icon-park-outline:rectangular-circular-connection', {class:'bi'}) }}#}
                                    Monedas
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                {% if is_granted(constant('App\\Entity\\Role::ROLE_ADMIN')) %}
                    <li>
                        <a href="{{ path('user_list') }}" class="nav-link link-body-emphasis {{ activeLink('user_list') }}">
                            {{ ux_icon('bi:lock', {class:'bi'}) }}
                            Seguridad
                        </a>
                    </li>
                {% endif %}
                {#                <li> #}
                {#                    <a href="#" class="nav-link link-body-emphasis  rounded-circle" id="icons_only" #}
                {#                       style="text-align: center;"> #}
                {#                        {{ ux_icon('bi:chevron-left', {class:'bi'}) }} #}
                {#                    </a> #}
                {#                </li> #}
            </ul>
            {#            <hr> #}
            {#            <div class="dropup"> #}
            {#                <a href="#" #}
            {#                   class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" #}
            {#                   data-bs-toggle="dropdown" aria-expanded="false"> #}
            {#                    {{ ux_icon('bi:person-circle', {class:'bi',style:'width:2rem;height: 2rem;'}) }}&nbsp;<strong>{% if app.user %}{{ app.user }}{% endif %}</strong> #}
            {#                </a> #}
            {#                <ul class="dropdown-menu text-small shadow"> #}
            {#                    <li><a class="dropdown-item" href="#">New project...</a></li> #}
            {#                    <li><a class="dropdown-item" href="#">Settings</a></li> #}
            {#                    <li><a class="dropdown-item" href="#">Profile</a></li> #}
            {#                    <li> #}
            {#                        <hr class="dropdown-divider"> #}
            {#                    </li> #}
            {#                    <li><a class="dropdown-item" href="#">Sign out</a></li> #}
            {#                </ul> #}
            {#            </div> #}
        </div>
    </div>
</div>
