{% from 'macros/link.html.twig' import activeLink %}

<div class="sidebar col-md-3 col-lg-2 p-0">
    <div class="offcanvas-md offcanvas-end" tabindex="-1" id="sidebarMenu"
         aria-labelledby="sidebarMenuLabel" style="height: 100% !important;min-height: 100% !important;">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">DIRU</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                    data-bs-target="#sidebarMenu" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-md-flex flex-column d-flex flex-shrink-0 p-3"
             style="height: 100% !important;min-height: 100% !important;">
            <ul class="nav nav-pills flex-column mb-auto">
                {{ component('nav:nav-link', {
                    link: 'app_home',
                    icon: 'bi:house',
                    label: 'Inicio',
                }) }}

                {% if is_granted(constant('App\\Entity\\Role::ROLE_ADMIN')) %}
                    {{ component('nav:nav-item', {
                        title: 'Ubicaciones',
                        target: 'locations-collapse',
                        items: [
                            {link: 'app_country_index', icon: 'icon-park-outline:international', label: 'Paises'},
                            {link: 'app_city_index', icon: 'icon-park:local', label: 'Ciudades'},
                            {link: 'app_province_index', icon: 'ic:outline-place', label: 'Provincias'},
                            {link: 'app_municipality_index', icon: 'stash:pin-place', label: 'Municipios'},
                            {link: 'app_location_zone_index', icon: 'bi:pin-map', label: 'Zona de ubicación'},
                            {link: 'app_geographic_location_index', icon: 'bi:pin-map-fill', label: 'Ubicación geográfica'},
                        ]
                    }) }}
                {% endif %}
                {{ component('nav:nav-item', {
                    title: 'Organizaciones',
                    target: 'places-collapse',
                    items: [
                        {link: 'app_organism_index', icon: 'bi:list-check', label: 'Organismos'},
                        {link: 'app_corporate_entity_index', icon: 'bi:building', label: 'Entidades'},
                    ]
                }) }}
                {#                {link: 'app_constructor_index', icon: 'uil:constructor', label: 'Constructoras'}, #}
                {{ component('nav:nav-item', {
                    title: 'Subsistemas',
                    target: 'subsystem-collapse',
                    items: [
                        {link: 'app_subsystem_type_index', icon: 'mingcute:paper-2-line', label: 'Tipos'},
                        {link: 'app_subsystem_sub_type_index', icon: 'lets-icons:paper', label: 'Subtipos'},
                    ]
                }) }}
                {{ component('nav:nav-item', {
                    title: 'Regulaciones urbanas',
                    target: 'regulation-collapse',
                    items: [
                        {link: 'app_urban_regulation_type_index', icon: 'mingcute:paper-2-line', label: 'Tipos de Reg.'},
                        {link: 'app_urban_regulation_index', icon: 'lets-icons:paper', label: 'Reg. urbanas'},
                    ]
                }) }}
                {{ component('nav:nav-item', {
                    title: 'Edificación',
                    target: 'edification-collapse',
                    items: [
                        {link: 'app_network_connection_index', icon: 'icon-park-outline:rectangular-circular-connection', label: 'Conexiones de red'},
                        {link: 'app_constructive_action_index', icon: 'mdi:construction-outline', label: 'Acc. Constructivas'},
                        {link: 'app_constructive_system_index', icon: 'roentgen:building-construction', label: 'Sistema Constructivo'},
                    ]
                }) }}
                {{ component('nav:nav-item', {
                    title: 'Otros',
                    target: 'other-collapse',
                    items: [
                        {link: 'app_currency_index', icon: 'streamline-ultimate:begging-hand-coin-2-bold', label: 'Monedas'},
                        {link: 'app_measurement_unit_index', icon: 'formkit:unit', label: 'Unidad de medida'},
                        {link: 'app_separate_concept_index', icon: 'arcticons:breakdowntimer', label: 'Partida de presupuesto'},
                    ]
                }) }}
                {{ component('nav:nav-item', {
                    title: 'Históricos',
                    target: 'history-collapse',
                    items: [
                        {link: '', icon: 'hugeicons:transaction-history', label: 'ITE Subsistema'},
                        {link: '', icon: 'hugeicons:transaction-history', label: 'ITE Obra'},
                        {link: 'app_separate_concept_index', icon: 'hugeicons:transaction-history', label: 'ITE Obra ajuste'},
                        {link: '', icon: 'hugeicons:transaction-history', label: 'ITE Obra presup. det'},
                        {link: '', icon: 'hugeicons:transaction-history', label: 'ITE Obra presup. real'},
                    ]
                }) }}
                {{ component('nav:nav-item', {
                    title: 'Referencias ITE',
                    target: 'reference-collapse',
                    items: [
                        {link: 'ite_upload_index', icon: 'bi:upload', label: 'Importar'},
                        {link: 'app_ite_national', icon: 'icon-park-outline:local', label: 'Nacionales'},
                        {link: 'app_ite_international', icon: 'streamline-freehand:currency-international-currency', label: 'Internacionales'},
                        {link: 'app_ite_source_index', icon: 'fluent-mdl2:source', label: 'Fuentes'},
                        {link: 'app_ite_project_type_index', icon: 'oi:project', label: 'Tipo de proyecto'},
                    ]
                }) }}
                {% if is_granted(constant('App\\Entity\\Role::ROLE_ADMIN')) %}
                    {{ component('nav:nav-link', {
                        link: 'database_backup_index',
                        icon: 'iconoir:database-backup',
                        label: 'Respaldo',
                    }) }}
                    {{ component('nav:nav-link', {
                        link: 'user_list',
                        icon: 'bi:lock',
                        label: 'Seguridad',
                    }) }}
                {% endif %}
            </ul>
            {#            <hr> #}
            {#            <div class="dropup"> #}
            {#                <a href="#" #}
            {#                   class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" #}
            {#                   data-bs-toggle="dropdown" aria-expanded="false"> #}
            {#                    {{ ux_icon('bi:person-circle', {class:'bi',style:'width:2rem;height: 2rem;'}) }}&nbsp;<strong>{% if app.user %}{{ app.user }}{% endif %}</strong> #}
            {#                </a> #}
            {#                <ul class="dropdown-menu text-small shadow"> #}
            {#                    <li><a class="dropdown-item" href="#">New project...</a></li> #}
            {#                    <li><a class="dropdown-item" href="#">Settings</a></li> #}
            {#                    <li><a class="dropdown-item" href="#">Profile</a></li> #}
            {#                    <li> #}
            {#                        <hr class="dropdown-divider"> #}
            {#                    </li> #}
            {#                    <li><a class="dropdown-item" href="#">Sign out</a></li> #}
            {#                </ul> #}
            {#            </div> #}
        </div>
    </div>
</div>
