{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: 'Listado de unidades de medida',
} %}
    {% block header %}
        {% from 'macros/buttons.html.twig' import tableActionButton2,tableActionButton3 %}

        <div>
            {{ tableActionButton3(path('app_measurement_unit_new'), 'bi:plus-lg', 'Nueva', 'Nueva unidad de medida', stimulusAction('twig/card/card', 'newElement:prevent', null, {url:path('app_measurement_unit_new')})) }}
        </div>
    {% endblock %}

    {% block body %}
        {% component 'Table:Table' with {
            paginator: paginator,
        } %}

            {% block tableHead %}
                <tr>
                    <th>Nombre</th>
                    <th>Código</th>
                    <th></th>
                </tr>
            {% endblock %}

            {% block tableBody %}
                {% from 'macros/buttons.html.twig' import tableActionButton, deleteFormButton, deleteFormButton2, tableActionButton2, tableActionButton3 %}

                {% for measurement_unit in paginator.getData() %}
                    <tr {{ stimulusController('delete-form-container') }}>
                        <td>{{ measurement_unit.name }}</td>
                        <td>{{ measurement_unit.code }}</td>
                        <td class="text-end">
{#                            {{ tableActionButton3(path('app_currency_show', {'id': currency.id}), 'bi:eye', '', 'Detalle de la moneda', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_currency_show', {'id': currency.id})}), 'btn-link') }}#}
                            {{ tableActionButton3(path('app_measurement_unit_edit', {'id': measurement_unit.id}), 'fa:edit', '', 'Editar unidad de medida', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_measurement_unit_edit', {'id': measurement_unit.id})}), 'btn-link') }}

{#                            {{ component('DeleteForm', {#}
{#                                path: path('app_currency_delete', {'id': currency.id}),#}
{#                                confirm: 'Está seguro que desea eliminar la moneda?',#}
{#                                token: 'delete' ~ currency.id,#}
{#                                title: 'Eliminar moneda',#}
{#                                icon: 'bi:trash',#}
{#                                cssClass: 'btn-link text-danger'#}
{#                            }) }}#}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">No se encontraron unidades de medida.</td>
                    </tr>
                {% endfor %}
            {% endblock %}

        {% endcomponent %}

    {% endblock %}

{% endcomponent %}
