{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: title
} %}

    {% block header %}
        {% from 'macros/buttons.html.twig' import tableActionButton2,tableActionButton3, tableHeaderButton, tableHeaderButtonDropdown %}

        <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">
            {% if project.id is not null %}
                <div class="btn-group" role="group" aria-label="Regulaciones Urbanas">
                    <button
                        class="btn text-decoration-none btn-sm btn-primary"
                        {{ stimulusController('modal-content-loader', {
                            url: path('app_project_urban_regulation_index', {'project': project.id, 'state':'modal', 'modal':'modal-load'}),
                            id: 'modal-load',
                            placeholder: 'Cargando...',
                            title: 'Regulaciones aplicadas',
                        }) }}
                        {{ stimulusTarget('modal-content-loader', 'button') }}
                    >
                        Regulaciones
                    </button>
                    <button
                        class="btn text-decoration-none btn-sm btn-primary show"
                        {{ stimulusController('modal-content-loader', {
                            url: path('app_project_urban_regulation_new', {'project': project.id, 'state':'modal', 'modal':'modal-load'}),
                            id: 'modal-load',
                            placeholder: 'Cargando...',
                            title: 'Agregar regulación al proyecto',
                        }) }}
                        {{ stimulusTarget('modal-content-loader', 'button') }}
                    >
                        {{ ux_icon('bi:plus-lg', {'class':'bi'}) }}
                    </button>
                </div>

                <div class="btn-group" role="group" aria-label="Regulaciones Urbanas">
                    <a
                        class="btn text-decoration-none btn-sm btn-primary"
                        href="{{ path('app_building_project', {'project': project.id}) }}"
                    >
                        {{ ux_icon('streamline-pixel:construction-building-real-eastate', {'class':'bi'}) }}
                        Obras
                    </a>
{#                    <div class="dropdown d-inline-block btn text-decoration-none btn-sm btn-primary show">#}
                        <button type="button"
                                class="btn text-decoration-none btn-sm dropdown-toggle dropdown-sm dropdown-toggle-split btn-primary show"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                        >
                            {#                        {{ ux_icon('streamline-pixel:construction-building-real-eastate', {'class':'bi'}) }} #}
                            {#                        Obras #}
                        </button>
                        <ul class="dropdown-menu btn-sm" data-bs-theme="light">
                            <li>
                                <a class="dropdown-item"
                                   href="{{ path('app_building_project', {'project': project.id}) }}"
                                   title="Todas las obras">
                                    <small>Todas</small>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            {% for building in project.buildings %}
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_building_edit', {'id': building.id, 'project': project.id}) }}">
                                        {{ building.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
{#                    </div>#}
                </div>
            {% endif %}

            {{ include('partials/_card_header_options.html.twig', {
                goTo: 'app_project_new',
                label: 'Nuevo',
                title: 'Nuevo proyecto',
                entity: project,
                state: 'form',
                showButton: (showButton is defined and showButton == true) ? true : false
            }) }}
        </div>

    {% endblock %}

    {% block body %}
        {{ component('ProjectForm', {modal:null, pro: project, ajax: ajax}) }}
    {% endblock %}

    {% block footer %}
        {{ include('partials/_card_footer.html.twig', {
            list: {href: 'app_project_index', label: 'Listado', title:'Volver al listado'},
            delete: {href: 'app_project_delete', label: 'Eliminar', title:'Eliminar proyecto'},
            id: project.id,
            message: 'Está seguro que desea eliminar el proyecto?',
            state: 'form',
            showButton: (showButton is defined and showButton == true) ? true : false,
            entity: project
        }) }}
    {% endblock %}

{% endcomponent %}

{{ include('partials/modal/_modal_load.html.twig') }}
