{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: title
} %}

    {% block header %}
        {% from 'macros/buttons.html.twig' import tableActionButton2,tableActionButton3, tableHeaderButton, tableHeaderButtonDropdown %}

        <div class="col d-grid gap-2 d-md-flex justify-content-md-end summary-btn-bar">
            {{ tableActionButton3(path('app_corporate_entity_new'), 'bi:plus-lg', 'Opción 1', 'Opción 1', stimulusAction('twig/card/card', 'newElement:prevent', null, {url:path('app_corporate_entity_new')})) }}
            {{ tableActionButton3(path('app_corporate_entity_new'), 'bi:plus-lg', 'Opción 2', 'Opción 2', stimulusAction('twig/card/card', 'newElement:prevent', null, {url:path('app_corporate_entity_new')})) }}
            {{ tableActionButton3(path('app_corporate_entity_new'), 'bi:plus-lg', 'Opción 3', 'Opción 3', stimulusAction('twig/card/card', 'newElement:prevent', null, {url:path('app_corporate_entity_new')})) }}

            {% if project.id is not null %}
                <div class="dropdown d-inline-block">
                    <button type="button"
                            class="btn text-decoration-none btn-sm dropdown-toggle show dropdown-sm btn-primary"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                        {#                    {{ ux_icon((app.request.query.get((queryName)) != '') ? 'fa:check-square-o' : 'fa6-regular:square-full', {class:'bi', 'style': 'vertical-align: -.25em'}) }} #}
                        {{ ux_icon('streamline-pixel:construction-building-real-eastate', {'class':'bi'}) }}
                        Obras
                    </button>
                    <ul class="dropdown-menu">
                        {% for building in project.buildings %}
                            <li>
                                <a class="dropdown-item" href="{{ path('app_building_edit', {id: building.id}) }}">
                                    {{ building.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {{ include('partials/_card_header_options.html.twig', {
                goTo: 'app_project_new',
                label: 'Nuevo',
                title: 'Nuevo proyecto',
                entity: project,
                state: 'form',
                showButton: (showButton is defined and showButton == true) ? true : false
            }) }}
        </div>

    {% endblock %}

    {% block body %}
        {{ component('ProjectForm', {modal:null, pro: project, ajax: ajax}) }}
    {% endblock %}

    {% block footer %}
        {{ include('partials/_card_footer.html.twig', {
            list: {href: 'app_project_index', label: 'Listado', title:'Volver al listado'},
            delete: {href: 'app_project_delete', label: 'Eliminar', title:'Eliminar proyecto'},
            id: project.id,
            message: 'Está seguro que desea eliminar el proyecto?',
            state: 'form',
            showButton: (showButton is defined and showButton == true) ? true : false,
            entity: project
        }) }}
    {% endblock %}

{% endcomponent %}

{{ include('partials/modal/_modal_load.html.twig') }}
