{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: '',
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: 'Listado de proyectos',
} %}
    {% block header %}
        {% from 'macros/buttons.html.twig' import tableActionButton2,tableActionButton3 %}

        <div>
            {{ component('Card:Refresh', {
                path: path('app_project_index'),
                queryNames:['type', 'state', 'amount', 'filter', 'page']
            }) }}

            {{ component('Card:FilterDropDown', {
                path:'app_project_index',
                label:'Tipos de proyecto',
                queryName: 'type',
                options:types
            }) }}

            {{ component('Card:FilterDropDown', {
                path:'app_project_index',
                label:'Estados de proyecto',
                queryName: 'state',
                options:states
            }) }}

            {{ tableActionButton3(path('app_project_new'), 'bi:plus-lg', 'Nuevo', 'Nuevo proyecto', stimulusAction('twig/card/card', 'newElement:prevent', null, {url:path('app_project_new')})) }}
        </div>
    {% endblock %}

    {% block body %}
        {% component 'Table:Table' with {
            paginator: paginator,
        } %}
            {% block message %}
                {{ component('message:filter', {
                    type: 'type',
                    label: 'Proyectos de tipo',
                    filterFrom: 'App\\Entity\\Enums\\ProjectType',
                }) }}

                {{ component('message:filter', {
                    type: 'state',
                    label: 'Proyectos en estado',
                    filterFrom: 'App\\Entity\\Enums\\ProjectState',
                }) }}
            {% endblock %}

            {% block tableHead %}
                <tr>
                    <th>Nombre</th>
                    <th class="text-center">Obras {{ ux_icon('bx:link-external', {class:'bi'}) }}</th>
                    {% if app.request.query.get('type') == '' %}
                        <th>Tipo</th>
                    {% endif %}
                    {% if app.request.query.get('state') == '' %}
                        <th>Estado</th>
                    {% endif %}
                    {#                    <th>Area ocupada</th> #}
                    <th>Inversi칩n {{ ux_icon('bi:window-stack', {class:'bi'}) }}</th>
                    <th></th>
                </tr>
            {% endblock %}

            {% block tableBody %}
                {% from 'macros/buttons.html.twig' import tableActionButton, deleteFormButton, deleteFormButton2, tableActionButton2, tableActionButton3 %}

                {% for project in paginator.getData() %}
                    <tr {{ stimulusController('delete-form-container') }}>
                        <td>{{ project.name }}</td>
                        <td class="text-center">
                            <a href="{{ path('app_building_project', {'project':project.id}) }}">
                                <span
                                        class="badge rounded-pill bg-success"
                                        title="Obras del proyecto"
                                        style="cursor: pointer"
                                        data-bs-toggle="tooltip"
                                >
                                {{ project.getBuildingsAmount() }}
                                <span class="visually-hidden">Obras</span>
                                </span></a>
                        </td>
                        {% if app.request.query.get('type') == '' %}
                            <td>{{ project.type.getLabelFrom(project.type) }}</td>
                        {% endif %}
                        {% if app.request.query.get('state') == '' %}
                            <td>{{ project.state.getLabelFrom(project.state) }}</td>
                        {% endif %}
                        <td>
                            <a data-bs-toggle="modal" data-bs-target="#detail-investment"
                               href="#" style="text-decoration: none" {{ stimulusController('detail-link-modal', {
                                url: path('app_investment_show', {id:project.investment.id, state:'modal'}),
                                container: '#detail-investment .modal-body'
                            }) }}
                            >
                                {{ project.investment }}
                            </a>
                        </td>
                        <td class="text-end">
                            <div class="dropdown d-inline-block" data-bs-toggle="tooltip" title="Obras del proyecto">
                                <button type="button"
                                        class="btn text-decoration-none btn-sm dropdown-toggle show dropdown-sm btn-link"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false" title="Obras del proyecto"
                                >
                                    {{ ux_icon('streamline-pixel:construction-building-real-eastate', {'class':'bi'}) }}
                                </button>
                                <ul class="dropdown-menu" data-bs-theme="light">
                                    {% for building in project.buildings %}
                                        <li>
                                            <a class="dropdown-item"
                                               href="{{ path('app_building_edit', {id: building.id}) }}"
                                               title="{{ building.name }}">
                                                <small>{{ building.shortName() }}</small>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {{ tableActionButton3(path('app_project_show', {'id': project.id}), 'bi:eye', '', 'Detalle del proyecto', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_project_show', {'id': project.id})}), 'btn-link') }}
                            {#                            {{ tableActionButton3(path('app_project_edit', {'id': project.id}), 'fa:edit', '', 'Editar proyecto', stimulusAction('twig/table/table', 'selectElement:prevent', null, {url:path('app_project_edit', {'id': project.id})})) }} #}
                            {{ tableActionButton3(path('app_project_edit', {'id': project.id}), 'fa:edit', '', 'Editar proyecto', '', 'btn-link') }}

                            {{ component('DeleteForm', {
                                path: path('app_project_delete', {'id': project.id}),
                                confirm: 'Est치 seguro que desea eliminar el proyecto?',
                                token: 'delete' ~ project.id,
                                title: 'Eliminar proyecto',
                                icon: 'bi:trash',
                                cssClass: 'btn-link text-danger'
                            }) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">No se encontraron proyectos.</td>
                    </tr>
                {% endfor %}
            {% endblock %}

        {% endcomponent %}

        {#        {% component 'Modal:Modal' with { #}
        {#            title: 'Detalle de la constructora', #}
        {#            id: 'detail-constructor', #}
        {#        } %} #}
        {#            {% block body %} #}
        {#                Cargando datos de la constructora... #}
        {#            {% endblock %} #}
        {#        {% endcomponent %} #}

        {% component 'Modal:Modal' with {
            title: 'Detalle de la inversi칩n',
            id: 'detail-investment',
        } %}
            {% block body %}
                Cargando datos de la inversi칩n...
            {% endblock %}
        {% endcomponent %}

    {% endblock %}

{% endcomponent %}