{{ form_start(formName) }}
<div class="row">
    <div class="col">
        <div class="mb-3">
            {{ form_label(formName.person.name) }}
            <div class="col-sm-6 mb-3 mb-sm-0 input-group">
                <span class="input-group-text" id="basic-addon1" style="background-color: transparent">
                    {{ ux_icon('fa:edit', {class:'bi'}) }}
                </span>
                {{ form_widget(formName.person.name) }}
            </div>
            {{ form_errors(formName.person.name) }}
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            {{ form_label(formName.person.lastname) }}
            <div class="col-sm-6 mb-3 mb-sm-0 input-group">
                <span class="input-group-text" id="basic-addon1" style="background-color: transparent">
                    {{ ux_icon('fa:edit', {class:'bi'}) }}
                </span>
                {{ form_widget(formName.person.lastname) }}
            </div>
            {{ form_errors(formName.person.lastname) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="mb-3">
            {{ form_label(formName.person.identificationNumber) }}
            <div class="col-sm-6 mb-3 mb-sm-0 input-group">
                <span class="input-group-text" id="basic-addon1" style="background-color: transparent">
                    {{ ux_icon('fa:edit', {class:'bi'}) }}
                </span>
                {{ form_widget(formName.person.identificationNumber) }}
            </div>
            {{ form_errors(formName.person.identificationNumber) }}
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            {{ form_label(formName.phone) }}
            <div class="col-sm-6 mb-3 mb-sm-0 input-group">
                <span class="input-group-text" id="basic-addon1" style="background-color: transparent">
                    {{ ux_icon('fa:edit', {class:'bi'}) }}
                </span>
                {{ form_widget(formName.phone) }}
            </div>
            {{ form_errors(formName.phone) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="mb-3">
            {{ form_label(formName.email) }}
            <div class="col-sm-6 mb-3 mb-sm-0 input-group">
                <span class="input-group-text" id="basic-addon1" style="background-color: transparent">
                    {{ ux_icon('fa:edit', {class:'bi'}) }}
                </span>
                {{ form_widget(formName.email) }}
            </div>
            {{ form_errors(formName.email) }}
        </div>
    </div>
    <div class="col">

    </div>
</div>
<div class="mb-3">
    <button class="btn btn-primary btn-sm" type="submit">
        {{ ux_icon('fa:save', {class:'bi'}) }}
        Salvar
    </button>
</div>
{{ form_end(formName) }}
