{% extends 'pdf.html.twig' %}

{% block title %}Ejemplo{% endblock %}

{% block header %}
    <div style=";width: 49%" class="col">
        <img src="{{ logo }}" class="logo" alt="Logo" style="max-height: 60px;">
        <h2 style="">Título</h2>
    </div>

    <div style="width: 49%;" class="col">
        <div style="margin-left: 200px">
            <h3>Resumen derecha:</h3>
            <strong>Id:</strong> 3<br>
            <strong>Fecha:</strong> {{ 'now'|date('Y-m-d') }}<br>
            <strong>Cantidad:</strong> 5<br>
            <strong>Dinero:</strong> $15, 532.50<br>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div>
        <strong>Subtitulo:</strong><br>
        {{ billTo.name|default('Cliente') }}<br>
        {{ billTo.address|default('Dirección') }}
    </div>
    <br>
    <table>
        <thead>
        <tr>
            <th>Order</th>
            <th>Service Period</th>
            <th>Product Description</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Line Total</th>
        </tr>
        </thead>
        <tbody>
        {% for i in 1..20 %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ 'now'|date('Y-m-d') }} - {{ 'now'|date('Y-m-d') }}</td>
                <td>Un poco de muela sobre la fila</td>
                <td>$976.50</td>
                <td>5</td>
                <td>$4,882.50</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div style="float: right;margin-top: 20px;">
        <table>
            <tbody>
            <tr>
                <td>Subtotal</td>
                <td>$15, 532.50</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th>Total</th>
                <th>$15, 532.50</th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}

{% block footer %}
    Procrea S.R.L.<br>
    {{ 'now'|date('Y-m-d') }}
{% endblock %}
